<div class="container px-4 py-20 mx-auto font-sans">
  {{!-- Main title section --}}
  <div class="space-y-8">
    <div class="flex items-center justify-center gap-x-10">
      <div>
        <img src="https://placeholder.co/400x150.png" alt="">
      </div>
      <div class="font-serif font-bold text-center uppercase">
        <h2 class="mb-4 text-3xl">Our Hall Of</h2>
        <h1 class="text-4xl">Fame</h1>
      </div>
      <div>
        <img src="https://placeholder.co/400x150.png" alt="">
      </div>
    </div>
    <p class="w-3/5 mx-auto text-lg text-center">
      Celebrate the legends of chess in our Hall of Fame. Discover the stories, achievements, and timeless contributions
      of the greatest players in history, from world champions to groundbreaking innovators.
    </p>
    <div class="searchbar">
      <img src="https://placeholder.co/25.png" alt="">
      <input type="text" placeholder="Search For a Top-Rated Player...">
    </div>
  </div>

  
</div>