<footer class="container px-8 mx-auto font-sans">
  <div
    class="grid grid-cols-1 gap-10 py-8 text-center border-t-4 sm:text-left sm:grid-cols-2 lg:grid-cols-3 xl:gap-x-20 border-oak">
    {{!-- Main title --}}
    <div>
      <div class="space-y-2">
        <h2 class="font-serif text-3xl font-bold uppercase text-oak sm:text-4xl">Chessless</h2>
        <hr class="w-3/4 mx-auto sm:w-full border-[1px] border-oak">
        <h5 class="text-lg">© 2024 Chessless. All rights reserved</h5>
      </div>
      <div class="flex justify-center mt-4 gap-x-4">
        <a href="/attributions" class="round-icon-button icon-king"></a>
        <a href="/attributions" class="round-icon-button icon-queen"></a>
        <a href="/attributions" class="round-icon-button icon-bishop"></a>
      </div>
    </div>

    {{!-- Content --}}
    <div class="space-y-10">
      <div>
        <div class="space-y-2">
          <h2 class="font-serif text-xl font-bold uppercase text-oak">Find Your Way</h2>
          <hr class="border-[1px] border-oak w-1/3 mx-auto sm:mx-0">
        </div>
        <ul class="flex flex-wrap justify-center mt-4 sm:text-lg gap-y-1 sm:justify-normal">
          <li class="w-1/3 sm:w-1/2"><a href="/notation">Learn Chess</a></li>
          <li class="w-1/3 sm:w-1/2"><a href="/attributions">Attributions</a></li>
          <li class="w-1/3 sm:w-1/2"><a href="/daily-puzzle">Daily Puzzle</a></li>
          <li class="w-1/3 sm:w-1/2"><a href="/contact">Contact Us</a></li>
          <li class="w-1/3 sm:w-1/2"><a href="/hall-of-fame">Hall of Fame</a></li>
          <li class="w-1/3 sm:hidden"></li>
        </ul>
      </div>
      <div>
        <div class="space-y-2">
          <h2 class="font-serif text-xl font-bold uppercase text-oak">Pieces</h2>
          <hr class="border-[1px] border-oak w-1/3 mx-auto sm:mx-0">
        </div>
        <ul class="flex flex-wrap justify-center mt-4 sm:text-lg gap-y-1">
          <li class="w-1/3 sm:w-1/2"><a href="/pieces/king">The King</a></li>
          <li class="w-1/3 sm:w-1/2"><a href="/pieces/bishop">The Bishop</a></li>
          <li class="w-1/3 sm:w-1/2"><a href="/pieces/queen">The Queen</a></li>
          <li class="w-1/3 sm:w-1/2"><a href="/pieces/knight">The Knight</a></li>
          <li class="w-1/3 sm:w-1/2"><a href="/pieces/rook">The Rook</a></li>
          <li class="w-1/3 sm:w-1/2"><a href="/pieces/pawn">The Pawn</a></li>
        </ul>
      </div>
    </div>

    {{!-- Search for a player --}}
    <div
      class="pt-8 text-center sm:col-span-2 lg:col-span-1 lg:text-left sm:border-t-4 border-oak lg:pt-0 lg:border-none">
      <div class="space-y-2">
        <h2 class="font-serif text-xl font-bold uppercase text-oak">Find A Player</h2>
        <hr class="border-[1px] border-oak w-1/2 mx-auto lg:mx-0 lg:w-1/3">
      </div>
      <div class="w-11/12 sm:w-3/4 mx-auto mt-4 space-y-4 lg:w-full !text-base">
        <form action="/hall-of-fame" method="post">
          <div class="searchbar !w-full">
            <span class="text-xl icon-search"></span>
            <input type="text" placeholder="Search a Player's Name..." name="search" class="w-full">
          </div>
        </form>
        <div class="flex justify-center lg:justify-normal">
          <a href="/hall-of-fame" class="button !text-birch !border-birch flex items-center !py-1 !px-4">
            <span class="mr-4">Or Just See Them All</span>
            <span class="text-2xl icon-next-arrow"></span>
          </a>
        </div>
      </div>
    </div>
  </div>

  {{!-- Footer image --}}
  <img src="/images/footer.png" alt="" class="object-cover h-40 sm:h-auto">
</footer>