<header class="mx-auto flex h-[4.5rem] bg-black text-cream font-sans">
  <div class="container flex flex-wrap items-center px-10 py-6 mx-auto lg:flex-nowrap">
    <div class="flex items-center flex-1">
      <a href="/" class="inline-flex items-center gap-2">
        <img src="https://placehold.co/25.png" alt="">
        <h1 class="font-semibold">Chessless</h1>
      </a>
    </div>
    <label for="menu-toggle" class="cursor-pointer lg:hidden">
      <svg class="text-gray-100 fill-current" width="20" height="20" viewBox="0 0 20 20">
        <title>menu</title>
        <path d="M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z"></path>
      </svg>
    </label>
    <input class="hidden" type="checkbox" id="menu-toggle" />
    <div class="z-10 hidden mt-6 rounded-md lg:block basis-full lg:basis-auto lg:mt-0 bg-black/50 backdrop-blur-md"
      id="menu">
      <ul class="flex flex-col items-center text-center gap-x-7 gap-y-2 lg:flex-row">
        <hr class="w-full border-cream border-1 lg:hidden">
        <li class="relative w-full lg:w-auto mega-menu-panel group">
          <a href="/notation" class="header-item mega-menu-btn">
            <span>Learn</span>
            <span class="text-xs ms-2 icon-down-arrow"></span>
          </a>
          <hr class="hidden w-0 duration-200 lg:block group-hover:w-full">
          <ul
            class="absolute grid grid-cols-2 gap-4 p-4 translate-x-1/2 rounded-md w-3/5 lg:w-80 bg-ash/80 bg-[url(/images/checkered-background.png)] z-30 top-12 lg:top-10 right-1/2 duration-300 transition-all mega-menu-box">
            <li><a href="#">The Pieces</a></li>
            <li><a href="#">Board Setup</a></li>
            <li><a href="#">Basic Terms</a></li>
            <li><a href="#">Simple Checkmates</a></li>
          </ul>
        </li>
        <li class="relative w-full lg:w-auto mega-menu-panel group">
          <a href="/daily-puzzle" class="header-item mega-menu-btn">
            <span>Puzzles</span>
            <span class="text-xs ms-2 icon-down-arrow"></span>
          </a>
          <hr class="hidden w-0 duration-200 lg:block group-hover:w-full">
          <ul
            class="absolute grid grid-cols-2 gap-4 p-4 translate-x-1/2 rounded-md w-3/5 lg:w-80 bg-ash/80 bg-[url(/images/checkered-background.png)] z-30 top-12 lg:top-10 right-1/2 duration-300 transition-all mega-menu-box">
            <li><a href="#">Puzzle Forge</a></li>
            <li><a href="#">Puzzle FAQ</a></li>
          </ul>
        </li>
        <li class="w-full lg:w-auto group">
          <a href="/hall-of-fame" class="header-item">Hall Of Fame</a>
          <hr class="hidden w-0 duration-200 lg:block group-hover:w-full">
        </li>
        <li class="w-full lg:w-auto group">
          <a href="/attributions" class="header-item">Attributions</a>
          <hr class="hidden w-0 duration-200 lg:block group-hover:w-full">
        </li>
        <li class="w-full lg:w-auto group">
          <a href="/contact" class="header-item">Contact Us</a>
          <hr class="hidden w-0 duration-200 lg:block group-hover:w-full">
        </li>
        <li class="w-full lg:w-auto xl:ml-20"><a href="/contact"
            class="header-item !px-6 !py-2 lg:!px-8 lg:!py-2 rounded-md lg:bg-ash lg:border-[1px] whitespace-nowrap lg:hover:bg-charcoal focus:!text-gray-200">Sign
            Up</a>
        </li>
        <li class="w-full lg:w-auto"><a href="/contact"
            class="header-item lg:!px-6 lg:!py-2 rounded-md lg:bg-ash lg:border-[1px] whitespace-nowrap lg:hover:bg-charcoal focus:!text-gray-200 lg:border-birch lg:text-birch">Sign
            In</a>
        </li>

      </ul>
    </div>
  </div>
</header>