<div
  class="w-full md:w-[calc(50%-18px)] xl:w-[calc(33.333%-22px)] border-2 border-oak rounded-lg bg-[url(/images/checkered-background.png)] p-4 relative">
  <div class="flex flex-col-reverse items-center mb-4 gap-y-2 sm:flex-row gap-x-4">
    <h3 class="font-serif text-2xl font-bold text-center uppercase sm:text-left sm:flex-1 text-oak">
      {{fact}}
    </h3>
    <div class="aspect-square border-oak border-[1px] rounded-full flex justify-center items-center w-14 h-14">
      <span class="text-3xl icon-knight text-oak"></span>
    </div>
  </div>
  <p class="text-center 2xl:text-lg sm:text-left">
    {{description}}
  </p>
</div>