#dependency directories
node_modules
deploy

#Environment variables file
.env
.env.test

#Generated output
dist
build

#Generated CSS
assets/css/*.min.css

#Generated JS
assets/js/*.min.js

#manifest file
assets/manifest.json

#macOS
.DS_Store

#Visual Studio Code
.vscode

#other
other