<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" href="/images/logo.svg" type="image/svg+xml">
  <link rel="stylesheet" href="/css/core.min.css">
  <link rel="stylesheet" href="/chessground/assets/chessground.base.css">
  <link rel="stylesheet" href="/chessground/assets/chessground.brown.css">
  <title>Knightless{{#if title}} - {{title}}{{/if}}</title>
</head>

<body>
  {{#if (neq pageCategory "authentication")}}
  {{> header}}
  {{/if}}
  {{{body}}}
  {{#if (neq pageCategory "authentication")}}
  {{> footer}}
  {{/if}}
  <script src="/js/core.min.js" type="module"></script>
  <script src="https://d3js.org/d3.v6.min.js"></script>
</body>

</html>