<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/{{assetPath 'core.min.css'}}">
  <link rel="stylesheet" href="/chessboardjs/chessboard-1.0.0.min.css">
  <title>{{title}}</title>
</head>

<body>
  {{> header}}
  {{{body}}}
  {{> footer}}
  <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
  <script src="/chessboardjs/chessboard-1.0.0.min.js"></script>
  <script src="/js/{{assetPath 'core.min.js'}}" type="module"></script>
</body>

</html>