<div class="container mx-auto">
  <section class="py-20 section-container">
    <div class="relative mb-10 space-y-2 font-serif font-bold text-center uppercase text-dark-oak">
      <h3 class="mb-8 text-3xl">Giving Out</h3>
      <div class="flex flex-col items-center justify-center mb-8">
        <hr class="w-full border-2 border-oak">
        <h2 class="px-4 text-4xl -translate-y-1/2 bg-cream">A Special Thanks</h2>
      </div>
      <p class="w-3/5 mx-auto font-sans text-lg normal-case">
        Giving out a special thanks is our way of honoring individuals whose efforts have made a significant impact,
        expressing deep gratitude for their contributions and support.
      </p>
    </div>

    <div class="grid grid-cols-1 gap-5 lg:grid-cols-4 md:px-10 lg:px-0">
      <div class="p-8 duration-150 bg-white lg:col-span-2 group hover:bg-dark-oak rounded-2xl">
        <div class="flex items-center">
          <div class="flex-1 space-y-1">
            <h3 class="duration-150 text-oak group-hover:text-cream">The Luminary of Inspiration</h3>
            <h2 class="font-serif text-xl font-bold uppercase duration-150 group-hover:text-cream">Mehdi Mousavi</h2>
            <hr class="border-[1px] border-dark-oak w-1/2 group-hover:border-cream duration-150">
          </div>
          <div>
            <span class="text-6xl icon-king group-hover:text-cream"></span>
          </div>
        </div>
        <div class="mt-6 space-y-6 font-sans text-lg duration-150 group-hover:text-cream">
          <p>
            As one of the most pivotal roles in our journey, this individual is the visionary who originally conceived
            the idea for the website.
          </p>
          <p>
            Their creativity and foresight laid the foundation for everything that followed. We
            extend our deepest gratitude for their invaluable contribution, which has been instrumental in shaping our
            success.
          </p>
        </div>
      </div>
      <div class="p-8 duration-150 bg-white lg:col-span-2 group hover:bg-dark-oak rounded-2xl">
        <div class="flex items-center">
          <div class="flex-1 space-y-1">
            <h3 class="duration-150 text-oak group-hover:text-cream">The Chess Trailblazer</h3>
            <h2 class="font-serif text-xl font-bold uppercase duration-150 group-hover:text-cream">Mitra Kouchpeydeh
            </h2>
            <hr class="border-[1px] border-dark-oak w-1/2 group-hover:border-cream duration-150">
          </div>
          <div>
            <span class="text-6xl icon-queen group-hover:text-cream"></span>
          </div>
        </div>
        <div class="mt-6 space-y-6 font-sans text-lg duration-150 group-hover:text-cream">
          <p>
            This person played a crucial role in my early journey into chess, helping me develop my interest in the game
            itself.
          </p>
          <p>
            Through our games and their unwavering encouragement, they inspired me to delve deeper into the game and
            fostered a lifelong passion for chess. Their influence and mentorship were instrumental in shaping my love
            for the sport.
          </p>
        </div>
      </div>
      <div class="p-8 duration-150 bg-white lg:col-span-2 lg:col-start-2 group hover:bg-dark-oak rounded-2xl">
        <div class="flex items-center">
          <div class="flex-1 space-y-1">
            <h3 class="duration-150 text-oak group-hover:text-cream">The Monumental Mentor</h3>
            <h2 class="font-serif text-xl font-bold uppercase duration-150 group-hover:text-cream">Salendra Dev</h2>
            <hr class="border-[1px] border-dark-oak w-1/2 group-hover:border-cream duration-150">
          </div>
          <div>
            <span class="text-6xl icon-bishop group-hover:text-cream"></span>
          </div>
        </div>
        <div class="mt-6 space-y-6 font-sans text-lg duration-150 group-hover:text-cream">
          <p>
            Being an influential figure in my growth in the game, this person provided not only guidance but also the
            wisdom and encouragement that helped shape my chess path.
          </p>
          <p>
            Their unwavering support and dedication have left an indelible mark on my journey, inspiring me to reach new
            heights and constantly strive for improvement in my games. I am deeply grateful for their invaluable
            mentorship.
          </p>
        </div>
      </div>
    </div>
  </section>

  <section class="py-10 font-sans section-container">
    <div class="relative mb-10 space-y-2 font-serif font-bold text-center uppercase text-dark-oak">
      <h3 class="mb-8 text-3xl">Image</h3>
      <div class="flex flex-col items-center justify-center mb-8">
        <hr class="w-full border-2 border-oak">
        <h2 class="px-4 text-4xl -translate-y-1/2 bg-cream">Attributions</h2>
      </div>
      <p class="w-3/5 mx-auto font-sans text-lg normal-case">
        Our image attributions provide proper recognition to the creators and sources of images used within content.
        They
        ensure that credit is given where it's due, acknowledging the original work.
      </p>
    </div>

    <ol class="p-6 mx-auto space-y-6 bg-white lg:w-4/5 md:space-y-3 rounded-2xl">
      <li><a href="/hall-of-fame/magnus-carlsen" target="_blank" class="link">Magnus Carlsen</a> - By Frans Peeters
        under <a href="https://creativecommons.org/licenses/by-sa/2.0" target="_blank" class="link">CC BY-SA 2.0</a>
        (cropped)</li>
      <li><a href="/hall-of-fame/garry-kasparov" target="_blank" class="link">Garry Kasparov</a> - By Collision Conf
        under <a href="https://creativecommons.org/licenses/by/2.0" target="_blank" class="link">CC BY 2.0</a> (cropped)
      </li>
      <li><a href="/hall-of-fame/fabiano-caruana" target="_blank" class="link">Fabiano Caruana</a> - By Andreas
        Kontokanis under <a href="https://creativecommons.org/licenses/by-sa/2.0" target="_blank" class="link">CC BY-SA
          2.0</a> (cropped)</li>
      <li><a href="/hall-of-fame/levon-aronian" target="_blank" class="link">Levon Aronian</a> - By Frans Peeters under
        <a href="https://creativecommons.org/licenses/by-sa/2.0" target="_blank" class="link">CC BY-SA 2.0</a> (cropped)
      </li>
      <li><a href="/hall-of-fame/wesley-so" target="_blank" class="link">Wesley So</a> - By Andreas Kontokanis under <a
          href="https://creativecommons.org/licenses/by-sa/2.0" target="_blank" class="link">CC BY-SA 2.0</a> (cropped)
      </li>
      <li><a href="/hall-of-fame/shakhriyar-mamedyarov" target="_blank" class="link">Shakhriyar Mamedyarov</a> - By
        Andreas Kontokanis under <a href="https://creativecommons.org/licenses/by-sa/2.0" target="_blank"
          class="link">CC BY-SA 2.0</a> (cropped)</li>
      <li><a href="/hall-of-fame/maxime-vachier" target="_blank" class="link">Maxime Vachier</a> - By Wolfgang Jekel
        under <a href="https://creativecommons.org/licenses/by/2.0" target="_blank" class="link">CC BY 2.0</a> (cropped)
      </li>
      <li><a href="/hall-of-fame/viswanathan-anand" target="_blank" class="link">Viswanathan Anand</a> - By Wolfgang
        Jekel under <a href="https://creativecommons.org/licenses/by/2.0" target="_blank" class="link">CC BY 2.0</a>
        (cropped)</li>
      <li><a href="/hall-of-fame/vladimir-kramnik" target="_blank" class="link">Vladimir Kramnik</a> - By Andreas
        Kontokanis under <a href="https://creativecommons.org/licenses/by-sa/2.0" target="_blank" class="link">CC BY-SA
          2.0</a> (cropped)</li>
      <li><a href="/hall-of-fame/veselin-topalov" target="_blank" class="link">Veselin Topalov</a> - By Secretaría de
        Cultura under <a href="https://creativecommons.org/licenses/by-sa/2.0" target="_blank" class="link">CC BY-SA
          2.0</a> (cropped)</li>
      <li><a href="/hall-of-fame/hikaru-nakamura" target="_blank" class="link">Hikaru Nakamura</a> - By Andreas
        Kontokanis under <a href="https://creativecommons.org/licenses/by-sa/2.0" target="_blank" class="link">CC BY-SA
          2.0</a> (cropped)</li>
      <li><a href="/hall-of-fame/ding-liren" target="_blank" class="link">Ding Liren</a> - By Frans Peeters under <a
          href="https://creativecommons.org/licenses/by-sa/2.0" target="_blank" class="link">CC BY-SA 2.0</a> (cropped)
      </li>
      <li><a href="/hall-of-fame/alexander-grischuk" target="_blank" class="link">Alexander Grischuk</a> - By Andreas
        Kontokanis under <a href="https://creativecommons.org/licenses/by-sa/2.0" target="_blank" class="link">CC BY-SA
          2.0</a> (cropped)</li>
      <li><a href="/hall-of-fame/alireza-firouzja" target="_blank" class="link">Alireza Firouzja</a> - By Frans Peeters
        under <a href="https://creativecommons.org/licenses/by-sa/2.0" target="_blank" class="link">CC BY-SA 2.0</a>
        (cropped)</li>
      <li><a href="/hall-of-fame/anish-giri" target="_blank" class="link">Anish Giri</a> - By Frans Peeters under <a
          href="https://creativecommons.org/licenses/by-sa/2.0" target="_blank" class="link">CC BY-SA 2.0</a> (cropped)
      </li>
      <li><a href="/hall-of-fame/ian-nepomniachtchi" target="_blank" class="link">Ian Nepomniachtchi</a> - By Frans
        Peeters under <a href="https://creativecommons.org/licenses/by-sa/2.0" target="_blank" class="link">CC BY-SA
          2.0</a> (cropped)</li>
      <li><a href="/hall-of-fame/teimour-radjabov" target="_blank" class="link">Teimour Radjabov</a> - By Andreas
        Kontokanis under <a href="https://creativecommons.org/licenses/by-sa/2.0" target="_blank" class="link">CC BY-SA
          2.0</a> (cropped)</li>
      <li><a href="/hall-of-fame/alexander-morozevich" target="_blank" class="link">Alexander Morozevich</a> - By
        Andreas Kontokanis under <a href="https://creativecommons.org/licenses/by-sa/2.0" target="_blank"
          class="link">CC BY-SA 2.0</a> (cropped)</li>
      <li><a href="/hall-of-fame/sergey-karjakin" target="_blank" class="link">Sergey Karjakin</a> - By Andreas
        Kontokanis under <a href="https://creativecommons.org/licenses/by-sa/2.0" target="_blank" class="link">CC BY-SA
          2.0</a> (cropped)</li>
      <li><a href="/hall-of-fame/vasyl-ivanchuk" target="_blank" class="link">Vasyl Ivanchuk</a> - By Andreas Kontokanis
        under <a href="https://creativecommons.org/licenses/by-sa/2.0" target="_blank" class="link">CC BY-SA 2.0</a>
        (cropped)</li>
      <li><a href="/hall-of-fame/anatoly-karpov" target="_blank" class="link">Anatoly Karpov</a> - By Jürg Vollmer under
        <a href="https://creativecommons.org/licenses/by-sa/2.0" target="_blank" class="link">CC BY-SA 2.0</a> (cropped)
      </li>
      <li><a href="/hall-of-fame/arjun-erigaisi" target="_blank" class="link">Arjun Erigaisi</a> - By Frans Peeters
        under <a href="https://creativecommons.org/licenses/by-sa/2.0" target="_blank" class="link">CC BY-SA 2.0</a>
        (cropped)</li>
      <li><a href="/hall-of-fame/boris-gelfand" target="_blank" class="link">Boris Gelfand</a> - By Stephan64 under <a
          href="https://creativecommons.org/licenses/by-sa/3.0" target="_blank" class="link">CC BY-SA 3.0</a> (cropped)
      </li>
      <li><a href="/hall-of-fame/richard-rapport" target="_blank" class="link">Richard Rapport</a> - By Andreas
        Kontokanis under <a href="https://creativecommons.org/licenses/by-sa/2.0" target="_blank" class="link">CC BY-SA
          2.0</a> (cropped)</li>
      <li><a href="/hall-of-fame/pentala-harikrishna" target="_blank" class="link">Pentala Harikrishna</a> - By Andreas
        Kontokanis under <a href="https://creativecommons.org/licenses/by-sa/2.0" target="_blank" class="link">CC BY-SA
          2.0</a> (cropped)</li>
      <li><a href="/hall-of-fame/peter-svidler" target="_blank" class="link">Peter Svidler</a> - By Andreas Kontokanis
        under <a href="https://creativecommons.org/licenses/by/2.0" target="_blank" class="link">CC BY 2.0</a> (cropped)
      </li>
      <li><a href="/hall-of-fame/nodirbek-abdusattorov" target="_blank" class="link">Nodirbek Abdusattorov</a> - By
        Frans Peeters under <a href="https://creativecommons.org/licenses/by-sa/2.0" target="_blank" class="link">CC
          BY-SA 2.0</a> (cropped)</li>
      <li><a href="/hall-of-fame/leinier-domínguez" target="_blank" class="link">Leinier Domínguez</a> - By GFHund
        under <a href="https://creativecommons.org/licenses/by-sa/4.0" target="_blank" class="link">CC BY-SA 4.0</a>
        (cropped)</li>
      <li><a href="/hall-of-fame/dommaraju-gukesh" target="_blank" class="link">Dommaraju Gukesh</a> - By Frans Peeters
        under <a href="https://creativecommons.org/licenses/by-sa/2.0" target="_blank" class="link">CC BY-SA 2.0</a>
        (cropped)</li>
      <li><a href="/hall-of-fame/pavel-eljanov" target="_blank" class="link">Pavel Eljanov</a> - By Andreas Kontokanis
        under <a href="https://creativecommons.org/licenses/by-sa/2.0" target="_blank" class="link">CC BY-SA 2.0</a>
        (cropped)</li>
      <li><a href="/hall-of-fame/yu-yangyi" target="_blank" class="link">Yu Yangyi</a> - By Andreas Kontokanis under <a
          href="https://creativecommons.org/licenses/by-sa/2.0" target="_blank" class="link">CC BY-SA 2.0</a> (cropped)
      </li>
      <li><a href="/hall-of-fame/ruslan-ponomariov" target="_blank" class="link">Ruslan Ponomariov</a> - By Andreas
        Kontokanis under <a href="https://creativecommons.org/licenses/by-sa/2.0" target="_blank" class="link">CC BY-SA
          2.0</a> (cropped)</li>
      <li><a href="/hall-of-fame/peter-leko" target="_blank" class="link">Peter Leko</a> - By Andreas Kontokanis under
        <a href="https://creativecommons.org/licenses/by-sa/2.0" target="_blank" class="link">CC BY-SA 2.0</a> (cropped)
      </li>
      <li><a href="/hall-of-fame/gata-kamsky" target="_blank" class="link">Gata Kamsky</a> - By Andreas Kontokanis under
        <a href="https://creativecommons.org/licenses/by/2.0" target="_blank" class="link">CC BY 2.0</a> (cropped)
      </li>
      <li><a href="/hall-of-fame/wang-hao" target="_blank" class="link">Wang Hao</a> - By Stephan64 under <a
          href="https://creativecommons.org/licenses/by-sa/3.0" target="_blank" class="link">CC BY-SA 3.0</a> (cropped)
      </li>
      <li><a href="/hall-of-fame/wei-yi" target="_blank" class="link">Wei Yi</a> - By Frans Peeters under <a
          href="https://creativecommons.org/licenses/by-sa/2.0" target="_blank" class="link">CC BY-SA 2.0</a> (cropped)
      </li>
      <li><a href="/hall-of-fame/vugar-gashimov" target="_blank" class="link">Vugar Gashimov</a> - By CLUB DE AJEDREZ
        LINEX-MAGIC under <a href="https://creativecommons.org/licenses/by/2.0" target="_blank" class="link">CC BY
          2.0</a> (cropped)</li>
      <li><a href="/hall-of-fame/michael-adams" target="_blank" class="link">Michael Adams</a> - By Andreas Kontokanis
        under <a href="https://creativecommons.org/licenses/by/2.0" target="_blank" class="link">CC BY 2.0</a> (cropped)
      </li>
      <li><a href="/hall-of-fame/vladislav-artemiev" target="_blank" class="link">Vladislav Artemiev</a> - By Vysotsky
        under <a href="https://creativecommons.org/licenses/by-sa/4.0" target="_blank" class="link">CC BY-SA 4.0</a>
        (cropped)</li>
      <li><a href="/hall-of-fame/dmitry-jakovenko" target="_blank" class="link">Dmitry Jakovenko</a> - By Andreas
        Kontokanis under <a href="https://creativecommons.org/licenses/by/2.0" target="_blank" class="link">CC BY
          2.0</a> (cropped)</li>
      <li><a href="/hall-of-fame/jan-krzysztof-duda" target="_blank" class="link">Jan-Krzysztof Duda</a> - From
        Jan-Krzysztof Duda's X Account (cropped)</li>
      <li><a href="/hall-of-fame/evgeny-tomashevsky" target="_blank" class="link">Evgeny Tomashevsky</a> - By Andreas
        Kontokanis under <a href="https://creativecommons.org/licenses/by-sa/2.0" target="_blank" class="link">CC BY-SA
          2.0</a> (cropped)</li>
      <li><a href="/hall-of-fame/li-chao" target="_blank" class="link">Li Chao</a> - By Andreas Kontokanis under <a
          href="https://creativecommons.org/licenses/by-sa/2.0" target="_blank" class="link">CC BY-SA 2.0</a> (cropped)
      </li>
      <li><a href="/hall-of-fame/rameshbabu-praggnanandhaa" target="_blank" class="link">Rameshbabu Praggnanandhaa</a> -
        By Frans Peeters under <a href="https://creativecommons.org/licenses/by-sa/2.0" target="_blank" class="link">CC
          BY-SA 2.0</a> (cropped)</li>
      <li><a href="/hall-of-fame/wang-yue" target="_blank" class="link">Wang Yue</a> - By Andreas Kontokanis under <a
          href="https://creativecommons.org/licenses/by-sa/2.0" target="_blank" class="link">CC BY-SA 2.0</a> (cropped)
      </li>
      <li><a href="/hall-of-fame/alexei-shirov" target="_blank" class="link">Alexei Shirov</a> - By Andreas Kontokanis
        under <a href="https://creativecommons.org/licenses/by-sa/2.0" target="_blank" class="link">CC BY-SA 2.0</a>
        (cropped)</li>
      <li><a href="/hall-of-fame/sergei-movsesian" target="_blank" class="link">Sergei Movsesian</a> - By Andreas
        Kontokanis under <a href="https://creativecommons.org/licenses/by/2.0" target="_blank" class="link">CC BY
          2.0</a> (cropped)</li>
      <li><a href="/hall-of-fame/david-navara" target="_blank" class="link">David Navara</a> - By Andreas Kontokanis
        under <a href="https://creativecommons.org/licenses/by-sa/2.0" target="_blank" class="link">CC BY-SA 2.0</a>
        (cropped)</li>
      <li><a href="/hall-of-fame/nikita-vitiugov" target="_blank" class="link">Nikita Vitiugov</a> - By GibChess under
        <a href="https://creativecommons.org/licenses/by/2.0" target="_blank" class="link">CC BY 2.0</a> (cropped)
      </li>
      <li><a href="/hall-of-fame/radosław-wojtaszek" target="_blank" class="link">Radosław Wojtaszek</a> - By Andreas
        Kontokanis under <a href="https://creativecommons.org/licenses/by-sa/2.0" target="_blank" class="link">CC BY-SA
          2.0</a> (cropped)</li>
      <li><a href="/hall-of-fame/étienne-bacrot" target="_blank" class="link">Étienne Bacrot</a> - By Wolfgang Jekel
        under <a href="https://creativecommons.org/licenses/by/2.0" target="_blank" class="link">CC BY 2.0</a> (cropped)
      </li>
      <li><a href="/hall-of-fame/dmitry-andreikin" target="_blank" class="link">Dmitry Andreikin</a> - By Przemysław
        Jahr under <a href="https://creativecommons.org/licenses/by-sa/3.0" target="_blank" class="link">CC BY-SA
          3.0</a> (cropped)</li>
      <li><a href="/hall-of-fame/vincent-keymer" target="_blank" class="link">Vincent Keymer</a> - By Frans Peeters
        under <a href="https://creativecommons.org/licenses/by-sa/2.0" target="_blank" class="link">CC BY-SA 2.0</a>
        (cropped)</li>
      <li><a href="/hall-of-fame/parham-maghsoodloo" target="_blank" class="link">Parham Maghsoodloo</a> - By Frans
        Peeters under <a href="https://creativecommons.org/licenses/by-sa/2.0" target="_blank" class="link">CC BY-SA
          2.0</a> (cropped)</li>
      <li><a href="/hall-of-fame/lê-quang-liêm" target="_blank" class="link">Lê Quang Liêm</a> - By Andreas Kontokanis
        under <a href="https://creativecommons.org/licenses/by-sa/2.0" target="_blank" class="link">CC BY-SA 2.0</a>
        (cropped)</li>
      <li><a href="/hall-of-fame/evgeny-bareev" target="_blank" class="link">Evgeny Bareev</a> - By Andreas Kontokanis
        under <a href="https://creativecommons.org/licenses/by-sa/2.0" target="_blank" class="link">CC BY-SA 2.0</a>
        (cropped)</li>
      <li><a href="/hall-of-fame/maxim-matlokov" target="_blank" class="link">Maxim Matlokov</a> - By Stephan64 under <a
          href="https://creativecommons.org/licenses/by-sa/3.0" target="_blank" class="link">CC BY-SA 3.0</a> (cropped)
      </li>
      <li><a href="/hall-of-fame/arkadij-naiditsch" target="_blank" class="link">Arkadij Naiditsch</a> - By Barnos under
        <a href="https://creativecommons.org/licenses/by-sa/4.0" target="_blank" class="link">CC BY-SA 4.0</a> (cropped)
      </li>
      <li><a href="/hall-of-fame/viktor-bologan" target="_blank" class="link">Viktor Bologan</a> - By Andreas Kontokanis
        under <a href="https://creativecommons.org/licenses/by-sa/2.0" target="_blank" class="link">CC BY-SA 2.0</a>
        (cropped)</li>
      <li><a href="/hall-of-fame/baadur-jobava" target="_blank" class="link">Baadur Jobava</a> - By Andreas Kontokanis
        under <a href="https://creativecommons.org/licenses/by-sa/2.0" target="_blank" class="link">CC BY-SA 2.0</a>
        (cropped)</li>
      <li><a href="/hall-of-fame/vladimir-fedoseev" target="_blank" class="link">Vladimir Fedoseev</a> - By Frans
        Peeters under <a href="https://creativecommons.org/licenses/by-nc-nd/2.0" target="_blank" class="link">CC
          BY-NC-ND 2.0</a></li>
      <li><a href="/hall-of-fame/ernesto-inarkiev" target="_blank" class="link">Ernesto Inarkiev</a> - By Andreas
        Kontokanis under <a href="https://creativecommons.org/licenses/by/2.0" target="_blank" class="link">CC BY
          2.0</a> (cropped)</li>
      <li><a href="/hall-of-fame/bu-xiangzhi" target="_blank" class="link">Bu Xiangzhi</a> - By Georgios Souleidis under
        <a href="https://creativecommons.org/licenses/by/2.0" target="_blank" class="link">CC BY 2.0</a> (cropped)
      </li>
      <li><a href="/hall-of-fame/samuel-shankland" target="_blank" class="link">Samuel Shankland</a> - By Andreas
        Kontokanis under <a href="https://creativecommons.org/licenses/by/2.0" target="_blank" class="link">CC BY
          2.0</a> (cropped)</li>
      <li><a href="/hall-of-fame/zoltán-almási" target="_blank" class="link">Zoltán Almási</a> - By Andreas Kontokanis
        under <a href="https://creativecommons.org/licenses/by/2.0" target="_blank" class="link">CC BY 2.0</a> (cropped)
      </li>
      <li><a href="/hall-of-fame/alexander-moiseenko" target="_blank" class="link">Alexander Moiseenko</a> - By
        Przemysław Jahr under <a href="https://creativecommons.org/licenses/by-sa/3.0" target="_blank" class="link">CC
          BY-SA 3.0</a> (cropped)</li>
      <li><a href="/hall-of-fame/evgeny-alekseev" target="_blank" class="link">Evgeny Alekseev</a> - By GFHund under <a
          href="https://creativecommons.org/licenses/by-sa/4.0" target="_blank" class="link">CC BY-SA 4.0</a> (cropped)
      </li>
      <li><a href="/hall-of-fame/andrei-volokitin" target="_blank" class="link">Andrei Volokitin</a> - By Andreas
        Kontokanis under <a href="https://creativecommons.org/licenses/by/2.0" target="_blank" class="link">CC BY
          2.0</a> (cropped)</li>
      <li><a href="/hall-of-fame/ni-hua" target="_blank" class="link">Ni Hua</a> - By Woodpusher under <a
          href="https://creativecommons.org/licenses/by-sa/3.0" target="_blank" class="link">CC BY-SA 3.0</a> (cropped)
      </li>
      <li><a href="/hall-of-fame/francisco-vallejo-pons" target="_blank" class="link">Francisco Vallejo Pons</a> - By
        Andreas Kontokanis under <a href="https://creativecommons.org/licenses/by/2.0" target="_blank" class="link">CC
          BY 2.0</a> (cropped)</li>
      <li><a href="/hall-of-fame/anton-korobov" target="_blank" class="link">Anton Korobov</a> - By Frans Peeters under
        <a href="https://creativecommons.org/licenses/by-sa/2.0" target="_blank" class="link">CC BY-SA 2.0</a> (cropped)
      </li>
      <li><a href="/hall-of-fame/andrey-esipenko" target="_blank" class="link">Andrey Esipenko</a> - By Stephan64 under
        <a href="https://creativecommons.org/licenses/by-sa/3.0" target="_blank" class="link">CC BY-SA 3.0</a> (cropped)
      </li>
      <li><a href="/hall-of-fame/krishnan-sasikiran" target="_blank" class="link">Krishnan Sasikiran</a> - By Stephan64
        under <a href="https://creativecommons.org/licenses/by-sa/3.0" target="_blank" class="link">CC BY-SA 3.0</a>
        (cropped)</li>
      <li><a href="/hall-of-fame/alexander-riazantsev" target="_blank" class="link">Alexander Riazantsev</a> - By
        Przemysław Jahr under <a href="https://creativecommons.org/licenses/by-sa/3.0" target="_blank" class="link">CC
          BY-SA 3.0</a> (cropped)</li>
      <li><a href="/hall-of-fame/alexander-areshchenko" target="_blank" class="link">Alexander Areshchenko</a> - By
        Stephan64 under <a href="https://creativecommons.org/licenses/by-sa/3.0" target="_blank" class="link">CC BY-SA
          3.0</a> (cropped)</li>
      <li><a href="/hall-of-fame/laurent-fressinet" target="_blank" class="link">Laurent Fressinet</a> - By Wolfgang
        Jekel under <a href="https://creativecommons.org/licenses/by/2.0" target="_blank" class="link">CC BY 2.0</a>
        (cropped)</li>
      <li><a href="/hall-of-fame/alexander-areshchenko" target="_blank" class="link">Alexander Areshchenko</a> - By
        Stephan64 under <a href="https://creativecommons.org/licenses/by-sa/4.0" target="_blank" class="link">CC BY-SA
          4.0</a> (cropped)</li>
      <li><a href="/hall-of-fame/ivan-cheparinov" target="_blank" class="link">Ivan Cheparinov</a> - By Andreas
        Kontokanis under <a href="https://creativecommons.org/licenses/by/2.0" target="_blank" class="link">CC BY
          2.0</a> (cropped)</li>
      <li><a href="/hall-of-fame/amin-tabatabaei" target="_blank" class="link">Amin Tabatabaei</a> - By Frans Peeters
        under <a href="https://creativecommons.org/licenses/by-sa/2.0" target="_blank" class="link">CC BY-SA 2.0</a>
        (cropped)</li>
      <li><a href="/hall-of-fame/lázaro-bruzón" target="_blank" class="link">Lázaro Bruzón</a> - By Steenslag under <a
          href="https://creativecommons.org/licenses/by-sa/2.0" target="_blank" class="link">CC BY-SA 2.0</a> (cropped)
      </li>
      <li><a href="/hall-of-fame/yuriy-kryvoruchko" target="_blank" class="link">Yuriy Kryvoruchko</a> - By Andreas
        Kontokanis under <a href="https://creativecommons.org/licenses/by/2.0" target="_blank" class="link">CC BY
          2.0</a> (cropped)</li>
      <li><a href="/hall-of-fame/alexey-sarana" target="_blank" class="link">Alexey Sarana</a> - By Stephan64 under <a
          href="https://creativecommons.org/licenses/by-sa/3.0" target="_blank" class="link">CC BY-SA 3.0</a> (cropped)
      </li>
      <li><a href="/hall-of-fame/rustam-kasimdzhanov" target="_blank" class="link">Rustam Kasimdzhanov</a> - By Frans
        Peeters under <a href="https://creativecommons.org/licenses/by-sa/2.0" target="_blank" class="link">CC BY-SA
          2.0</a> (cropped)</li>
      <li><a href="/hall-of-fame/kirill-alekseenko" target="_blank" class="link">Kirill Alekseenko</a> - By Andreas
        Kontokanis under <a href="https://creativecommons.org/licenses/by-sa/2.0" target="_blank" class="link">CC BY-SA
          2.0</a> (cropped)</li>
      <li><a href="/hall-of-fame/jorden-van-foreest" target="_blank" class="link">Jorden van Foreest</a> - By Frans
        Peeters under <a href="https://creativecommons.org/licenses/by-sa/2.0" target="_blank" class="link">CC BY-SA
          2.0</a> (cropped)</li>
      <li><a href="/hall-of-fame/loek-van-wely" target="_blank" class="link">Loek van Wely</a> - By Frans Peeters under
        <a href="https://creativecommons.org/licenses/by-sa/2.0" target="_blank" class="link">CC BY-SA 2.0</a> (cropped)
      </li>
      <li><a href="/hall-of-fame/vladimir-akopian" target="_blank" class="link">Vladimir Akopian</a> - By Andreas
        Kontokanis under <a href="https://creativecommons.org/licenses/by/2.0" target="_blank" class="link">CC BY
          2.0</a> (cropped)</li>
      <li><a href="/hall-of-fame/luke-mcshane" target="_blank" class="link">Luke McShane</a> - By Adam Raoof under <a
          href="https://creativecommons.org/licenses/by/2.0" target="_blank" class="link">CC BY 2.0</a> (cropped)</li>
      <li><a href="/hall-of-fame/nigel-short" target="_blank" class="link">Nigel Short</a> - By Andreas Kontokanis under
        <a href="https://creativecommons.org/licenses/by-sa/2.0" target="_blank" class="link">CC BY-SA 2.0</a> (cropped)
      </li>
      <li><a href="/hall-of-fame/david-howell" target="_blank" class="link">David Howell</a> - By Andreas Kontokanis
        under <a href="https://creativecommons.org/licenses/by/2.0" target="_blank" class="link">CC BY 2.0</a> (cropped)
      </li>
      <li><a href="/hall-of-fame/bassem-amin" target="_blank" class="link">Bassem Amin</a> - By Andreas Kontokanis under
        <a href="https://creativecommons.org/licenses/by-sa/2.0" target="_blank" class="link">CC BY-SA 2.0</a> (cropped)
      </li>
      <li><a href="/hall-of-fame/jeffery-xiong" target="_blank" class="link">Jeffery Xiong</a> - By Vysotsky under <a
          href="https://creativecommons.org/licenses/by-sa/4.0" target="_blank" class="link">CC BY-SA 4.0</a> (cropped)
      </li>
      <li><a href="/hall-of-fame/sanan-sjugirov" target="_blank" class="link">Sanan Sjugirov</a> - By Andreas Kontokanis
        under <a href="https://creativecommons.org/licenses/by-sa/2.0" target="_blank" class="link">CC BY-SA 2.0</a>
        (cropped)</li>
      <li><a href="/hall-of-fame/alexey-dreev" target="_blank" class="link">Alexey Dreev</a> - By Andreas Kontokanis
        under <a href="https://creativecommons.org/licenses/by/2.0" target="_blank" class="link">CC BY 2.0</a> (cropped)
      </li>
      <li><a href="/hall-of-fame/gabriel-sargissian" target="_blank" class="link">Gabriel Sargissian</a> - By Andreas
        Kontokanis under <a href="https://creativecommons.org/licenses/by/2.0" target="_blank" class="link">CC BY
          2.0</a> (cropped)</li>
      <li><a href="/hall-of-fame/hans-niemann" target="_blank" class="link">Hans Niemann</a> - By Frans Peeters under <a
          href="https://creativecommons.org/licenses/by-sa/2.0" target="_blank" class="link">CC BY-SA 2.0</a> (cropped)
      </li>
      <li><a href="/hall-of-fame/alexander-beliavsky" target="_blank" class="link">Alexander Beliavsky</a> - By Andreas
        Kontokanis under <a href="https://creativecommons.org/licenses/by-sa/2.0" target="_blank" class="link">CC BY-SA
          2.0</a> (cropped)</li>
      <li><a href="/hall-of-fame/alexander-motylev" target="_blank" class="link">Alexander Motylev</a> - By Stephan64
        under <a href="https://creativecommons.org/licenses/by-sa/3.0" target="_blank" class="link">CC BY-SA 3.0</a>
        (cropped)</li>
      <li><a href="/hall-of-fame/maxim-rodshtein" target="_blank" class="link">Maxim Rodshtein</a> - By Federació
        d'Escacs Valls d'Andorra under <a href="https://creativecommons.org/licenses/by/2.0" target="_blank"
          class="link">CC BY 2.0</a> (cropped)</li>
      <li><a href="/hall-of-fame/bogdan" target="_blank" class="link">Bogdan</a> - By Stephan64 under <a
          href="https://creativecommons.org/licenses/by-sa/3.0" target="_blank" class="link">CC BY-SA 3.0</a> (cropped)
      </li>
      <li><a href="/hall-of-fame/rauf-mamedov" target="_blank" class="link">Rauf Mamedov</a> - By Andreas Kontokanis
        under <a href="https://creativecommons.org/licenses/by/2.0" target="_blank" class="link">CC BY 2.0</a> (cropped)
      </li>
      <li><a href="/hall-of-fame/gawain-jones" target="_blank" class="link">Gawain Jones</a> - By Andreas Kontokanis
        under <a href="https://creativecommons.org/licenses/by-sa/2.0" target="_blank" class="link">CC BY-SA 2.0</a>
        (cropped)</li>
      <li><a href="/hall-of-fame/zahar-efimenko" target="_blank" class="link">Zahar Efimenko</a> - By Stephan64 under <a
          href="https://creativecommons.org/licenses/by-sa/3.0" target="_blank" class="link">CC BY-SA 3.0</a> (cropped)
      </li>
      <li><a href="/hall-of-fame/haik-martirosyan" target="_blank" class="link">Haik Martirosyan</a> - By Stephan64
        under <a href="https://creativecommons.org/licenses/by-sa/3.0" target="_blank" class="link">CC BY-SA 3.0</a>
        (cropped)</li>
      <li><a href="/hall-of-fame/evgeny-najer" target="_blank" class="link">Evgeny Najer</a> - By Stephan64 under <a
          href="https://creativecommons.org/licenses/by-sa/3.0" target="_blank" class="link">CC BY-SA 3.0</a> (cropped)
      </li>
      <li><a href="/hall-of-fame/ivan-sokolov" target="_blank" class="link">Ivan Sokolov</a> - By Frans Peeters under <a
          href="https://creativecommons.org/licenses/by-sa/2.0" target="_blank" class="link">CC BY-SA 2.0</a> (cropped)
      </li>
      <li><a href="/hall-of-fame/ferenc-berkes" target="_blank" class="link">Ferenc Berkes</a> - By Andreas Kontokanis
        under <a href="https://creativecommons.org/licenses/by-sa/2.0" target="_blank" class="link">CC BY-SA 2.0</a>
        (cropped)</li>
      <li><a href="/hall-of-fame/sergei-rublevsky" target="_blank" class="link">Sergei Rublevsky</a> - By Rodrigo
        Fernández under <a href="https://creativecommons.org/licenses/by-sa/3.0" target="_blank" class="link">CC BY-SA
          3.0</a> (cropped)</li>
      <li><a href="/hall-of-fame/mikhail-tal" target="_blank" class="link">Mikhail Tal</a> - By Croes, Rob C. under <a
          href="https://creativecommons.org/licenses/by-sa/3.0/nl" target="_blank" class="link">CC BY-SA 3.0 NL</a>
        (cropped)
      </li>
      <li><a href="/hall-of-fame/boris-grachev" target="_blank" class="link">Boris Grachev</a> - By Stephan64 under <a
          href="https://creativecommons.org/licenses/by-sa/3.0" target="_blank" class="link">CC BY-SA 3.0</a> (cropped)
      </li>
      <li><a href="/hall-of-fame/jon-ludvig-hammer" target="_blank" class="link">Jon Ludvig Hammer</a> - By Federació
        d'Escacs Valls d'Andorra under <a href="https://creativecommons.org/licenses/by/2.0" target="_blank"
          class="link">CC BY 2.0</a> (cropped)</li>
      <li><a href="/hall-of-fame/viktor-láznička" target="_blank" class="link">Viktor Láznička</a> - By Andreas
        Kontokanis under <a href="https://creativecommons.org/licenses/by-sa/2.0" target="_blank" class="link">CC BY-SA
          2.0</a> (cropped)</li>
      <li><a href="/hall-of-fame/ray-robson" target="_blank" class="link">Ray Robson</a> - By Stephan64 under <a
          href="https://creativecommons.org/licenses/by-sa/3.0" target="_blank" class="link">CC BY-SA 3.0</a> (cropped)
      </li>
      <li><a href="/hall-of-fame/emil-sutovsky" target="_blank" class="link">Emil Sutovsky</a> - By Andreas Kontokanis
        under <a href="https://creativecommons.org/licenses/by-sa/2.0" target="_blank" class="link">CC BY-SA 2.0</a>
        (cropped)</li>
      <li><a href="/hall-of-fame/markus-ragger" target="_blank" class="link">Markus Ragger</a> - By Andreas Kontokanis
        under <a href="https://creativecommons.org/licenses/by-sa/2.0" target="_blank" class="link">CC BY-SA 2.0</a>
        (cropped)</li>
      <li><a href="/hall-of-fame/vladislav-kovalev" target="_blank" class="link">Vladislav Kovalev</a> - By Andreas
        Kontokanis under <a href="https://creativecommons.org/licenses/by-sa/2.0" target="_blank" class="link">CC BY-SA
          2.0</a> (cropped)</li>
      <li><a href="/hall-of-fame/ivan-šarić" target="_blank" class="link">Ivan Šarić</a> - By Stephan64 under <a
          href="https://creativecommons.org/licenses/by-sa/3.0" target="_blank" class="link">CC BY-SA 3.0</a> (cropped)
      </li>
      <li><a href="/hall-of-fame/david-antón-guijarro" target="_blank" class="link">David Antón Guijarro</a> - By
        GibChess under <a href="https://creativecommons.org/licenses/by/3.0" target="_blank" class="link">CC BY 3.0</a>
        (cropped)</li>
      <li><a href="/hall-of-fame/samuel-sevian" target="_blank" class="link">Samuel Sevian</a> - By Stephan64 under <a
          href="https://creativecommons.org/licenses/by-sa/3.0" target="_blank" class="link">CC BY-SA 3.0</a> (cropped)
      </li>
      <li><a href="/hall-of-fame/aravindh-chithambaram" target="_blank" class="link">Aravindh Chithambaram</a> - By
        Andreas Kontokanis under <a href="https://creativecommons.org/licenses/by-sa/2.0" target="_blank"
          class="link">CC BY-SA 2.0</a> (cropped)</li>
      <li><a href="/hall-of-fame/michał-krasenkow" target="_blank" class="link">Michał Krasenkow</a> - By Adam Raoof
        under <a href="https://creativecommons.org/licenses/by/2.0" target="_blank" class="link">CC BY 2.0</a> (cropped)
      </li>
      <li><a href="/hall-of-fame/ilya-smirin" target="_blank" class="link">Ilya Smirin</a> - By Andreas Kontokanis under
        <a href="https://creativecommons.org/licenses/by-sa/2.0" target="_blank" class="link">CC BY-SA 2.0</a> (cropped)
      </li>
      <li><a href="/hall-of-fame/alexander-khalifman" target="_blank" class="link">Alexander Khalifman</a> - By
        Stephan64 under <a href="https://creativecommons.org/licenses/by-sa/3.0" target="_blank" class="link">CC BY-SA
          3.0</a> (cropped)</li>
      <li><a href="/hall-of-fame/zurab-azmaiparashvili" target="_blank" class="link">Zurab Azmaiparashvili</a> - By
        Andreas Kontokanis under <a href="https://creativecommons.org/licenses/by/2.0" target="_blank" class="link">CC
          BY 2.0</a> (cropped)</li>
      <li><a href="/hall-of-fame/romain-edouard" target="_blank" class="link">Romain Edouard</a> - By Federació d'Escacs
        Valls d'Andorra under <a href="https://creativecommons.org/licenses/by/2.0" target="_blank" class="link">CC BY
          2.0</a> (cropped)</li>
      <li><a href="/hall-of-fame/igor-kovalenko" target="_blank" class="link">Igor Kovalenko</a> - By Wind87 under <a
          href="https://creativecommons.org/licenses/by-sa/3.0" target="_blank" class="link">CC BY-SA 3.0</a> (cropped)
      </li>
      <li><a href="/hall-of-fame/alexander-onischuk" target="_blank" class="link">Alexander Onischuk</a> - By T.V.A
        under <a href="https://creativecommons.org/licenses/by/2.0" target="_blank" class="link">CC BY 2.0</a> (cropped)
      </li>
      <li><a href="/hall-of-fame/adhiban-baskaran" target="_blank" class="link">Adhiban Baskaran</a> - By Frans Peeters
        under <a href="https://creativecommons.org/licenses/by-sa/2.0" target="_blank" class="link">CC BY-SA 2.0</a>
        (cropped)</li>
      <li><a href="/hall-of-fame/peter-heine-nielsen" target="_blank" class="link">Peter Heine Nielsen</a> - By
        Steenslag under <a href="https://creativecommons.org/licenses/by-sa/2.0" target="_blank" class="link">CC BY-SA
          2.0</a> (cropped)</li>
      <li><a href="/hall-of-fame/igor-lysyj" target="_blank" class="link">Igor Lysyj</a> - By Stephan64 under <a
          href="https://creativecommons.org/licenses/by-sa/3.0" target="_blank" class="link">CC BY-SA 3.0</a> (cropped)
      </li>
      <li><a href="/hall-of-fame/hou-yifan" target="_blank" class="link">Hou Yifan</a> - By Andreas Kontokanis under <a
          href="https://creativecommons.org/licenses/by-sa/2.0" target="_blank" class="link">CC BY-SA 2.0</a> (cropped)
      </li>
      <li><a href="/hall-of-fame/koneru-humpy" target="_blank" class="link">Koneru Humpy</a> - By Stephan64 under <a
          href="https://creativecommons.org/licenses/by-sa/3.0" target="_blank" class="link">CC BY-SA 3.0</a> (cropped)
      </li>
      <li><a href="/hall-of-fame/aleksandra-goryachkina" target="_blank" class="link">Aleksandra Goryachkina</a> - By
        Andreas Kontokanis under <a href="https://creativecommons.org/licenses/by-sa/2.0" target="_blank"
          class="link">CC BY-SA 2.0</a> (cropped)</li>
      <li><a href="/hall-of-fame/anna-muzychuk" target="_blank" class="link">Anna Muzychuk</a> - By Andreas Kontokanis
        under <a href="https://creativecommons.org/licenses/by/2.0" target="_blank" class="link">CC BY 2.0</a> (cropped)
      </li>
      <li><a href="/hall-of-fame/ju-wenjun" target="_blank" class="link">Ju Wenjun</a> - By Andreas Kontokanis under <a
          href="https://creativecommons.org/licenses/by-sa/2.0" target="_blank" class="link">CC BY-SA 2.0</a> (cropped)
      </li>
      <li><a href="/hall-of-fame/tatiana-kosintseva" target="_blank" class="link">Tatiana Kosintseva</a> - By Andreas
        Kontokanis under <a href="https://creativecommons.org/licenses/by-sa/2.0" target="_blank" class="link">CC BY-SA
          2.0</a> (cropped)</li>
      <li><a href="/hall-of-fame/zhao-xue" target="_blank" class="link">Zhao Xue</a> - By Stephan64 under <a
          href="https://creativecommons.org/licenses/by-sa/3.0" target="_blank" class="link">CC BY-SA 3.0</a> (cropped)
      </li>
      <li><a href="/hall-of-fame/susan-polgar" target="_blank" class="link">Susan Polgar</a> - By 4paul! under <a
          href="https://creativecommons.org/licenses/by-sa/2.0" target="_blank" class="link">CC BY-SA 2.0</a> (cropped)
      </li>
      <li><a href="/hall-of-fame/nadezhda-kosintseva" target="_blank" class="link">Nadezhda Kosintseva</a> - By Andreas
        Kontokanis under <a href="https://creativecommons.org/licenses/by/2.0" target="_blank" class="link">CC BY
          2.0</a> (cropped)</li>
      <li><a href="/hall-of-fame/nana-dzagnidze" target="_blank" class="link">Nana Dzagnidze</a> - By Andreas Kontokanis
        under <a href="https://creativecommons.org/licenses/by/2.0" target="_blank" class="link">CC BY 2.0</a> (cropped)
      </li>
      <li><a href="/hall-of-fame/mariya-muzychuk" target="_blank" class="link">Mariya Muzychuk</a> - By Andreas
        Kontokanis under <a href="https://creativecommons.org/licenses/by/2.0" target="_blank" class="link">CC BY
          2.0</a> (cropped)</li>
      <li><a href="/hall-of-fame/kateryna-lagno" target="_blank" class="link">Kateryna Lagno</a> - By The Ministry of
        Sports of the Republic of Tatarstan under <a href="https://creativecommons.org/licenses/by/4.0" target="_blank"
          class="link">CC BY 4.0</a> (cropped)</li>
      <li><a href="/hall-of-fame/alexandra-kosteniuk" target="_blank" class="link">Alexandra Kosteniuk</a> - By Andreas
        Kontokanis under <a href="https://creativecommons.org/licenses/by/2.0" target="_blank" class="link">CC BY
          2.0</a> (cropped)</li>
      <li><a href="/hall-of-fame/maia-chiburdanidze" target="_blank" class="link">Maia Chiburdanidze</a> - By Andreas
        Kontokanis under <a href="https://creativecommons.org/licenses/by/2.0" target="_blank" class="link">CC BY
          2.0</a> (cropped)</li>
      <li><a href="/hall-of-fame/alisa-galliamova" target="_blank" class="link">Alisa Galliamova</a> - By Etery
        Kublashvili under <a href="https://creativecommons.org/licenses/by-sa/3.0" target="_blank" class="link">CC BY-SA
          3.0</a> (cropped)</li>
      <li><a href="/hall-of-fame/antoaneta-stefanova" target="_blank" class="link">Antoaneta Stefanova</a> - By Andreas
        Kontokanis under <a href="https://creativecommons.org/licenses/by-sa/2.0" target="_blank" class="link">CC BY-SA
          2.0</a> (cropped)</li>
      <li><a href="/hall-of-fame/lei-tingjie" target="_blank" class="link">Lei Tingjie</a> - By GibChess under <a
          href="https://creativecommons.org/licenses/by/3.0" target="_blank" class="link">CC BY 3.0</a> (cropped)</li>
      <li><a href="/hall-of-fame/pia-cramling" target="_blank" class="link">Pia Cramling</a> - By Stephan64 under <a
          href="https://creativecommons.org/licenses/by-sa/4.0" target="_blank" class="link">CC BY-SA 4.0</a> (cropped)
      </li>
      <li><a href="/hall-of-fame/zhu-chen" target="_blank" class="link">Zhu Chen</a> - By Doha Stadium Plus Qatar under
        <a href="https://creativecommons.org/licenses/by/2.0" target="_blank" class="link">CC BY 2.0</a> (cropped)
      </li>
      <li><a href="/hall-of-fame/valentina-gunina" target="_blank" class="link">Valentina Gunina</a> - By Andreas
        Kontokanis under <a href="https://creativecommons.org/licenses/by-sa/2.0" target="_blank" class="link">CC BY-SA
          2.0</a> (cropped)</li>
      <li><a href="/hall-of-fame/tan-zhongyi" target="_blank" class="link">Tan Zhongyi</a> - By Stephan64 under <a
          href="https://creativecommons.org/licenses/by-sa/3.0" target="_blank" class="link">CC BY-SA 3.0</a> (cropped)
      </li>
      <li><a href="/hall-of-fame/harika-dronavalli" target="_blank" class="link">Harika Dronavalli</a> - By Frans
        Peeters under <a href="https://creativecommons.org/licenses/by-sa/2.0" target="_blank" class="link">CC BY-SA
          2.0</a> (cropped)</li>
      <li><a href="/hall-of-fame/viktorija-čmilytė" target="_blank" class="link">Viktorija Čmilytė</a> - By Saeima
        under <a href="https://creativecommons.org/licenses/by-sa/2.0" target="_blank" class="link">CC BY-SA 2.0</a>
        (cropped)</li>
      <li><a href="/hall-of-fame/marie-sebag" target="_blank" class="link">Marie Sebag</a> - By Stephan64 under <a
          href="https://creativecommons.org/licenses/by-sa/4.0" target="_blank" class="link">CC BY-SA 4.0</a> (cropped)
      </li>
      <li><a href="/hall-of-fame/bella-khotenashvili" target="_blank" class="link">Bella Khotenashvili</a> - By Clément
        Bucco-Lechat under <a href="https://creativecommons.org/licenses/by-sa/3.0" target="_blank" class="link">CC
          BY-SA 3.0</a> (cropped)</li>
      <li><a href="/hall-of-fame/nino-batsiashvili" target="_blank" class="link">Nino Batsiashvili</a> - By Stephan64
        under <a href="https://creativecommons.org/licenses/by-sa/3.0" target="_blank" class="link">CC BY-SA 3.0</a>
        (cropped)</li>
      <li><a href="/hall-of-fame/elina-danielian" target="_blank" class="link">Elina Danielian</a> - By Andreas
        Kontokanis under <a href="https://creativecommons.org/licenses/by-sa/2.0" target="_blank" class="link">CC BY-SA
          2.0</a> (cropped)</li>
      <li><a href="/hall-of-fame/nana-ioseliani" target="_blank" class="link">Nana Ioseliani</a> - By MBIHund under <a
          href="https://creativecommons.org/licenses/by/3.0" target="_blank" class="link">CC BY 3.0</a> (cropped)</li>
      <li><a href="/hall-of-fame/dinara-saduakassova" target="_blank" class="link">Dinara Saduakassova</a> - By Vysotsky
        under <a href="https://creativecommons.org/licenses/by-sa/4.0" target="_blank" class="link">CC BY-SA 4.0</a>
        (cropped)</li>
      <li><a href="/hall-of-fame/xu-yuhua" target="_blank" class="link">Xu Yuhua</a> - By Mark Gluhovsky under <a
          href="https://creativecommons.org/licenses/by-sa/3.0" target="_blank" class="link">CC BY-SA 3.0</a> (cropped)
      </li>
      <li><a href="/hall-of-fame/polina-shuvalova" target="_blank" class="link">Polina Shuvalova</a> - By Tasha1652
        under <a href="https://creativecommons.org/licenses/by-sa/4.0" target="_blank" class="link">CC BY-SA 4.0</a>
        (cropped)</li>
      <li><a href="/hall-of-fame/elisabeth-pähtz" target="_blank" class="link">Elisabeth Pähtz</a> - By Paul
        Meyer-Dunker under <a href="https://creativecommons.org/licenses/by-sa/4.0" target="_blank" class="link">CC
          BY-SA 4.0</a> (cropped)</li>
      <li><a href="/hall-of-fame/natalia-pogonina" target="_blank" class="link">Natalia Pogonina</a> - By Andreas
        Kontokanis under <a href="https://creativecommons.org/licenses/by-sa/2.0" target="_blank" class="link">CC BY-SA
          2.0</a> (cropped)</li>
      <li><a href="/hall-of-fame/ekaterina-kovalevskaya" target="_blank" class="link">Ekaterina Kovalevskaya</a> - By
        GFHund under <a href="https://creativecommons.org/licenses/by-sa/4.0" target="_blank" class="link">CC BY-SA
          4.0</a> (cropped)</li>
      <li><a href="/hall-of-fame/zhansaya-abdumalik" target="_blank" class="link">Zhansaya Abdumalik</a> - By Frans
        Peeters under <a href="https://creativecommons.org/licenses/by-sa/2.0" target="_blank" class="link">CC BY-SA
          2.0</a> (cropped)</li>
      <li><a href="/hall-of-fame/zhu-jiner" target="_blank" class="link">Zhu Jiner</a> - By Vysotsky under <a
          href="https://creativecommons.org/licenses/by-sa/4.0" target="_blank" class="link">CC BY-SA 4.0</a> (cropped)
      </li>
      <li><a href="/hall-of-fame/ketevan-arakhamia" target="_blank" class="link">Ketevan Arakhamia</a> - By Stephan64
        under <a href="https://creativecommons.org/licenses/by-sa/3.0" target="_blank" class="link">CC BY-SA 3.0</a>
        (cropped)</li>
      <li><a href="/hall-of-fame/rameshbabu-vaishali" target="_blank" class="link">Rameshbabu Vaishali</a> - By Frans
        Peeters under <a href="https://creativecommons.org/licenses/by-sa/2.0" target="_blank" class="link">CC BY-SA
          2.0</a> (cropped)</li>
      <li><a href="/hall-of-fame/sofia-polgar" target="_blank" class="link">Sofia Polgar</a> - By Fotoburo De Boer under
        <a href="https://creativecommons.org/licenses/by-sa/4.0" target="_blank" class="link">CC BY-SA 4.0</a> (cropped)
      </li>
      <li><a href="/hall-of-fame/monika-soćko" target="_blank" class="link">Monika Soćko</a> - By Krzysztof Szeląg
        under <a href="https://creativecommons.org/licenses/by-sa/4.0" target="_blank" class="link">CC BY-SA 4.0</a>
        (cropped)</li>
      <li><a href="/hall-of-fame/olga-girya" target="_blank" class="link">Olga Girya</a> - By Vysotsky under <a
          href="https://creativecommons.org/licenses/by-sa/4.0" target="_blank" class="link">CC BY-SA 4.0</a> (cropped)
      </li>
      <li><a href="/hall-of-fame/alina-kashlinskaya" target="_blank" class="link">Alina Kashlinskaya</a> - By GFHund
        under <a href="https://creativecommons.org/licenses/by-sa/4.0" target="_blank" class="link">CC BY-SA 4.0</a>
        (cropped)</li>
      <li><a href="/hall-of-fame/lilit-mkrtchian" target="_blank" class="link">Lilit Mkrtchian</a> - By Andreas
        Kontokanis under <a href="https://creativecommons.org/licenses/by-sa/2.0" target="_blank" class="link">CC BY-SA
          2.0</a> (cropped)</li>
      <li><a href="/hall-of-fame/anna-ushenina" target="_blank" class="link">Anna Ushenina</a> - By Andreas Kontokanis
        under <a href="https://creativecommons.org/licenses/by/2.0" target="_blank" class="link">CC BY 2.0</a> (cropped)
      </li>
      <li><a href="/hall-of-fame/irina-krush" target="_blank" class="link">Irina Krush</a> - By Andreas Kontokanis under
        <a href="https://creativecommons.org/licenses/by-sa/2.0" target="_blank" class="link">CC BY-SA 2.0</a> (cropped)
      </li>
      <li><a href="/hall-of-fame/almira-skripchenko" target="_blank" class="link">Almira Skripchenko</a> - By Stephan64
        under <a href="https://creativecommons.org/licenses/by-sa/3.0" target="_blank" class="link">CC BY-SA 3.0</a>
        (cropped)</li>
      <li><a href="/hall-of-fame/lela-javakhishvili" target="_blank" class="link">Lela Javakhishvili</a> - By Andreas
        Kontokanis under <a href="https://creativecommons.org/licenses/by-sa/2.0" target="_blank" class="link">CC BY-SA
          2.0</a> (cropped)</li>
    </ol>
  </section>
</div>