<div class="container px-10 mx-auto font-sans">
  <section class="pt-20 pb-10">
    <div>
      <div class="relative space-y-2 font-serif font-bold text-center uppercase text-oak">
        <h3 class="mb-8 text-3xl sm:text-4xl">Giving Out a Special</h3>
        <div class="flex flex-col items-center justify-center mb-8">
          <hr class="w-full border-2 border-oak">
          <h2 class="px-4 text-4xl -translate-y-1/2 sm:text-5xl bg-spruce">Thanks</h2>
        </div>
      </div>
      <p class="paragraph">
        Giving out a special thanks is our way of honoring individuals whose efforts have made a significant impact,
        expressing deep gratitude for their contributions and support.
      </p>
    </div>
  </section>

  <section class="pb-20">
    <div class="grid grid-cols-1 gap-5 lg:grid-cols-4 md:px-10 lg:px-0">
      <div
        class="p-4 sm:p-8 duration-150 bg-ash bg-[url(/images/checkered-background.png)] lg:col-span-2 group hover:bg-dark-oak rounded-md text-center sm:text-left">
        <div class="flex flex-col items-center sm:flex-row gap-y-6">
          <div class="flex-1 space-y-1">
            <h3 class="duration-150 group-hover:text-cream">The Luminary of Inspiration</h3>
            <h2 class="font-serif text-xl font-bold uppercase duration-150 text-oak group-hover:text-cream">Mehdi
              Mousavi</h2>
            <hr class="border-[1px] border-oak sm:w-1/2 group-hover:border-cream duration-150">
          </div>
          <div>
            <span class="text-6xl duration-150 icon-king group-hover:text-cream text-birch"></span>
          </div>
        </div>
        <div class="mt-6 space-y-6 font-sans text-lg duration-150 group-hover:text-cream">
          <p>
            As one of the most pivotal roles in our journey, this individual is the visionary who originally conceived
            the idea for the website.
          </p>
          <p>
            Their creativity and foresight laid the foundation for everything that followed. We
            extend our deepest gratitude for their invaluable contribution, which has been instrumental in shaping our
            success.
          </p>
        </div>
      </div>
      <div
        class="p-4 sm:p-8 duration-150 bg-ash bg-[url(/images/checkered-background.png)] lg:col-span-2 group hover:bg-dark-oak rounded-md text-center sm:text-left">
        <div class="flex flex-col items-center sm:flex-row gap-y-6">
          <div class="flex-1 space-y-1">
            <h3 class="duration-150 group-hover:text-cream">The Chess Trailblazer</h3>
            <h2 class="font-serif text-xl font-bold uppercase duration-150 text-oak group-hover:text-cream">Mitra
              Kouchpeydeh
            </h2>
            <hr class="border-[1px] border-oak sm:w-1/2 group-hover:border-cream duration-150">
          </div>
          <div>
            <span class="text-6xl duration-150 icon-queen group-hover:text-cream"></span>
          </div>
        </div>
        <div class="mt-6 space-y-6 font-sans text-lg duration-150 group-hover:text-cream">
          <p>
            This person played a crucial role in my early journey into chess, helping me develop my interest in the game
            itself.
          </p>
          <p>
            Through our games and their unwavering encouragement, they inspired me to delve deeper into the game and
            fostered a lifelong passion for chess. Their influence and mentorship were instrumental in shaping my love
            for the sport.
          </p>
        </div>
      </div>
      <div
        class="p-4 sm:p-8 duration-150 bg-ash bg-[url(/images/checkered-background.png)] lg:col-span-2 lg:col-start-2 group hover:bg-dark-oak rounded-md text-center sm:text-left">
        <div class="flex flex-col items-center sm:flex-row gap-y-6">
          <div class="flex-1 space-y-1">
            <h3 class="duration-150 group-hover:text-cream">The Monumental Mentor</h3>
            <h2 class="font-serif text-xl font-bold uppercase duration-150 text-oak group-hover:text-cream">Salendra Dev
            </h2>
            <hr class="border-[1px] border-oak sm:w-1/2 group-hover:border-cream duration-150">
          </div>
          <div>
            <span class="text-6xl duration-150 icon-bishop group-hover:text-cream"></span>
          </div>
        </div>
        <div class="mt-6 space-y-6 font-sans text-lg duration-150 group-hover:text-cream">
          <p>
            Being an influential figure in my growth in the game, this person provided not only guidance but also the
            wisdom and encouragement that helped shape my chess path.
          </p>
          <p>
            Their unwavering support and dedication have left an indelible mark on my journey, inspiring me to reach new
            heights and constantly strive for improvement in my games. I am deeply grateful for their invaluable
            mentorship.
          </p>
        </div>
      </div>
    </div>
  </section>

  <section class="pb-10">
    <div>
      <div class="relative space-y-2 font-serif font-bold text-center uppercase text-oak">
        <h3 class="mb-8 text-3xl sm:text-4xl">Image</h3>
        <div class="flex flex-col items-center justify-center mb-8">
          <hr class="w-full border-2 border-oak">
          <h2 class="px-4 text-4xl -translate-y-1/2 sm:text-5xl bg-spruce">Attributions</h2>
        </div>
      </div>
      <p class="paragraph">
        Our image attributions provide proper recognition to the creators and sources of images used within content.
        They ensure that credit is given where it's due, acknowledging the original work.
      </p>
    </div>
  </section>

  <section>
    <ol
      class="p-6 mx-auto bg-ash bg-[url(/images/checkered-background.png)] lg:w-4/5 rounded-md grid sm:grid-cols-2 gap-x-8 md:gap-y-3 gap-y-6 place-items-start">
      <li class="flex items-start pb-2 space-x-2"><span class="font-semibold text-blue-600">1.</span>
        <div><a class="font-medium link" href="/hall-of-fame/magnus-carlsen" target="_blank">Magnus Carlsen</a>
          <p class="text-sm">By Frans Peeters under <a class="link"
              href="https://creativecommons.org/licenses/by-sa/2.0" target="_blank">CC BY-SA 2.0</a> (cropped)</p>
        </div>
      </li>
      <li class="flex items-start pb-2 space-x-2"><span class="font-semibold text-blue-600">2.</span>
        <div><a class="font-medium link" href="/hall-of-fame/garry-kasparov" target="_blank">Garry Kasparov</a>
          <p class="text-sm">By Collision Conf under <a class="link" href="https://creativecommons.org/licenses/by/2.0"
              target="_blank">CC BY 2.0</a> (cropped)</p>
        </div>
      </li>
      <li class="flex items-start pb-2 space-x-2"><span class="font-semibold text-blue-600">3.</span>
        <div><a class="font-medium link" href="/hall-of-fame/fabiano-caruana" target="_blank">Fabiano Caruana</a>
          <p class="text-sm">By Andreas
            Kontokanis under <a class="link" href="https://creativecommons.org/licenses/by-sa/2.0" target="_blank">CC
              BY-SA
              2.0</a> (cropped)</p>
        </div>
      </li>
      <li class="flex items-start pb-2 space-x-2"><span class="font-semibold text-blue-600">4.</span>
        <div><a class="font-medium link" href="/hall-of-fame/levon-aronian" target="_blank">Levon Aronian</a>
          <p class="text-sm">By Frans Peeters under <a class="link"
              href="https://creativecommons.org/licenses/by-sa/2.0" target="_blank">CC BY-SA 2.0</a> (cropped)</p>
        </div>
      </li>
      <li class="flex items-start pb-2 space-x-2"><span class="font-semibold text-blue-600">5.</span>
        <div><a class="font-medium link" href="/hall-of-fame/wesley-so" target="_blank">Wesley So</a>
          <p class="text-sm">By Andreas Kontokanis under <a class="link"
              href="https://creativecommons.org/licenses/by-sa/2.0" target="_blank">CC BY-SA 2.0</a> (cropped)</p>
        </div>
      </li>
      <li class="flex items-start pb-2 space-x-2"><span class="font-semibold text-blue-600">6.</span>
        <div><a class="font-medium link" href="/hall-of-fame/shakhriyar-mamedyarov" target="_blank">Shakhriyar
            Mamedyarov</a>
          <p class="text-sm">By Andreas Kontokanis under <a class="link"
              href="https://creativecommons.org/licenses/by-sa/2.0" target="_blank">CC BY-SA 2.0</a> (cropped)</p>
        </div>
      </li>
      <li class="flex items-start pb-2 space-x-2"><span class="font-semibold text-blue-600">7.</span>
        <div><a class="font-medium link" href="/hall-of-fame/maxime-vachier" target="_blank">Maxime Vachier</a>
          <p class="text-sm">By Wolfgang Jekel under <a class="link" href="https://creativecommons.org/licenses/by/2.0"
              target="_blank">CC BY 2.0</a> (cropped)</p>
        </div>
      </li>
      <li class="flex items-start pb-2 space-x-2"><span class="font-semibold text-blue-600">8.</span>
        <div><a class="font-medium link" href="/hall-of-fame/viswanathan-anand" target="_blank">Viswanathan Anand</a>
          <p class="text-sm">By Wolfgang
            Jekel under <a class="link" href="https://creativecommons.org/licenses/by/2.0" target="_blank">CC BY 2.0</a>
            (cropped)</p>
        </div>
      </li>
      <li class="flex items-start pb-2 space-x-2"><span class="font-semibold text-blue-600">9.</span>
        <div><a class="font-medium link" href="/hall-of-fame/vladimir-kramnik" target="_blank">Vladimir Kramnik</a>
          <p class="text-sm">By Andreas
            Kontokanis under <a class="link" href="https://creativecommons.org/licenses/by-sa/2.0" target="_blank">CC
              BY-SA
              2.0</a> (cropped)</p>
        </div>
      </li>
      <li class="flex items-start pb-2 space-x-2"><span class="font-semibold text-blue-600">10.</span>
        <div><a class="font-medium link" href="/hall-of-fame/veselin-topalov" target="_blank">Veselin Topalov</a>
          <p class="text-sm">By Secretaría de
            Cultura under <a class="link" href="https://creativecommons.org/licenses/by-sa/2.0" target="_blank">CC BY-SA
              2.0</a> (cropped)</p>
        </div>
      </li>
      <li class="flex items-start pb-2 space-x-2"><span class="font-semibold text-blue-600">11.</span>
        <div><a class="font-medium link" href="/hall-of-fame/hikaru-nakamura" target="_blank">Hikaru Nakamura</a>
          <p class="text-sm">By Andreas
            Kontokanis under <a class="link" href="https://creativecommons.org/licenses/by-sa/2.0" target="_blank">CC
              BY-SA
              2.0</a> (cropped)</p>
        </div>
      </li>
      <li class="flex items-start pb-2 space-x-2"><span class="font-semibold text-blue-600">12.</span>
        <div><a class="font-medium link" href="/hall-of-fame/ding-liren" target="_blank">Ding Liren</a>
          <p class="text-sm">By Frans Peeters under <a class="link"
              href="https://creativecommons.org/licenses/by-sa/2.0" target="_blank">CC BY-SA 2.0</a> (cropped)</p>
        </div>
      </li>
      <li class="flex items-start pb-2 space-x-2"><span class="font-semibold text-blue-600">13.</span>
        <div><a class="font-medium link" href="/hall-of-fame/alexander-grischuk" target="_blank">Alexander Grischuk</a>
          <p class="text-sm">By Andreas
            Kontokanis under <a class="link" href="https://creativecommons.org/licenses/by-sa/2.0" target="_blank">CC
              BY-SA
              2.0</a> (cropped)</p>
        </div>
      </li>
      <li class="flex items-start pb-2 space-x-2"><span class="font-semibold text-blue-600">14.</span>
        <div><a class="font-medium link" href="/hall-of-fame/alireza-firouzja" target="_blank">Alireza Firouzja</a>
          <p class="text-sm">By Frans Peeters under <a class="link"
              href="https://creativecommons.org/licenses/by-sa/2.0" target="_blank">CC BY-SA 2.0</a> (cropped)</p>
        </div>
      </li>
      <li class="flex items-start pb-2 space-x-2"><span class="font-semibold text-blue-600">15.</span>
        <div><a class="font-medium link" href="/hall-of-fame/anish-giri" target="_blank">Anish Giri</a>
          <p class="text-sm">By Frans Peeters under <a class="link"
              href="https://creativecommons.org/licenses/by-sa/2.0" target="_blank">CC BY-SA 2.0</a> (cropped)</p>
        </div>
      </li>
      <li class="flex items-start pb-2 space-x-2"><span class="font-semibold text-blue-600">16.</span>
        <div><a class="font-medium link" href="/hall-of-fame/ian-nepomniachtchi" target="_blank">Ian Nepomniachtchi</a>
          <p class="text-sm">By Frans
            Peeters under <a class="link" href="https://creativecommons.org/licenses/by-sa/2.0" target="_blank">CC BY-SA
              2.0</a> (cropped)</p>
        </div>
      </li>
      <li class="flex items-start pb-2 space-x-2"><span class="font-semibold text-blue-600">17.</span>
        <div><a class="font-medium link" href="/hall-of-fame/teimour-radjabov" target="_blank">Teimour Radjabov</a>
          <p class="text-sm">By Andreas
            Kontokanis under <a class="link" href="https://creativecommons.org/licenses/by-sa/2.0" target="_blank">CC
              BY-SA
              2.0</a> (cropped)</p>
        </div>
      </li>
      <li class="flex items-start pb-2 space-x-2"><span class="font-semibold text-blue-600">18.</span>
        <div><a class="font-medium link" href="/hall-of-fame/alexander-morozevich" target="_blank">Alexander
            Morozevich</a>
          <p class="text-sm">By Andreas Kontokanis under <a class="link"
              href="https://creativecommons.org/licenses/by-sa/2.0" target="_blank">CC BY-SA 2.0</a> (cropped)</p>
        </div>
      </li>
      <li class="flex items-start pb-2 space-x-2"><span class="font-semibold text-blue-600">19.</span>
        <div><a class="font-medium link" href="/hall-of-fame/sergey-karjakin" target="_blank">Sergey Karjakin</a>
          <p class="text-sm">By Andreas
            Kontokanis under <a class="link" href="https://creativecommons.org/licenses/by-sa/2.0" target="_blank">CC
              BY-SA
              2.0</a> (cropped)</p>
        </div>
      </li>
      <li class="flex items-start pb-2 space-x-2"><span class="font-semibold text-blue-600">20.</span>
        <div><a class="font-medium link" href="/hall-of-fame/vasyl-ivanchuk" target="_blank">Vasyl Ivanchuk</a>
          <p class="text-sm">By Andreas Kontokanis under <a class="link"
              href="https://creativecommons.org/licenses/by-sa/2.0" target="_blank">CC BY-SA 2.0</a> (cropped)</p>
        </div>
      </li>
      <li class="flex items-start pb-2 space-x-2"><span class="font-semibold text-blue-600">21.</span>
        <div><a class="font-medium link" href="/hall-of-fame/anatoly-karpov" target="_blank">Anatoly Karpov</a>
          <p class="text-sm">By Jürg Vollmer under <a class="link"
              href="https://creativecommons.org/licenses/by-sa/2.0" target="_blank">CC BY-SA 2.0</a> (cropped)</p>
        </div>
      </li>
      <li class="flex items-start pb-2 space-x-2"><span class="font-semibold text-blue-600">22.</span>
        <div><a class="font-medium link" href="/hall-of-fame/arjun-erigaisi" target="_blank">Arjun Erigaisi</a>
          <p class="text-sm">By Frans Peeters under <a class="link"
              href="https://creativecommons.org/licenses/by-sa/2.0" target="_blank">CC BY-SA 2.0</a> (cropped)</p>
        </div>
      </li>
      <li class="flex items-start pb-2 space-x-2"><span class="font-semibold text-blue-600">23.</span>
        <div><a class="font-medium link" href="/hall-of-fame/boris-gelfand" target="_blank">Boris Gelfand</a>
          <p class="text-sm">By Stephan64 under <a class="link" href="https://creativecommons.org/licenses/by-sa/3.0"
              target="_blank">CC BY-SA 3.0</a> (cropped)</p>
        </div>
      </li>
      <li class="flex items-start pb-2 space-x-2"><span class="font-semibold text-blue-600">24.</span>
        <div><a class="font-medium link" href="/hall-of-fame/richard-rapport" target="_blank">Richard Rapport</a>
          <p class="text-sm">By Andreas
            Kontokanis under <a class="link" href="https://creativecommons.org/licenses/by-sa/2.0" target="_blank">CC
              BY-SA
              2.0</a> (cropped)</p>
        </div>
      </li>
      <li class="flex items-start pb-2 space-x-2"><span class="font-semibold text-blue-600">25.</span>
        <div><a class="font-medium link" href="/hall-of-fame/pentala-harikrishna" target="_blank">Pentala
            Harikrishna</a>
          <p class="text-sm">By Andreas
            Kontokanis under <a class="link" href="https://creativecommons.org/licenses/by-sa/2.0" target="_blank">CC
              BY-SA
              2.0</a> (cropped)</p>
        </div>
      </li>
      <li class="flex items-start pb-2 space-x-2"><span class="font-semibold text-blue-600">26.</span>
        <div><a class="font-medium link" href="/hall-of-fame/peter-svidler" target="_blank">Peter Svidler</a>
          <p class="text-sm">By Andreas Kontokanis under <a class="link"
              href="https://creativecommons.org/licenses/by/2.0" target="_blank">CC BY 2.0</a> (cropped)</p>
        </div>
      </li>
      <li class="flex items-start pb-2 space-x-2"><span class="font-semibold text-blue-600">27.</span>
        <div><a class="font-medium link" href="/hall-of-fame/nodirbek-abdusattorov" target="_blank">Nodirbek
            Abdusattorov</a>
          <p class="text-sm">By Frans Peeters under <a class="link"
              href="https://creativecommons.org/licenses/by-sa/2.0" target="_blank">CC
              BY-SA 2.0</a> (cropped)</p>
        </div>
      </li>
      <li class="flex items-start pb-2 space-x-2"><span class="font-semibold text-blue-600">28.</span>
        <div><a class="font-medium link" href="/hall-of-fame/leinier-domínguez" target="_blank">Leinier Domínguez</a>
          <p class="text-sm">By GFHund under <a class="link" href="https://creativecommons.org/licenses/by-sa/4.0"
              target="_blank">CC BY-SA 4.0</a> (cropped)</p>
        </div>
      </li>
      <li class="flex items-start pb-2 space-x-2"><span class="font-semibold text-blue-600">29.</span>
        <div><a class="font-medium link" href="/hall-of-fame/dommaraju-gukesh" target="_blank">Dommaraju Gukesh</a>
          <p class="text-sm">By Frans Peeters under <a class="link"
              href="https://creativecommons.org/licenses/by-sa/2.0" target="_blank">CC BY-SA 2.0</a> (cropped)</p>
        </div>
      </li>
      <li class="flex items-start pb-2 space-x-2"><span class="font-semibold text-blue-600">30.</span>
        <div><a class="font-medium link" href="/hall-of-fame/pavel-eljanov" target="_blank">Pavel Eljanov</a>
          <p class="text-sm">By Andreas Kontokanis under <a class="link"
              href="https://creativecommons.org/licenses/by-sa/2.0" target="_blank">CC BY-SA 2.0</a> (cropped)</p>
        </div>
      </li>
      <li class="flex items-start pb-2 space-x-2"><span class="font-semibold text-blue-600">31.</span>
        <div><a class="font-medium link" href="/hall-of-fame/yu-yangyi" target="_blank">Yu Yangyi</a>
          <p class="text-sm">By Andreas Kontokanis under <a class="link"
              href="https://creativecommons.org/licenses/by-sa/2.0" target="_blank">CC BY-SA 2.0</a> (cropped)</p>
        </div>
      </li>
      <li class="flex items-start pb-2 space-x-2"><span class="font-semibold text-blue-600">32.</span>
        <div><a class="font-medium link" href="/hall-of-fame/ruslan-ponomariov" target="_blank">Ruslan Ponomariov</a>
          <p class="text-sm">By Andreas
            Kontokanis under <a class="link" href="https://creativecommons.org/licenses/by-sa/2.0" target="_blank">CC
              BY-SA
              2.0</a> (cropped)</p>
        </div>
      </li>
      <li class="flex items-start pb-2 space-x-2"><span class="font-semibold text-blue-600">33.</span>
        <div><a class="font-medium link" href="/hall-of-fame/peter-leko" target="_blank">Peter Leko</a>
          <p class="text-sm">By Andreas Kontokanis under <a class="link"
              href="https://creativecommons.org/licenses/by-sa/2.0" target="_blank">CC BY-SA 2.0</a> (cropped)</p>
        </div>
      </li>
      <li class="flex items-start pb-2 space-x-2"><span class="font-semibold text-blue-600">34.</span>
        <div><a class="font-medium link" href="/hall-of-fame/gata-kamsky" target="_blank">Gata Kamsky</a>
          <p class="text-sm">By Andreas Kontokanis under <a class="link"
              href="https://creativecommons.org/licenses/by/2.0" target="_blank">CC BY 2.0</a> (cropped)</p>
        </div>
      </li>
      <li class="flex items-start pb-2 space-x-2"><span class="font-semibold text-blue-600">35.</span>
        <div><a class="font-medium link" href="/hall-of-fame/wang-hao" target="_blank">Wang Hao</a>
          <p class="text-sm">By Stephan64 under <a class="link" href="https://creativecommons.org/licenses/by-sa/3.0"
              target="_blank">CC BY-SA 3.0</a> (cropped)</p>
        </div>
      </li>
      <li class="flex items-start pb-2 space-x-2"><span class="font-semibold text-blue-600">36.</span>
        <div><a class="font-medium link" href="/hall-of-fame/wei-yi" target="_blank">Wei Yi</a>
          <p class="text-sm">By Frans Peeters under <a class="link"
              href="https://creativecommons.org/licenses/by-sa/2.0" target="_blank">CC BY-SA 2.0</a> (cropped)</p>
        </div>
      </li>
      <li class="flex items-start pb-2 space-x-2"><span class="font-semibold text-blue-600">37.</span>
        <div><a class="font-medium link" href="/hall-of-fame/vugar-gashimov" target="_blank">Vugar Gashimov</a>
          <p class="text-sm">By CLUB DE AJEDREZ
            LINEX-MAGIC under <a class="link" href="https://creativecommons.org/licenses/by/2.0" target="_blank">CC BY
              2.0</a> (cropped)</p>
        </div>
      </li>
      <li class="flex items-start pb-2 space-x-2"><span class="font-semibold text-blue-600">38.</span>
        <div><a class="font-medium link" href="/hall-of-fame/michael-adams" target="_blank">Michael Adams</a>
          <p class="text-sm">By Andreas Kontokanis under <a class="link"
              href="https://creativecommons.org/licenses/by/2.0" target="_blank">CC BY 2.0</a> (cropped)</p>
        </div>
      </li>
      <li class="flex items-start pb-2 space-x-2"><span class="font-semibold text-blue-600">39.</span>
        <div><a class="font-medium link" href="/hall-of-fame/vladislav-artemiev" target="_blank">Vladislav Artemiev</a>
          <p class="text-sm">By Vysotsky under <a class="link" href="https://creativecommons.org/licenses/by-sa/4.0"
              target="_blank">CC BY-SA 4.0</a> (cropped)</p>
        </div>
      </li>
      <li class="flex items-start pb-2 space-x-2"><span class="font-semibold text-blue-600">40.</span>
        <div><a class="font-medium link" href="/hall-of-fame/dmitry-jakovenko" target="_blank">Dmitry Jakovenko</a>
          <p class="text-sm">By Andreas
            Kontokanis under <a class="link" href="https://creativecommons.org/licenses/by/2.0" target="_blank">CC BY
              2.0</a> (cropped)</p>
        </div>
      </li>
      <li class="flex items-start pb-2 space-x-2"><span class="font-semibold text-blue-600">41.</span>
        <div><a class="font-medium link" href="/hall-of-fame/jan-krzysztof-duda" target="_blank">Jan-Krzysztof Duda</a>
        </div>
      </li>
      <li class="flex items-start pb-2 space-x-2"><span class="font-semibold text-blue-600">42.</span>
        <div><a class="font-medium link" href="/hall-of-fame/evgeny-tomashevsky" target="_blank">Evgeny Tomashevsky</a>
          <p class="text-sm">By Andreas
            Kontokanis under <a class="link" href="https://creativecommons.org/licenses/by-sa/2.0" target="_blank">CC
              BY-SA
              2.0</a> (cropped)</p>
        </div>
      </li>
      <li class="flex items-start pb-2 space-x-2"><span class="font-semibold text-blue-600">43.</span>
        <div><a class="font-medium link" href="/hall-of-fame/li-chao" target="_blank">Li Chao</a>
          <p class="text-sm">By Andreas Kontokanis under <a class="link"
              href="https://creativecommons.org/licenses/by-sa/2.0" target="_blank">CC BY-SA 2.0</a> (cropped)</p>
        </div>
      </li>
      <li class="flex items-start pb-2 space-x-2"><span class="font-semibold text-blue-600">44.</span>
        <div><a class="font-medium link" href="/hall-of-fame/rameshbabu-praggnanandhaa" target="_blank">Rameshbabu
            Praggnanandhaa</a>
          <p class="text-sm">By Frans Peeters under <a class="link"
              href="https://creativecommons.org/licenses/by-sa/2.0" target="_blank">CC
              BY-SA 2.0</a> (cropped)</p>
        </div>
      </li>
      <li class="flex items-start pb-2 space-x-2"><span class="font-semibold text-blue-600">45.</span>
        <div><a class="font-medium link" href="/hall-of-fame/wang-yue" target="_blank">Wang Yue</a>
          <p class="text-sm">By Andreas Kontokanis under <a class="link"
              href="https://creativecommons.org/licenses/by-sa/2.0" target="_blank">CC BY-SA 2.0</a> (cropped)</p>
        </div>
      </li>
      <li class="flex items-start pb-2 space-x-2"><span class="font-semibold text-blue-600">46.</span>
        <div><a class="font-medium link" href="/hall-of-fame/alexei-shirov" target="_blank">Alexei Shirov</a>
          <p class="text-sm">By Andreas Kontokanis under <a class="link"
              href="https://creativecommons.org/licenses/by-sa/2.0" target="_blank">CC BY-SA 2.0</a> (cropped)</p>
        </div>
      </li>
      <li class="flex items-start pb-2 space-x-2"><span class="font-semibold text-blue-600">47.</span>
        <div><a class="font-medium link" href="/hall-of-fame/sergei-movsesian" target="_blank">Sergei Movsesian</a>
          <p class="text-sm">By Andreas
            Kontokanis under <a class="link" href="https://creativecommons.org/licenses/by/2.0" target="_blank">CC BY
              2.0</a> (cropped)</p>
        </div>
      </li>
      <li class="flex items-start pb-2 space-x-2"><span class="font-semibold text-blue-600">48.</span>
        <div><a class="font-medium link" href="/hall-of-fame/david-navara" target="_blank">David Navara</a>
          <p class="text-sm">By Andreas Kontokanis under <a class="link"
              href="https://creativecommons.org/licenses/by-sa/2.0" target="_blank">CC BY-SA 2.0</a> (cropped)</p>
        </div>
      </li>
      <li class="flex items-start pb-2 space-x-2"><span class="font-semibold text-blue-600">49.</span>
        <div><a class="font-medium link" href="/hall-of-fame/nikita-vitiugov" target="_blank">Nikita Vitiugov</a>
          <p class="text-sm">By GibChess under <a class="link" href="https://creativecommons.org/licenses/by/2.0"
              target="_blank">CC BY 2.0</a> (cropped)</p>
        </div>
      </li>
      <li class="flex items-start pb-2 space-x-2"><span class="font-semibold text-blue-600">50.</span>
        <div><a class="font-medium link" href="/hall-of-fame/radosław-wojtaszek" target="_blank">Radosław Wojtaszek</a>
          <p class="text-sm">By Andreas
            Kontokanis under <a class="link" href="https://creativecommons.org/licenses/by-sa/2.0" target="_blank">CC
              BY-SA
              2.0</a> (cropped)</p>
        </div>
      </li>
      <li class="flex items-start pb-2 space-x-2"><span class="font-semibold text-blue-600">51.</span>
        <div><a class="font-medium link" href="/hall-of-fame/étienne-bacrot" target="_blank">Étienne Bacrot</a>
          <p class="text-sm">By Wolfgang Jekel under <a class="link" href="https://creativecommons.org/licenses/by/2.0"
              target="_blank">CC BY 2.0</a> (cropped)</p>
        </div>
      </li>
      <li class="flex items-start pb-2 space-x-2"><span class="font-semibold text-blue-600">52.</span>
        <div><a class="font-medium link" href="/hall-of-fame/dmitry-andreikin" target="_blank">Dmitry Andreikin</a>
          <p class="text-sm">By Przemysław
            Jahr under <a class="link" href="https://creativecommons.org/licenses/by-sa/3.0" target="_blank">CC BY-SA
              3.0</a> (cropped)</p>
        </div>
      </li>
      <li class="flex items-start pb-2 space-x-2"><span class="font-semibold text-blue-600">53.</span>
        <div><a class="font-medium link" href="/hall-of-fame/vincent-keymer" target="_blank">Vincent Keymer</a>
          <p class="text-sm">By Frans Peeters under <a class="link"
              href="https://creativecommons.org/licenses/by-sa/2.0" target="_blank">CC BY-SA 2.0</a> (cropped)</p>
        </div>
      </li>
      <li class="flex items-start pb-2 space-x-2"><span class="font-semibold text-blue-600">54.</span>
        <div><a class="font-medium link" href="/hall-of-fame/parham-maghsoodloo" target="_blank">Parham Maghsoodloo</a>
          <p class="text-sm">By Frans
            Peeters under <a class="link" href="https://creativecommons.org/licenses/by-sa/2.0" target="_blank">CC BY-SA
              2.0</a> (cropped)</p>
        </div>
      </li>
      <li class="flex items-start pb-2 space-x-2"><span class="font-semibold text-blue-600">55.</span>
        <div><a class="font-medium link" href="/hall-of-fame/lê-quang-liêm" target="_blank">Lê Quang Liêm</a>
          <p class="text-sm">By Andreas Kontokanis under <a class="link"
              href="https://creativecommons.org/licenses/by-sa/2.0" target="_blank">CC BY-SA 2.0</a> (cropped)</p>
        </div>
      </li>
      <li class="flex items-start pb-2 space-x-2"><span class="font-semibold text-blue-600">56.</span>
        <div><a class="font-medium link" href="/hall-of-fame/evgeny-bareev" target="_blank">Evgeny Bareev</a>
          <p class="text-sm">By Andreas Kontokanis under <a class="link"
              href="https://creativecommons.org/licenses/by-sa/2.0" target="_blank">CC BY-SA 2.0</a> (cropped)</p>
        </div>
      </li>
      <li class="flex items-start pb-2 space-x-2"><span class="font-semibold text-blue-600">57.</span>
        <div><a class="font-medium link" href="/hall-of-fame/maxim-matlokov" target="_blank">Maxim Matlokov</a>
          <p class="text-sm">By Stephan64 under <a class="link" href="https://creativecommons.org/licenses/by-sa/3.0"
              target="_blank">CC BY-SA 3.0</a> (cropped)</p>
        </div>
      </li>
      <li class="flex items-start pb-2 space-x-2"><span class="font-semibold text-blue-600">58.</span>
        <div><a class="font-medium link" href="/hall-of-fame/arkadij-naiditsch" target="_blank">Arkadij Naiditsch</a>
          <p class="text-sm">By Barnos under <a class="link" href="https://creativecommons.org/licenses/by-sa/4.0"
              target="_blank">CC BY-SA 4.0</a> (cropped)</p>
        </div>
      </li>
      <li class="flex items-start pb-2 space-x-2"><span class="font-semibold text-blue-600">59.</span>
        <div><a class="font-medium link" href="/hall-of-fame/viktor-bologan" target="_blank">Viktor Bologan</a>
          <p class="text-sm">By Andreas Kontokanis under <a class="link"
              href="https://creativecommons.org/licenses/by-sa/2.0" target="_blank">CC BY-SA 2.0</a> (cropped)</p>
        </div>
      </li>
      <li class="flex items-start pb-2 space-x-2"><span class="font-semibold text-blue-600">60.</span>
        <div><a class="font-medium link" href="/hall-of-fame/baadur-jobava" target="_blank">Baadur Jobava</a>
          <p class="text-sm">By Andreas Kontokanis under <a class="link"
              href="https://creativecommons.org/licenses/by-sa/2.0" target="_blank">CC BY-SA 2.0</a> (cropped)</p>
        </div>
      </li>
      <li class="flex items-start pb-2 space-x-2"><span class="font-semibold text-blue-600">61.</span>
        <div><a class="font-medium link" href="/hall-of-fame/vladimir-fedoseev" target="_blank">Vladimir Fedoseev</a>
          <p class="text-sm">By Frans
            Peeters under <a class="link" href="https://creativecommons.org/licenses/by-nc-nd/2.0" target="_blank">CC
              BY-NC-ND 2.0</a> (cropped)</p>
        </div>
      </li>
      <li class="flex items-start pb-2 space-x-2"><span class="font-semibold text-blue-600">62.</span>
        <div><a class="font-medium link" href="/hall-of-fame/ernesto-inarkiev" target="_blank">Ernesto Inarkiev</a>
          <p class="text-sm">By Andreas
            Kontokanis under <a class="link" href="https://creativecommons.org/licenses/by/2.0" target="_blank">CC BY
              2.0</a> (cropped)</p>
        </div>
      </li>
      <li class="flex items-start pb-2 space-x-2"><span class="font-semibold text-blue-600">63.</span>
        <div><a class="font-medium link" href="/hall-of-fame/bu-xiangzhi" target="_blank">Bu Xiangzhi</a>
          <p class="text-sm">By Georgios Souleidis under <a class="link"
              href="https://creativecommons.org/licenses/by/2.0" target="_blank">CC BY 2.0</a> (cropped)</p>
        </div>
      </li>
      <li class="flex items-start pb-2 space-x-2"><span class="font-semibold text-blue-600">64.</span>
        <div><a class="font-medium link" href="/hall-of-fame/samuel-shankland" target="_blank">Samuel Shankland</a>
          <p class="text-sm">By Andreas
            Kontokanis under <a class="link" href="https://creativecommons.org/licenses/by/2.0" target="_blank">CC BY
              2.0</a> (cropped)</p>
        </div>
      </li>
      <li class="flex items-start pb-2 space-x-2"><span class="font-semibold text-blue-600">65.</span>
        <div><a class="font-medium link" href="/hall-of-fame/zoltán-almási" target="_blank">Zoltán Almási</a>
          <p class="text-sm">By Andreas Kontokanis under <a class="link"
              href="https://creativecommons.org/licenses/by/2.0" target="_blank">CC BY 2.0</a> (cropped)</p>
        </div>
      </li>
      <li class="flex items-start pb-2 space-x-2"><span class="font-semibold text-blue-600">66.</span>
        <div><a class="font-medium link" href="/hall-of-fame/alexander-moiseenko" target="_blank">Alexander
            Moiseenko</a>
          <p class="text-sm">By Przemysław Jahr under <a class="link"
              href="https://creativecommons.org/licenses/by-sa/3.0" target="_blank">CC
              BY-SA 3.0</a> (cropped)</p>
        </div>
      </li>
      <li class="flex items-start pb-2 space-x-2"><span class="font-semibold text-blue-600">67.</span>
        <div><a class="font-medium link" href="/hall-of-fame/evgeny-alekseev" target="_blank">Evgeny Alekseev</a>
          <p class="text-sm">By GFHund under <a class="link" href="https://creativecommons.org/licenses/by-sa/4.0"
              target="_blank">CC BY-SA 4.0</a> (cropped)</p>
        </div>
      </li>
      <li class="flex items-start pb-2 space-x-2"><span class="font-semibold text-blue-600">68.</span>
        <div><a class="font-medium link" href="/hall-of-fame/andrei-volokitin" target="_blank">Andrei Volokitin</a>
          <p class="text-sm">By Andreas
            Kontokanis under <a class="link" href="https://creativecommons.org/licenses/by/2.0" target="_blank">CC BY
              2.0</a> (cropped)</p>
        </div>
      </li>
      <li class="flex items-start pb-2 space-x-2"><span class="font-semibold text-blue-600">69.</span>
        <div><a class="font-medium link" href="/hall-of-fame/ni-hua" target="_blank">Ni Hua</a>
          <p class="text-sm">By Woodpusher under <a class="link" href="https://creativecommons.org/licenses/by-sa/3.0"
              target="_blank">CC BY-SA 3.0</a> (cropped)</p>
        </div>
      </li>
      <li class="flex items-start pb-2 space-x-2"><span class="font-semibold text-blue-600">70.</span>
        <div><a class="font-medium link" href="/hall-of-fame/francisco-vallejo-pons" target="_blank">Francisco Vallejo
            Pons</a>
          <p class="text-sm">By Andreas Kontokanis under <a class="link"
              href="https://creativecommons.org/licenses/by/2.0" target="_blank">CC
              BY 2.0</a> (cropped)</p>
        </div>
      </li>
      <li class="flex items-start pb-2 space-x-2"><span class="font-semibold text-blue-600">71.</span>
        <div><a class="font-medium link" href="/hall-of-fame/anton-korobov" target="_blank">Anton Korobov</a>
          <p class="text-sm">By Frans Peeters under <a class="link"
              href="https://creativecommons.org/licenses/by-sa/2.0" target="_blank">CC BY-SA 2.0</a> (cropped)</p>
        </div>
      </li>
      <li class="flex items-start pb-2 space-x-2"><span class="font-semibold text-blue-600">72.</span>
        <div><a class="font-medium link" href="/hall-of-fame/andrey-esipenko" target="_blank">Andrey Esipenko</a>
          <p class="text-sm">By Stephan64 under <a class="link" href="https://creativecommons.org/licenses/by-sa/3.0"
              target="_blank">CC BY-SA 3.0</a> (cropped)</p>
        </div>
      </li>
      <li class="flex items-start pb-2 space-x-2"><span class="font-semibold text-blue-600">73.</span>
        <div><a class="font-medium link" href="/hall-of-fame/krishnan-sasikiran" target="_blank">Krishnan Sasikiran</a>
          <p class="text-sm">By Stephan64 under <a class="link" href="https://creativecommons.org/licenses/by-sa/3.0"
              target="_blank">CC BY-SA 3.0</a> (cropped)</p>
        </div>
      </li>
      <li class="flex items-start pb-2 space-x-2"><span class="font-semibold text-blue-600">74.</span>
        <div><a class="font-medium link" href="/hall-of-fame/alexander-riazantsev" target="_blank">Alexander
            Riazantsev</a>
          <p class="text-sm">By Przemysław Jahr under <a class="link"
              href="https://creativecommons.org/licenses/by-sa/3.0" target="_blank">CC
              BY-SA 3.0</a> (cropped)</p>
        </div>
      </li>
      <li class="flex items-start pb-2 space-x-2"><span class="font-semibold text-blue-600">75.</span>
        <div><a class="font-medium link" href="/hall-of-fame/alexander-areshchenko" target="_blank">Alexander
            Areshchenko</a>
          <p class="text-sm">By Stephan64 under <a class="link" href="https://creativecommons.org/licenses/by-sa/3.0"
              target="_blank">CC BY-SA
              3.0</a> (cropped)</p>
        </div>
      </li>
      <li class="flex items-start pb-2 space-x-2"><span class="font-semibold text-blue-600">76.</span>
        <div><a class="font-medium link" href="/hall-of-fame/laurent-fressinet" target="_blank">Laurent Fressinet</a>
          <p class="text-sm">By Wolfgang
            Jekel under <a class="link" href="https://creativecommons.org/licenses/by/2.0" target="_blank">CC BY 2.0</a>
            (cropped)</p>
        </div>
      </li>
      <li class="flex items-start pb-2 space-x-2"><span class="font-semibold text-blue-600">77.</span>
        <div><a class="font-medium link" href="/hall-of-fame/alexander-areshchenko" target="_blank">Alexander
            Areshchenko</a>
          <p class="text-sm">By Stephan64 under <a class="link" href="https://creativecommons.org/licenses/by-sa/4.0"
              target="_blank">CC BY-SA
              4.0</a> (cropped)</p>
        </div>
      </li>
      <li class="flex items-start pb-2 space-x-2"><span class="font-semibold text-blue-600">78.</span>
        <div><a class="font-medium link" href="/hall-of-fame/ivan-cheparinov" target="_blank">Ivan Cheparinov</a>
          <p class="text-sm">By Andreas
            Kontokanis under <a class="link" href="https://creativecommons.org/licenses/by/2.0" target="_blank">CC BY
              2.0</a> (cropped)</p>
        </div>
      </li>
      <li class="flex items-start pb-2 space-x-2"><span class="font-semibold text-blue-600">79.</span>
        <div><a class="font-medium link" href="/hall-of-fame/amin-tabatabaei" target="_blank">Amin Tabatabaei</a>
          <p class="text-sm">By Frans Peeters under <a class="link"
              href="https://creativecommons.org/licenses/by-sa/2.0" target="_blank">CC BY-SA 2.0</a> (cropped)</p>
        </div>
      </li>
      <li class="flex items-start pb-2 space-x-2"><span class="font-semibold text-blue-600">80.</span>
        <div><a class="font-medium link" href="/hall-of-fame/lázaro-bruzón" target="_blank">Lázaro Bruzón</a>
          <p class="text-sm">By Steenslag under <a class="link" href="https://creativecommons.org/licenses/by-sa/2.0"
              target="_blank">CC BY-SA 2.0</a> (cropped)</p>
        </div>
      </li>
      <li class="flex items-start pb-2 space-x-2"><span class="font-semibold text-blue-600">81.</span>
        <div><a class="font-medium link" href="/hall-of-fame/yuriy-kryvoruchko" target="_blank">Yuriy Kryvoruchko</a>
          <p class="text-sm">By Andreas
            Kontokanis under <a class="link" href="https://creativecommons.org/licenses/by/2.0" target="_blank">CC BY
              2.0</a> (cropped)</p>
        </div>
      </li>
      <li class="flex items-start pb-2 space-x-2"><span class="font-semibold text-blue-600">82.</span>
        <div><a class="font-medium link" href="/hall-of-fame/alexey-sarana" target="_blank">Alexey Sarana</a>
          <p class="text-sm">By Stephan64 under <a class="link" href="https://creativecommons.org/licenses/by-sa/3.0"
              target="_blank">CC BY-SA 3.0</a> (cropped)</p>
        </div>
      </li>
      <li class="flex items-start pb-2 space-x-2"><span class="font-semibold text-blue-600">83.</span>
        <div><a class="font-medium link" href="/hall-of-fame/rustam-kasimdzhanov" target="_blank">Rustam
            Kasimdzhanov</a>
          <p class="text-sm">By Frans
            Peeters under <a class="link" href="https://creativecommons.org/licenses/by-sa/2.0" target="_blank">CC BY-SA
              2.0</a> (cropped)</p>
        </div>
      </li>
      <li class="flex items-start pb-2 space-x-2"><span class="font-semibold text-blue-600">84.</span>
        <div><a class="font-medium link" href="/hall-of-fame/kirill-alekseenko" target="_blank">Kirill Alekseenko</a>
          <p class="text-sm">By Andreas
            Kontokanis under <a class="link" href="https://creativecommons.org/licenses/by-sa/2.0" target="_blank">CC
              BY-SA
              2.0</a> (cropped)</p>
        </div>
      </li>
      <li class="flex items-start pb-2 space-x-2"><span class="font-semibold text-blue-600">85.</span>
        <div><a class="font-medium link" href="/hall-of-fame/jorden-van-foreest" target="_blank">Jorden van Foreest</a>
          <p class="text-sm">By Frans
            Peeters under <a class="link" href="https://creativecommons.org/licenses/by-sa/2.0" target="_blank">CC BY-SA
              2.0</a> (cropped)</p>
        </div>
      </li>
      <li class="flex items-start pb-2 space-x-2"><span class="font-semibold text-blue-600">86.</span>
        <div><a class="font-medium link" href="/hall-of-fame/loek-van-wely" target="_blank">Loek van Wely</a>
          <p class="text-sm">By Frans Peeters under <a class="link"
              href="https://creativecommons.org/licenses/by-sa/2.0" target="_blank">CC BY-SA 2.0</a> (cropped)</p>
        </div>
      </li>
      <li class="flex items-start pb-2 space-x-2"><span class="font-semibold text-blue-600">87.</span>
        <div><a class="font-medium link" href="/hall-of-fame/vladimir-akopian" target="_blank">Vladimir Akopian</a>
          <p class="text-sm">By Andreas
            Kontokanis under <a class="link" href="https://creativecommons.org/licenses/by/2.0" target="_blank">CC BY
              2.0</a> (cropped)</p>
        </div>
      </li>
      <li class="flex items-start pb-2 space-x-2"><span class="font-semibold text-blue-600">88.</span>
        <div><a class="font-medium link" href="/hall-of-fame/luke-mcshane" target="_blank">Luke McShane</a>
          <p class="text-sm">By Adam Raoof under <a class="link" href="https://creativecommons.org/licenses/by/2.0"
              target="_blank">CC BY 2.0</a> (cropped)</p>
        </div>
      </li>
      <li class="flex items-start pb-2 space-x-2"><span class="font-semibold text-blue-600">89.</span>
        <div><a class="font-medium link" href="/hall-of-fame/nigel-short" target="_blank">Nigel Short</a>
          <p class="text-sm">By Andreas Kontokanis under <a class="link"
              href="https://creativecommons.org/licenses/by-sa/2.0" target="_blank">CC BY-SA 2.0</a> (cropped)</p>
        </div>
      </li>
      <li class="flex items-start pb-2 space-x-2"><span class="font-semibold text-blue-600">90.</span>
        <div><a class="font-medium link" href="/hall-of-fame/david-howell" target="_blank">David Howell</a>
          <p class="text-sm">By Andreas Kontokanis under <a class="link"
              href="https://creativecommons.org/licenses/by/2.0" target="_blank">CC BY 2.0</a> (cropped)</p>
        </div>
      </li>
      <li class="flex items-start pb-2 space-x-2"><span class="font-semibold text-blue-600">91.</span>
        <div><a class="font-medium link" href="/hall-of-fame/bassem-amin" target="_blank">Bassem Amin</a>
          <p class="text-sm">By Andreas Kontokanis under <a class="link"
              href="https://creativecommons.org/licenses/by-sa/2.0" target="_blank">CC BY-SA 2.0</a> (cropped)</p>
        </div>
      </li>
      <li class="flex items-start pb-2 space-x-2"><span class="font-semibold text-blue-600">92.</span>
        <div><a class="font-medium link" href="/hall-of-fame/jeffery-xiong" target="_blank">Jeffery Xiong</a>
          <p class="text-sm">By Vysotsky under <a class="link" href="https://creativecommons.org/licenses/by-sa/4.0"
              target="_blank">CC BY-SA 4.0</a> (cropped)</p>
        </div>
      </li>
      <li class="flex items-start pb-2 space-x-2"><span class="font-semibold text-blue-600">93.</span>
        <div><a class="font-medium link" href="/hall-of-fame/sanan-sjugirov" target="_blank">Sanan Sjugirov</a>
          <p class="text-sm">By Andreas Kontokanis under <a class="link"
              href="https://creativecommons.org/licenses/by-sa/2.0" target="_blank">CC BY-SA 2.0</a> (cropped)</p>
        </div>
      </li>
      <li class="flex items-start pb-2 space-x-2"><span class="font-semibold text-blue-600">94.</span>
        <div><a class="font-medium link" href="/hall-of-fame/alexey-dreev" target="_blank">Alexey Dreev</a>
          <p class="text-sm">By Andreas Kontokanis under <a class="link"
              href="https://creativecommons.org/licenses/by/2.0" target="_blank">CC BY 2.0</a> (cropped)</p>
        </div>
      </li>
      <li class="flex items-start pb-2 space-x-2"><span class="font-semibold text-blue-600">95.</span>
        <div><a class="font-medium link" href="/hall-of-fame/gabriel-sargissian" target="_blank">Gabriel Sargissian</a>
          <p class="text-sm">By Andreas
            Kontokanis under <a class="link" href="https://creativecommons.org/licenses/by/2.0" target="_blank">CC BY
              2.0</a> (cropped)</p>
        </div>
      </li>
      <li class="flex items-start pb-2 space-x-2"><span class="font-semibold text-blue-600">96.</span>
        <div><a class="font-medium link" href="/hall-of-fame/hans-niemann" target="_blank">Hans Niemann</a>
          <p class="text-sm">By Frans Peeters under <a class="link"
              href="https://creativecommons.org/licenses/by-sa/2.0" target="_blank">CC BY-SA 2.0</a> (cropped)</p>
        </div>
      </li>
      <li class="flex items-start pb-2 space-x-2"><span class="font-semibold text-blue-600">97.</span>
        <div><a class="font-medium link" href="/hall-of-fame/alexander-beliavsky" target="_blank">Alexander
            Beliavsky</a>
          <p class="text-sm">By Andreas
            Kontokanis under <a class="link" href="https://creativecommons.org/licenses/by-sa/2.0" target="_blank">CC
              BY-SA
              2.0</a> (cropped)</p>
        </div>
      </li>
      <li class="flex items-start pb-2 space-x-2"><span class="font-semibold text-blue-600">98.</span>
        <div><a class="font-medium link" href="/hall-of-fame/alexander-motylev" target="_blank">Alexander Motylev</a>
          <p class="text-sm">By Stephan64 under <a class="link" href="https://creativecommons.org/licenses/by-sa/3.0"
              target="_blank">CC BY-SA 3.0</a> (cropped)</p>
        </div>
      </li>
      <li class="flex items-start pb-2 space-x-2"><span class="font-semibold text-blue-600">99.</span>
        <div><a class="font-medium link" href="/hall-of-fame/maxim-rodshtein" target="_blank">Maxim Rodshtein</a>
          <p class="text-sm">By Federació
            d'Escacs Valls d'Andorra under <a class="link" href="https://creativecommons.org/licenses/by/2.0"
              target="_blank">CC BY 2.0</a> (cropped)</p>
        </div>
      </li>
      <li class="flex items-start pb-2 space-x-2"><span class="font-semibold text-blue-600">100.</span>
        <div><a class="font-medium link" href="/hall-of-fame/bogdan" target="_blank">Bogdan</a>
          <p class="text-sm">By Stephan64 under <a class="link" href="https://creativecommons.org/licenses/by-sa/3.0"
              target="_blank">CC BY-SA 3.0</a> (cropped)</p>
        </div>
      </li>
      <li class="flex items-start pb-2 space-x-2"><span class="font-semibold text-blue-600">101.</span>
        <div><a class="font-medium link" href="/hall-of-fame/rauf-mamedov" target="_blank">Rauf Mamedov</a>
          <p class="text-sm">By Andreas Kontokanis under <a class="link"
              href="https://creativecommons.org/licenses/by/2.0" target="_blank">CC BY 2.0</a> (cropped)</p>
        </div>
      </li>
      <li class="flex items-start pb-2 space-x-2"><span class="font-semibold text-blue-600">102.</span>
        <div><a class="font-medium link" href="/hall-of-fame/gawain-jones" target="_blank">Gawain Jones</a>
          <p class="text-sm">By Andreas Kontokanis under <a class="link"
              href="https://creativecommons.org/licenses/by-sa/2.0" target="_blank">CC BY-SA 2.0</a> (cropped)</p>
        </div>
      </li>
      <li class="flex items-start pb-2 space-x-2"><span class="font-semibold text-blue-600">103.</span>
        <div><a class="font-medium link" href="/hall-of-fame/zahar-efimenko" target="_blank">Zahar Efimenko</a>
          <p class="text-sm">By Stephan64 under <a class="link" href="https://creativecommons.org/licenses/by-sa/3.0"
              target="_blank">CC BY-SA 3.0</a> (cropped)</p>
        </div>
      </li>
      <li class="flex items-start pb-2 space-x-2"><span class="font-semibold text-blue-600">104.</span>
        <div><a class="font-medium link" href="/hall-of-fame/haik-martirosyan" target="_blank">Haik Martirosyan</a>
          <p class="text-sm">By Stephan64 under <a class="link" href="https://creativecommons.org/licenses/by-sa/3.0"
              target="_blank">CC BY-SA 3.0</a> (cropped)</p>
        </div>
      </li>
      <li class="flex items-start pb-2 space-x-2"><span class="font-semibold text-blue-600">105.</span>
        <div><a class="font-medium link" href="/hall-of-fame/evgeny-najer" target="_blank">Evgeny Najer</a>
          <p class="text-sm">By Stephan64 under <a class="link" href="https://creativecommons.org/licenses/by-sa/3.0"
              target="_blank">CC BY-SA 3.0</a> (cropped)</p>
        </div>
      </li>
      <li class="flex items-start pb-2 space-x-2"><span class="font-semibold text-blue-600">106.</span>
        <div><a class="font-medium link" href="/hall-of-fame/ivan-sokolov" target="_blank">Ivan Sokolov</a>
          <p class="text-sm">By Frans Peeters under <a class="link"
              href="https://creativecommons.org/licenses/by-sa/2.0" target="_blank">CC BY-SA 2.0</a> (cropped)</p>
        </div>
      </li>
      <li class="flex items-start pb-2 space-x-2"><span class="font-semibold text-blue-600">107.</span>
        <div><a class="font-medium link" href="/hall-of-fame/ferenc-berkes" target="_blank">Ferenc Berkes</a>
          <p class="text-sm">By Andreas Kontokanis under <a class="link"
              href="https://creativecommons.org/licenses/by-sa/2.0" target="_blank">CC BY-SA 2.0</a> (cropped)</p>
        </div>
      </li>
      <li class="flex items-start pb-2 space-x-2"><span class="font-semibold text-blue-600">108.</span>
        <div><a class="font-medium link" href="/hall-of-fame/sergei-rublevsky" target="_blank">Sergei Rublevsky</a>
          <p class="text-sm">By Rodrigo
            Fernández under <a class="link" href="https://creativecommons.org/licenses/by-sa/3.0" target="_blank">CC
              BY-SA
              3.0</a> (cropped)</p>
        </div>
      </li>
      <li class="flex items-start pb-2 space-x-2"><span class="font-semibold text-blue-600">109.</span>
        <div><a class="font-medium link" href="/hall-of-fame/mikhail-tal" target="_blank">Mikhail Tal</a>
          <p class="text-sm">By Croes, Rob C. under <a class="link"
              href="https://creativecommons.org/licenses/by-sa/3.0/nl" target="_blank">CC BY-SA 3.0 NL</a> (cropped)</p>
        </div>
      </li>
      <li class="flex items-start pb-2 space-x-2"><span class="font-semibold text-blue-600">110.</span>
        <div><a class="font-medium link" href="/hall-of-fame/boris-grachev" target="_blank">Boris Grachev</a>
          <p class="text-sm">By Stephan64 under <a class="link" href="https://creativecommons.org/licenses/by-sa/3.0"
              target="_blank">CC BY-SA 3.0</a> (cropped)</p>
        </div>
      </li>
      <li class="flex items-start pb-2 space-x-2"><span class="font-semibold text-blue-600">111.</span>
        <div><a class="font-medium link" href="/hall-of-fame/jon-ludvig-hammer" target="_blank">Jon Ludvig Hammer</a>
          <p class="text-sm">By Federació
            d'Escacs Valls d'Andorra under <a class="link" href="https://creativecommons.org/licenses/by/2.0"
              target="_blank">CC BY 2.0</a> (cropped)</p>
        </div>
      </li>
      <li class="flex items-start pb-2 space-x-2"><span class="font-semibold text-blue-600">112.</span>
        <div><a class="font-medium link" href="/hall-of-fame/viktor-láznička" target="_blank">Viktor Láznička</a>
          <p class="text-sm">By Andreas
            Kontokanis under <a class="link" href="https://creativecommons.org/licenses/by-sa/2.0" target="_blank">CC
              BY-SA
              2.0</a> (cropped)</p>
        </div>
      </li>
      <li class="flex items-start pb-2 space-x-2"><span class="font-semibold text-blue-600">113.</span>
        <div><a class="font-medium link" href="/hall-of-fame/ray-robson" target="_blank">Ray Robson</a>
          <p class="text-sm">By Stephan64 under <a class="link" href="https://creativecommons.org/licenses/by-sa/3.0"
              target="_blank">CC BY-SA 3.0</a> (cropped)</p>
        </div>
      </li>
      <li class="flex items-start pb-2 space-x-2"><span class="font-semibold text-blue-600">114.</span>
        <div><a class="font-medium link" href="/hall-of-fame/emil-sutovsky" target="_blank">Emil Sutovsky</a>
          <p class="text-sm">By Andreas Kontokanis under <a class="link"
              href="https://creativecommons.org/licenses/by-sa/2.0" target="_blank">CC BY-SA 2.0</a> (cropped)</p>
        </div>
      </li>
      <li class="flex items-start pb-2 space-x-2"><span class="font-semibold text-blue-600">115.</span>
        <div><a class="font-medium link" href="/hall-of-fame/markus-ragger" target="_blank">Markus Ragger</a>
          <p class="text-sm">By Andreas Kontokanis under <a class="link"
              href="https://creativecommons.org/licenses/by-sa/2.0" target="_blank">CC BY-SA 2.0</a> (cropped)</p>
        </div>
      </li>
      <li class="flex items-start pb-2 space-x-2"><span class="font-semibold text-blue-600">116.</span>
        <div><a class="font-medium link" href="/hall-of-fame/vladislav-kovalev" target="_blank">Vladislav Kovalev</a>
          <p class="text-sm">By Andreas
            Kontokanis under <a class="link" href="https://creativecommons.org/licenses/by-sa/2.0" target="_blank">CC
              BY-SA
              2.0</a> (cropped)</p>
        </div>
      </li>
      <li class="flex items-start pb-2 space-x-2"><span class="font-semibold text-blue-600">117.</span>
        <div><a class="font-medium link" href="/hall-of-fame/ivan-šarić" target="_blank">Ivan Šarić</a>
          <p class="text-sm">By Stephan64 under <a class="link" href="https://creativecommons.org/licenses/by-sa/3.0"
              target="_blank">CC BY-SA 3.0</a> (cropped)</p>
        </div>
      </li>
      <li class="flex items-start pb-2 space-x-2"><span class="font-semibold text-blue-600">118.</span>
        <div><a class="font-medium link" href="/hall-of-fame/david-antón-guijarro" target="_blank">David Antón
            Guijarro</a>
          <p class="text-sm">By GibChess under <a class="link" href="https://creativecommons.org/licenses/by/3.0"
              target="_blank">CC BY 3.0</a> (cropped)</p>
        </div>
      </li>
      <li class="flex items-start pb-2 space-x-2"><span class="font-semibold text-blue-600">119.</span>
        <div><a class="font-medium link" href="/hall-of-fame/samuel-sevian" target="_blank">Samuel Sevian</a>
          <p class="text-sm">By Stephan64 under <a class="link" href="https://creativecommons.org/licenses/by-sa/3.0"
              target="_blank">CC BY-SA 3.0</a> (cropped)</p>
        </div>
      </li>
      <li class="flex items-start pb-2 space-x-2"><span class="font-semibold text-blue-600">120.</span>
        <div><a class="font-medium link" href="/hall-of-fame/aravindh-chithambaram" target="_blank">Aravindh
            Chithambaram</a>
          <p class="text-sm">By Andreas Kontokanis under <a class="link"
              href="https://creativecommons.org/licenses/by-sa/2.0" target="_blank">CC BY-SA 2.0</a> (cropped)</p>
        </div>
      </li>
      <li class="flex items-start pb-2 space-x-2"><span class="font-semibold text-blue-600">121.</span>
        <div><a class="font-medium link" href="/hall-of-fame/michał-krasenkow" target="_blank">Michał Krasenkow</a>
          <p class="text-sm">By Adam Raoof under <a class="link" href="https://creativecommons.org/licenses/by/2.0"
              target="_blank">CC BY 2.0</a> (cropped)</p>
        </div>
      </li>
      <li class="flex items-start pb-2 space-x-2"><span class="font-semibold text-blue-600">122.</span>
        <div><a class="font-medium link" href="/hall-of-fame/ilya-smirin" target="_blank">Ilya Smirin</a>
          <p class="text-sm">By Andreas Kontokanis under <a class="link"
              href="https://creativecommons.org/licenses/by-sa/2.0" target="_blank">CC BY-SA 2.0</a> (cropped)</p>
        </div>
      </li>
      <li class="flex items-start pb-2 space-x-2"><span class="font-semibold text-blue-600">123.</span>
        <div><a class="font-medium link" href="/hall-of-fame/alexander-khalifman" target="_blank">Alexander
            Khalifman</a>
          <p class="text-sm">By Stephan64 under <a class="link" href="https://creativecommons.org/licenses/by-sa/3.0"
              target="_blank">CC BY-SA
              3.0</a> (cropped)</p>
        </div>
      </li>
      <li class="flex items-start pb-2 space-x-2"><span class="font-semibold text-blue-600">124.</span>
        <div><a class="font-medium link" href="/hall-of-fame/zurab-azmaiparashvili" target="_blank">Zurab
            Azmaiparashvili</a>
          <p class="text-sm">By Andreas Kontokanis under <a class="link"
              href="https://creativecommons.org/licenses/by/2.0" target="_blank">CC
              BY 2.0</a> (cropped)</p>
        </div>
      </li>
      <li class="flex items-start pb-2 space-x-2"><span class="font-semibold text-blue-600">125.</span>
        <div><a class="font-medium link" href="/hall-of-fame/romain-edouard" target="_blank">Romain Edouard</a>
          <p class="text-sm">By Federació d'Escacs
            Valls d'Andorra under <a class="link" href="https://creativecommons.org/licenses/by/2.0" target="_blank">CC
              BY
              2.0</a> (cropped)</p>
        </div>
      </li>
      <li class="flex items-start pb-2 space-x-2"><span class="font-semibold text-blue-600">126.</span>
        <div><a class="font-medium link" href="/hall-of-fame/igor-kovalenko" target="_blank">Igor Kovalenko</a>
          <p class="text-sm">By Wind87 under <a class="link" href="https://creativecommons.org/licenses/by-sa/3.0"
              target="_blank">CC BY-SA 3.0</a> (cropped)</p>
        </div>
      </li>
      <li class="flex items-start pb-2 space-x-2"><span class="font-semibold text-blue-600">127.</span>
        <div><a class="font-medium link" href="/hall-of-fame/alexander-onischuk" target="_blank">Alexander Onischuk</a>
          <p class="text-sm">By T.V.A under <a class="link" href="https://creativecommons.org/licenses/by/2.0"
              target="_blank">CC BY 2.0</a> (cropped)</p>
        </div>
      </li>
      <li class="flex items-start pb-2 space-x-2"><span class="font-semibold text-blue-600">128.</span>
        <div><a class="font-medium link" href="/hall-of-fame/adhiban-baskaran" target="_blank">Adhiban Baskaran</a>
          <p class="text-sm">By Frans Peeters under <a class="link"
              href="https://creativecommons.org/licenses/by-sa/2.0" target="_blank">CC BY-SA 2.0</a> (cropped)</p>
        </div>
      </li>
      <li class="flex items-start pb-2 space-x-2"><span class="font-semibold text-blue-600">129.</span>
        <div><a class="font-medium link" href="/hall-of-fame/peter-heine-nielsen" target="_blank">Peter Heine
            Nielsen</a>
          <p class="text-sm">By Steenslag under <a class="link" href="https://creativecommons.org/licenses/by-sa/2.0"
              target="_blank">CC BY-SA
              2.0</a> (cropped)</p>
        </div>
      </li>
      <li class="flex items-start pb-2 space-x-2"><span class="font-semibold text-blue-600">130.</span>
        <div><a class="font-medium link" href="/hall-of-fame/igor-lysyj" target="_blank">Igor Lysyj</a>
          <p class="text-sm">By Stephan64 under <a class="link" href="https://creativecommons.org/licenses/by-sa/3.0"
              target="_blank">CC BY-SA 3.0</a> (cropped)</p>
        </div>
      </li>
      <li class="flex items-start pb-2 space-x-2"><span class="font-semibold text-blue-600">131.</span>
        <div><a class="font-medium link" href="/hall-of-fame/hou-yifan" target="_blank">Hou Yifan</a>
          <p class="text-sm">By Andreas Kontokanis under <a class="link"
              href="https://creativecommons.org/licenses/by-sa/2.0" target="_blank">CC BY-SA 2.0</a> (cropped)</p>
        </div>
      </li>
      <li class="flex items-start pb-2 space-x-2"><span class="font-semibold text-blue-600">132.</span>
        <div><a class="font-medium link" href="/hall-of-fame/koneru-humpy" target="_blank">Koneru Humpy</a>
          <p class="text-sm">By Stephan64 under <a class="link" href="https://creativecommons.org/licenses/by-sa/3.0"
              target="_blank">CC BY-SA 3.0</a> (cropped)</p>
        </div>
      </li>
      <li class="flex items-start pb-2 space-x-2"><span class="font-semibold text-blue-600">133.</span>
        <div><a class="font-medium link" href="/hall-of-fame/aleksandra-goryachkina" target="_blank">Aleksandra
            Goryachkina</a>
          <p class="text-sm">By Andreas Kontokanis under <a class="link"
              href="https://creativecommons.org/licenses/by-sa/2.0" target="_blank">CC BY-SA 2.0</a> (cropped)</p>
        </div>
      </li>
      <li class="flex items-start pb-2 space-x-2"><span class="font-semibold text-blue-600">134.</span>
        <div><a class="font-medium link" href="/hall-of-fame/anna-muzychuk" target="_blank">Anna Muzychuk</a>
          <p class="text-sm">By Andreas Kontokanis under <a class="link"
              href="https://creativecommons.org/licenses/by/2.0" target="_blank">CC BY 2.0</a> (cropped)</p>
        </div>
      </li>
      <li class="flex items-start pb-2 space-x-2"><span class="font-semibold text-blue-600">135.</span>
        <div><a class="font-medium link" href="/hall-of-fame/ju-wenjun" target="_blank">Ju Wenjun</a>
          <p class="text-sm">By Andreas Kontokanis under <a class="link"
              href="https://creativecommons.org/licenses/by-sa/2.0" target="_blank">CC BY-SA 2.0</a> (cropped)</p>
        </div>
      </li>
      <li class="flex items-start pb-2 space-x-2"><span class="font-semibold text-blue-600">136.</span>
        <div><a class="font-medium link" href="/hall-of-fame/tatiana-kosintseva" target="_blank">Tatiana Kosintseva</a>
          <p class="text-sm">By Andreas
            Kontokanis under <a class="link" href="https://creativecommons.org/licenses/by-sa/2.0" target="_blank">CC
              BY-SA
              2.0</a> (cropped)</p>
        </div>
      </li>
      <li class="flex items-start pb-2 space-x-2"><span class="font-semibold text-blue-600">137.</span>
        <div><a class="font-medium link" href="/hall-of-fame/zhao-xue" target="_blank">Zhao Xue</a>
          <p class="text-sm">By Stephan64 under <a class="link" href="https://creativecommons.org/licenses/by-sa/3.0"
              target="_blank">CC BY-SA 3.0</a> (cropped)</p>
        </div>
      </li>
      <li class="flex items-start pb-2 space-x-2"><span class="font-semibold text-blue-600">138.</span>
        <div><a class="font-medium link" href="/hall-of-fame/susan-polgar" target="_blank">Susan Polgar</a>
          <p class="text-sm">By 4paul! under <a class="link" href="https://creativecommons.org/licenses/by-sa/2.0"
              target="_blank">CC BY-SA 2.0</a> (cropped)</p>
        </div>
      </li>
      <li class="flex items-start pb-2 space-x-2"><span class="font-semibold text-blue-600">139.</span>
        <div><a class="font-medium link" href="/hall-of-fame/nadezhda-kosintseva" target="_blank">Nadezhda
            Kosintseva</a>
          <p class="text-sm">By Andreas
            Kontokanis under <a class="link" href="https://creativecommons.org/licenses/by/2.0" target="_blank">CC BY
              2.0</a> (cropped)</p>
        </div>
      </li>
      <li class="flex items-start pb-2 space-x-2"><span class="font-semibold text-blue-600">140.</span>
        <div><a class="font-medium link" href="/hall-of-fame/nana-dzagnidze" target="_blank">Nana Dzagnidze</a>
          <p class="text-sm">By Andreas Kontokanis under <a class="link"
              href="https://creativecommons.org/licenses/by/2.0" target="_blank">CC BY 2.0</a> (cropped)</p>
        </div>
      </li>
      <li class="flex items-start pb-2 space-x-2"><span class="font-semibold text-blue-600">141.</span>
        <div><a class="font-medium link" href="/hall-of-fame/mariya-muzychuk" target="_blank">Mariya Muzychuk</a>
          <p class="text-sm">By Andreas
            Kontokanis under <a class="link" href="https://creativecommons.org/licenses/by/2.0" target="_blank">CC BY
              2.0</a> (cropped)</p>
        </div>
      </li>
      <li class="flex items-start pb-2 space-x-2"><span class="font-semibold text-blue-600">142.</span>
        <div><a class="font-medium link" href="/hall-of-fame/kateryna-lagno" target="_blank">Kateryna Lagno</a>
          <p class="text-sm">By The Ministry of
            Sports of the Republic of Tatarstan under <a class="link" href="https://creativecommons.org/licenses/by/4.0"
              target="_blank">CC BY 4.0</a> (cropped)</p>
        </div>
      </li>
      <li class="flex items-start pb-2 space-x-2"><span class="font-semibold text-blue-600">143.</span>
        <div><a class="font-medium link" href="/hall-of-fame/alexandra-kosteniuk" target="_blank">Alexandra
            Kosteniuk</a>
          <p class="text-sm">By Andreas
            Kontokanis under <a class="link" href="https://creativecommons.org/licenses/by/2.0" target="_blank">CC BY
              2.0</a> (cropped)</p>
        </div>
      </li>
      <li class="flex items-start pb-2 space-x-2"><span class="font-semibold text-blue-600">144.</span>
        <div><a class="font-medium link" href="/hall-of-fame/maia-chiburdanidze" target="_blank">Maia Chiburdanidze</a>
          <p class="text-sm">By Andreas
            Kontokanis under <a class="link" href="https://creativecommons.org/licenses/by/2.0" target="_blank">CC BY
              2.0</a> (cropped)</p>
        </div>
      </li>
      <li class="flex items-start pb-2 space-x-2"><span class="font-semibold text-blue-600">145.</span>
        <div><a class="font-medium link" href="/hall-of-fame/alisa-galliamova" target="_blank">Alisa Galliamova</a>
          <p class="text-sm">By Etery
            Kublashvili under <a class="link" href="https://creativecommons.org/licenses/by-sa/3.0" target="_blank">CC
              BY-SA
              3.0</a> (cropped)</p>
        </div>
      </li>
      <li class="flex items-start pb-2 space-x-2"><span class="font-semibold text-blue-600">146.</span>
        <div><a class="font-medium link" href="/hall-of-fame/antoaneta-stefanova" target="_blank">Antoaneta
            Stefanova</a>
          <p class="text-sm">By Andreas
            Kontokanis under <a class="link" href="https://creativecommons.org/licenses/by-sa/2.0" target="_blank">CC
              BY-SA
              2.0</a> (cropped)</p>
        </div>
      </li>
      <li class="flex items-start pb-2 space-x-2"><span class="font-semibold text-blue-600">147.</span>
        <div><a class="font-medium link" href="/hall-of-fame/lei-tingjie" target="_blank">Lei Tingjie</a>
          <p class="text-sm">By GibChess under <a class="link" href="https://creativecommons.org/licenses/by/3.0"
              target="_blank">CC BY 3.0</a> (cropped)</p>
        </div>
      </li>
      <li class="flex items-start pb-2 space-x-2"><span class="font-semibold text-blue-600">148.</span>
        <div><a class="font-medium link" href="/hall-of-fame/pia-cramling" target="_blank">Pia Cramling</a>
          <p class="text-sm">By Stephan64 under <a class="link" href="https://creativecommons.org/licenses/by-sa/4.0"
              target="_blank">CC BY-SA 4.0</a> (cropped)</p>
        </div>
      </li>
      <li class="flex items-start pb-2 space-x-2"><span class="font-semibold text-blue-600">149.</span>
        <div><a class="font-medium link" href="/hall-of-fame/zhu-chen" target="_blank">Zhu Chen</a>
          <p class="text-sm">By Doha Stadium Plus Qatar under <a class="link"
              href="https://creativecommons.org/licenses/by/2.0" target="_blank">CC BY 2.0</a> (cropped)</p>
        </div>
      </li>
      <li class="flex items-start pb-2 space-x-2"><span class="font-semibold text-blue-600">150.</span>
        <div><a class="font-medium link" href="/hall-of-fame/valentina-gunina" target="_blank">Valentina Gunina</a>
          <p class="text-sm">By Andreas
            Kontokanis under <a class="link" href="https://creativecommons.org/licenses/by-sa/2.0" target="_blank">CC
              BY-SA
              2.0</a> (cropped)</p>
        </div>
      </li>
      <li class="flex items-start pb-2 space-x-2"><span class="font-semibold text-blue-600">151.</span>
        <div><a class="font-medium link" href="/hall-of-fame/tan-zhongyi" target="_blank">Tan Zhongyi</a>
          <p class="text-sm">By Stephan64 under <a class="link" href="https://creativecommons.org/licenses/by-sa/3.0"
              target="_blank">CC BY-SA 3.0</a> (cropped)</p>
        </div>
      </li>
      <li class="flex items-start pb-2 space-x-2"><span class="font-semibold text-blue-600">152.</span>
        <div><a class="font-medium link" href="/hall-of-fame/harika-dronavalli" target="_blank">Harika Dronavalli</a>
          <p class="text-sm">By Frans
            Peeters under <a class="link" href="https://creativecommons.org/licenses/by-sa/2.0" target="_blank">CC BY-SA
              2.0</a> (cropped)</p>
        </div>
      </li>
      <li class="flex items-start pb-2 space-x-2"><span class="font-semibold text-blue-600">153.</span>
        <div><a class="font-medium link" href="/hall-of-fame/viktorija-čmilytė" target="_blank">Viktorija
            Čmilytė</a>
          <p class="text-sm">By Saeima under <a class="link" href="https://creativecommons.org/licenses/by-sa/2.0"
              target="_blank">CC BY-SA 2.0</a> (cropped)</p>
        </div>
      </li>
      <li class="flex items-start pb-2 space-x-2"><span class="font-semibold text-blue-600">154.</span>
        <div><a class="font-medium link" href="/hall-of-fame/marie-sebag" target="_blank">Marie Sebag</a>
          <p class="text-sm">By Stephan64 under <a class="link" href="https://creativecommons.org/licenses/by-sa/4.0"
              target="_blank">CC BY-SA 4.0</a> (cropped)</p>
        </div>
      </li>
      <li class="flex items-start pb-2 space-x-2"><span class="font-semibold text-blue-600">155.</span>
        <div><a class="font-medium link" href="/hall-of-fame/bella-khotenashvili" target="_blank">Bella
            Khotenashvili</a>
          <p class="text-sm">By Clément
            Bucco-Lechat under <a class="link" href="https://creativecommons.org/licenses/by-sa/3.0" target="_blank">CC
              BY-SA 3.0</a> (cropped)</p>
        </div>
      </li>
      <li class="flex items-start pb-2 space-x-2"><span class="font-semibold text-blue-600">156.</span>
        <div><a class="font-medium link" href="/hall-of-fame/nino-batsiashvili" target="_blank">Nino Batsiashvili</a>
          <p class="text-sm">By Stephan64 under <a class="link" href="https://creativecommons.org/licenses/by-sa/3.0"
              target="_blank">CC BY-SA 3.0</a> (cropped)</p>
        </div>
      </li>
      <li class="flex items-start pb-2 space-x-2"><span class="font-semibold text-blue-600">157.</span>
        <div><a class="font-medium link" href="/hall-of-fame/elina-danielian" target="_blank">Elina Danielian</a>
          <p class="text-sm">By Andreas
            Kontokanis under <a class="link" href="https://creativecommons.org/licenses/by-sa/2.0" target="_blank">CC
              BY-SA
              2.0</a> (cropped)</p>
        </div>
      </li>
      <li class="flex items-start pb-2 space-x-2"><span class="font-semibold text-blue-600">158.</span>
        <div><a class="font-medium link" href="/hall-of-fame/nana-ioseliani" target="_blank">Nana Ioseliani</a>
          <p class="text-sm">By MBIHund under <a class="link" href="https://creativecommons.org/licenses/by/3.0"
              target="_blank">CC BY 3.0</a> (cropped)</p>
        </div>
      </li>
      <li class="flex items-start pb-2 space-x-2"><span class="font-semibold text-blue-600">159.</span>
        <div><a class="font-medium link" href="/hall-of-fame/dinara-saduakassova" target="_blank">Dinara
            Saduakassova</a>
          <p class="text-sm">By Vysotsky under <a class="link" href="https://creativecommons.org/licenses/by-sa/4.0"
              target="_blank">CC BY-SA 4.0</a> (cropped)</p>
        </div>
      </li>
      <li class="flex items-start pb-2 space-x-2"><span class="font-semibold text-blue-600">160.</span>
        <div><a class="font-medium link" href="/hall-of-fame/xu-yuhua" target="_blank">Xu Yuhua</a>
          <p class="text-sm">By Mark Gluhovsky under <a class="link"
              href="https://creativecommons.org/licenses/by-sa/3.0" target="_blank">CC BY-SA 3.0</a> (cropped)</p>
        </div>
      </li>
      <li class="flex items-start pb-2 space-x-2"><span class="font-semibold text-blue-600">161.</span>
        <div><a class="font-medium link" href="/hall-of-fame/polina-shuvalova" target="_blank">Polina Shuvalova</a>
          <p class="text-sm">By Tasha1652 under <a class="link" href="https://creativecommons.org/licenses/by-sa/4.0"
              target="_blank">CC BY-SA 4.0</a> (cropped)</p>
        </div>
      </li>
      <li class="flex items-start pb-2 space-x-2"><span class="font-semibold text-blue-600">162.</span>
        <div><a class="font-medium link" href="/hall-of-fame/elisabeth-pähtz" target="_blank">Elisabeth Pähtz</a>
          <p class="text-sm">By Paul
            Meyer-Dunker under <a class="link" href="https://creativecommons.org/licenses/by-sa/4.0" target="_blank">CC
              BY-SA 4.0</a> (cropped)</p>
        </div>
      </li>
      <li class="flex items-start pb-2 space-x-2"><span class="font-semibold text-blue-600">163.</span>
        <div><a class="font-medium link" href="/hall-of-fame/natalia-pogonina" target="_blank">Natalia Pogonina</a>
          <p class="text-sm">By Andreas
            Kontokanis under <a class="link" href="https://creativecommons.org/licenses/by-sa/2.0" target="_blank">CC
              BY-SA
              2.0</a> (cropped)</p>
        </div>
      </li>
      <li class="flex items-start pb-2 space-x-2"><span class="font-semibold text-blue-600">164.</span>
        <div><a class="font-medium link" href="/hall-of-fame/ekaterina-kovalevskaya" target="_blank">Ekaterina
            Kovalevskaya</a>
          <p class="text-sm">By GFHund under <a class="link" href="https://creativecommons.org/licenses/by-sa/4.0"
              target="_blank">CC BY-SA
              4.0</a> (cropped)</p>
        </div>
      </li>
      <li class="flex items-start pb-2 space-x-2"><span class="font-semibold text-blue-600">165.</span>
        <div><a class="font-medium link" href="/hall-of-fame/zhansaya-abdumalik" target="_blank">Zhansaya Abdumalik</a>
          <p class="text-sm">By Frans
            Peeters under <a class="link" href="https://creativecommons.org/licenses/by-sa/2.0" target="_blank">CC BY-SA
              2.0</a> (cropped)</p>
        </div>
      </li>
      <li class="flex items-start pb-2 space-x-2"><span class="font-semibold text-blue-600">166.</span>
        <div><a class="font-medium link" href="/hall-of-fame/zhu-jiner" target="_blank">Zhu Jiner</a>
          <p class="text-sm">By Vysotsky under <a class="link" href="https://creativecommons.org/licenses/by-sa/4.0"
              target="_blank">CC BY-SA 4.0</a> (cropped)</p>
        </div>
      </li>
      <li class="flex items-start pb-2 space-x-2"><span class="font-semibold text-blue-600">167.</span>
        <div><a class="font-medium link" href="/hall-of-fame/ketevan-arakhamia" target="_blank">Ketevan Arakhamia</a>
          <p class="text-sm">By Stephan64 under <a class="link" href="https://creativecommons.org/licenses/by-sa/3.0"
              target="_blank">CC BY-SA 3.0</a> (cropped)</p>
        </div>
      </li>
      <li class="flex items-start pb-2 space-x-2"><span class="font-semibold text-blue-600">168.</span>
        <div><a class="font-medium link" href="/hall-of-fame/rameshbabu-vaishali" target="_blank">Rameshbabu
            Vaishali</a>
          <p class="text-sm">By Frans
            Peeters under <a class="link" href="https://creativecommons.org/licenses/by-sa/2.0" target="_blank">CC BY-SA
              2.0</a> (cropped)</p>
        </div>
      </li>
      <li class="flex items-start pb-2 space-x-2"><span class="font-semibold text-blue-600">169.</span>
        <div><a class="font-medium link" href="/hall-of-fame/sofia-polgar" target="_blank">Sofia Polgar</a>
          <p class="text-sm">By Fotoburo De Boer under <a class="link"
              href="https://creativecommons.org/licenses/by-sa/4.0" target="_blank">CC BY-SA 4.0</a> (cropped)</p>
        </div>
      </li>
      <li class="flex items-start pb-2 space-x-2"><span class="font-semibold text-blue-600">170.</span>
        <div><a class="font-medium link" href="/hall-of-fame/monika-soćko" target="_blank">Monika Soćko</a>
          <p class="text-sm">By Krzysztof Szeląg under <a class="link"
              href="https://creativecommons.org/licenses/by-sa/4.0" target="_blank">CC BY-SA 4.0</a> (cropped)</p>
        </div>
      </li>
      <li class="flex items-start pb-2 space-x-2"><span class="font-semibold text-blue-600">171.</span>
        <div><a class="font-medium link" href="/hall-of-fame/olga-girya" target="_blank">Olga Girya</a>
          <p class="text-sm">By Vysotsky under <a class="link" href="https://creativecommons.org/licenses/by-sa/4.0"
              target="_blank">CC BY-SA 4.0</a> (cropped)</p>
        </div>
      </li>
      <li class="flex items-start pb-2 space-x-2"><span class="font-semibold text-blue-600">172.</span>
        <div><a class="font-medium link" href="/hall-of-fame/alina-kashlinskaya" target="_blank">Alina Kashlinskaya</a>
          <p class="text-sm">By GFHund under <a class="link" href="https://creativecommons.org/licenses/by-sa/4.0"
              target="_blank">CC BY-SA 4.0</a> (cropped)</p>
        </div>
      </li>
      <li class="flex items-start pb-2 space-x-2"><span class="font-semibold text-blue-600">173.</span>
        <div><a class="font-medium link" href="/hall-of-fame/lilit-mkrtchian" target="_blank">Lilit Mkrtchian</a>
          <p class="text-sm">By Andreas
            Kontokanis under <a class="link" href="https://creativecommons.org/licenses/by-sa/2.0" target="_blank">CC
              BY-SA
              2.0</a> (cropped)</p>
        </div>
      </li>
      <li class="flex items-start pb-2 space-x-2"><span class="font-semibold text-blue-600">174.</span>
        <div><a class="font-medium link" href="/hall-of-fame/anna-ushenina" target="_blank">Anna Ushenina</a>
          <p class="text-sm">By Andreas Kontokanis under <a class="link"
              href="https://creativecommons.org/licenses/by/2.0" target="_blank">CC BY 2.0</a> (cropped)</p>
        </div>
      </li>
      <li class="flex items-start pb-2 space-x-2"><span class="font-semibold text-blue-600">175.</span>
        <div><a class="font-medium link" href="/hall-of-fame/irina-krush" target="_blank">Irina Krush</a>
          <p class="text-sm">By Andreas Kontokanis under <a class="link"
              href="https://creativecommons.org/licenses/by-sa/2.0" target="_blank">CC BY-SA 2.0</a> (cropped)</p>
        </div>
      </li>
      <li class="flex items-start pb-2 space-x-2"><span class="font-semibold text-blue-600">176.</span>
        <div><a class="font-medium link" href="/hall-of-fame/almira-skripchenko" target="_blank">Almira Skripchenko</a>
          <p class="text-sm">By Stephan64 under <a class="link" href="https://creativecommons.org/licenses/by-sa/3.0"
              target="_blank">CC BY-SA 3.0</a> (cropped)</p>
        </div>
      </li>
      <li class="flex items-start pb-2 space-x-2"><span class="font-semibold text-blue-600">177.</span>
        <div><a class="font-medium link" href="/hall-of-fame/lela-javakhishvili" target="_blank">Lela Javakhishvili</a>
          <p class="text-sm">By Andreas
            Kontokanis under <a class="link" href="https://creativecommons.org/licenses/by-sa/2.0" target="_blank">CC
              BY-SA
              2.0</a> (cropped)</p>
        </div>
      </li>
    </ol>
  </section>
</div>