<div class="container py-20 mx-auto font-sans">
  <section class="section-container">
    <div class="relative mb-10 space-y-2 font-serif font-bold text-center uppercase text-dark-oak">
      <h3 class="mb-8 text-3xl">Get In</h3>
      <div class="flex flex-col items-center justify-center mb-8">
        <hr class="w-full border-2 border-oak">
        <h2 class="px-4 text-4xl -translate-y-1/2 bg-cream">Touch With Us</h2>
      </div>
      <div class="w-3/5 mx-auto space-y-5 font-sans text-lg normal-case">
        <p>
          We're here to help! Whether you have a question, need assistance, or want to share your thoughts, we're just a
          message away.
        </p>
        <p class="pb-6">
          Your feedback and inquiries are important to us, and we're committed to providing you with the support
          you need, at <a href="mailto:pakdad.mousavi@gmail.com" class="link">info@chessless.com</a>.
        </p>
        <a href="mailto:pakdad.mousavi@gmail.com" class="text-base button">Email Us</a>
      </div>
    </div>
  </section>

  <section class="py-20 section-container">
    <div class="relative mb-10 space-y-2 font-serif font-bold text-center uppercase text-dark-oak">
      <h3 class="mb-8 text-3xl">About</h3>
      <div class="flex flex-col items-center justify-center mb-8">
        <hr class="w-full border-2 border-oak">
        <h2 class="px-4 text-4xl -translate-y-1/2 bg-cream">Who We Are</h2>
      </div>
      <div class="w-3/5 mx-auto space-y-5 font-sans text-lg normal-case">
        <p>
          Hi there, I'm Pakdad Mousavi, the 16 year old teenager behind the pawn (the person who created this website!).
        </p>
        <p>
          Driven by a passion for technology and chess, I've built this platform to share my love for the game with
          like-minded individuals. My goal is to make it a space where people, both beginners and advanced, can explore,
          learn, and grow.
        </p>
      </div>
    </div>
  </section>

  <section class="section-container">
    <div class="grid gap-5 md:grid-cols-1 lg:grid-cols-2">
      <div class="p-8 bg-white rounded-2xl">
        <div class="space-y-1">
          <h3 class="text-oak">How It All Began</h3>
          <h2 class="font-serif text-xl font-bold uppercase">Background In Chess</h2>
          <hr class="border-[1px] border-dark-oak w-1/2">
        </div>
        <div class="mt-6 space-y-6 font-sans text-lg">
          <p>
            I fell in love with the intricate game of chess at the age of 7. My mother had told me stories at the
            time, of her childhood with her own father, and their lengthful games of chess, sitting behind the board
            for hours and hours to pass.
          </p>
          <p>
            Soon, I learnt how to play, and after asking my mother, we sat down for a game. I lost in a mere 5
            minutes, I couldn't believe it! So we played again and again, but the outcome remained the same.
          </p>
          <p>
            I was determined to win, and around the age of 9, I discovered online chess. I spent hours and hours
            everyday for months, just playing and watching youtube videos of GM's and IM's playing.
          </p>
          <p>
            Before I knew it, I was significantly more skillful, and I could no longer be defeated by anyone I knew,
            not friends nor family. I ended up winning chess champion twice back-to-back in my school, and then
            participating in interschool tournaments, until eventually no one wanted to play with me anymore due to the
            skill gap.
          </p>
        </div>
      </div>
      <div class="p-8 bg-white rounded-2xl">
        <div class="space-y-1">
          <h3 class="text-oak">Learning How To Write Programs</h3>
          <h2 class="font-serif text-xl font-bold uppercase">Making Websites</h2>
          <hr class="border-[1px] border-dark-oak w-1/2">
        </div>
        <div class="mt-6 space-y-6 font-sans text-lg">
          <p>
            I wrote my first lines of code at the age of 6. It was some C# that my father had taught me, a simple
            Console.WriteLine() to write out text.
          </p>
          <p>
            My father is a top-level software architect, with an incredible knowledge tree in all computing endeavors.
            He set me on this path and has left an indelible mark on my life.
          </p>
          <p>
            Initially, he showed me Khan Academy, where I would go on to learn basic javascript in their website. Soon
            afterwards, I learnt the html and css languages, but unfortunately, I had long periodic breaks between
            learning.
          </p>
          <p>
            After getting older at around 12 years of age, he bought me my first programming book, where I learnt
            proper javascript and began fiddling around with it. From there, I went on to create different projects and
            learnt backend development with node.js.
          </p>
        </div>
      </div>
      <div class="p-8 bg-white lg:col-span-2 rounded-2xl">
        <div class="space-y-1">
          <h3 class="text-oak">Behind The Curtains</h3>
          <h2 class="font-serif text-xl font-bold uppercase">Creating Chessless</h2>
          <hr class="border-[1px] border-dark-oak w-1/4">
        </div>
        <div class="mt-6 space-y-6 font-sans text-lg">
          <p>
            Creating Chessless was not something I can fully take credit for. My father was the person who gave me the
            idea for the site, and his remarkable feedback helped shape it into what it is today. I was in charge of
            designing, creating and testing all of the features of Chessless, and I'm quite happy with how it's turned
            out!
          </p>
          <p>
            Of course, I will continue to update the site and add new features to it over time, expanding the Chessless
            family, while sharing my love and interest for the game of chess through it. I wish to inspire other young
            chess players and motivate them into delving deeper into the sweet strategy of the game; learning openings,
            catching tactics, and finishing endgames successfully.
          </p>
          <p>
            I hope you enjoy exploring this website as much as I enjoyed creating it, and I wish you the best of
            luck in both your games and your learning. Have fun!
          </p>
        </div>
      </div>
    </div>
  </section>

</div>
<h1 class="h-10 mt-10 bg-red-200 sm:bg-green-200 md:bg-blue-200 lg:bg-purple-300 xl:bg-lime-300 2xl:bg-yellow-200">
</h1>