<div class="container mx-auto font-sans">
  {{!-- Puzzle --}}
  <section class="py-10 section-container">
    <div class="flex gap-x-10">
      {{!-- Board --}}
      <div class="w-3/5">
        <div class="w-full bg-red-400 aspect-square puzzle-board" data-pgn="{{dailyPuzzle.game.pgnArray}}"
          data-solution="{{dailyPuzzle.puzzle.solution}}" id="pz_{{dailyPuzzle.game.id}}"></div>
      </div>

      {{!-- PGN panel --}}
      <div class="w-2/5 pgn-panel pz_{{dailyPuzzle.game.id}}">
        <div class="flex flex-col h-full bg-white border-2 border-spruce">
          {{!-- Title --}}
          <div>
            <div class="flex flex-col items-start justify-center mt-7">
              <hr class="w-11/12 mx-auto border-2 border-oak">
              <h2 class="px-4 font-serif text-xl font-bold uppercase -translate-y-1/2 bg-white">PGN Panel</h2>
            </div>
          </div>

          {{!-- Moves --}}
          <div class="flex h-[400px] overflow-y-scroll border-y-[1px] bg-cream pgn-scroller">
            <div class="grid w-12 grid-cols-1 text-center index-box"></div>
            <div class="grid flex-1 grid-cols-2 move-box"></div>
          </div>

          {{!-- Message box --}}
          <div class="flex w-full">
            <div class="px-12 py-10 text-xl font-bold message-box"></div>
          </div>
        </div>
      </div>
    </div>
  </section>

  {{!-- Title --}}
  <section class="py-20 section-container">
    <div class="relative space-y-2 font-serif font-bold text-center uppercase text-dark-oak">
      <h3 class="mb-8 text-3xl">Answering</h3>
      <div class="flex flex-col items-center justify-center mb-8">
        <hr class="w-full border-2 border-oak">
        <h2 class="px-4 text-4xl -translate-y-1/2 bg-cream">Frequently Asked Questions</h2>
      </div>
      <p class="w-3/5 mx-auto font-sans text-lg normal-case">
        Feeling confused or lost? Here are some quick answers to your top questions about puzzles to help kickstart your
        puzzle solving and get you going.
      </p>
    </div>
  </section>

  <section class="pb-10 section-container">
    <div class="w-4/5 mx-auto space-y-6">
      <div class="px-6 bg-white rounded-xl">
        <div class="flex items-center py-4">
          <div class="flex flex-col flex-1">
            <h5 class="text-sm">What a Chess Puzzle Is</h5>
            <h4 class="text-2xl font-semibold">How Does a Chess Puzzle Work?</h4>
          </div>
          <span class="">(icon)</span>
        </div>
        <div class="overflow-hidden">
          <div class="paragraphs-container !text-base pb-6">
            <p>A chess puzzle is like a mini challenge where you're given a specific position on the board and need to
              find the best move or series of moves. It's not about playing a full game but focusing on solving a
              particular problem, like delivering checkmate or winning material.</p>
            <p>These puzzles are great for sharpening your tactical skills and helping you see patterns in the game.
              They can be as simple as finding a one-move checkmate or as tricky as figuring out a complex combo.</p>
            <p>chess puzzles are perfect for fitting in some quick practice. You don't need a lot of time—just a few
              minutes here and there to tackle a puzzle or two. It's a fun, bite-sized way to stay engaged with chess,
              even on a busy day!</p>
          </div>
        </div>
      </div>
      <div class="px-6 bg-white rounded-xl">
        <div class="flex items-center py-4">
          <div class="flex flex-col flex-1">
            <h5 class="text-sm">Daily Puzzles Vs Chess Puzzles</h5>
            <h4 class="text-2xl font-semibold">What Is a "Daily Puzzle"?</h4>
          </div>
          <span class="">(icon)</span>
        </div>
        <div class="overflow-hidden">
          <div class="paragraphs-container !text-base pb-6">
            <p>A "Daily Puzzle" is like your daily dose of chess excitement! Every day, a new puzzle is served up for
              you to solve, challenging your mind and helping you stay sharp. These puzzles can be found on most chess
              websites or apps, and they range in difficulty, so there's always something that fits your level.</p>
            <p>One of the best things about Daily Puzzles is that they keep things fresh. Since a new one is posted
              every day, you never know what kind of challenge you'll get. Some days might be easy, while others could
              really test your skills. It's a fun way to keep improving, little by little.</p>
          </div>
        </div>
      </div>
      <div class="px-6 bg-white rounded-xl">
        <div class="flex items-center py-4">
          <div class="flex flex-col flex-1">
            <h5 class="text-sm">Solving The Puzzle</h5>
            <h4 class="text-2xl font-semibold">How Should I Solve The Puzzle?</h4>
          </div>
          <span class="">(icon)</span>
        </div>
        <div class="overflow-hidden">
          <div class="paragraphs-container !text-base pb-6">
            <p>When it comes to solving a chess puzzle, the first thing you should do is take your time and carefully
              analyze the position. Look at the entire board, not just the immediate area around the pieces involved.
              Try to spot any threats, opportunities, or patterns that could lead to a successful move.</p>
            <p>Next, consider all your options before making a move. Sometimes, the best move isn't the most obvious
              one, so it's important to think a few steps ahead. Ask yourself what your opponent's best response might
              be and how you would counter that.</p>
            <p>And finally, don't be afraid to experiment! If you're unsure, try different moves in your mind or on the
              board to see
              how the position changes. Don't worry about playing the wrong move, our puzzle boards let you try as many
              moves as you'd like until you find the correct sequence, so even if you make a mistake, you're still
              learning.</p>
          </div>
        </div>
      </div>
      <div class="px-6 bg-white rounded-xl">
        <div class="flex items-center py-4">
          <div class="flex flex-col flex-1">
            <h5 class="text-sm">Autoplaying Sounds In Each Browser</h5>
            <h4 class="text-2xl font-semibold">Why Can't I Hear The First Move Being Played?</h4>
          </div>
          <span class="">(icon)</span>
        </div>
        <div class="overflow-hidden">
          <div class="paragraphs-container !text-base pb-6">
            <p>If you're wondering why you can't hear the first move being played when you start a puzzle, it's probably
              because of how most browsers handle sound. Many modern browsers have rules in place that prevent audio
              from playing automatically when a page loads.</p>
            <p>This is done to enhance the user experience, so you're not suddenly surprised by unexpected sounds,
              especially when you're browsing multiple tabs or in a quiet environment.</p>
            <p>To hear the sounds, you'll usually need to interact with the page first—like clicking on the board. Once
              you've done that, the browser recognizes that you're engaged and allows the sound to play.</p>
            <p>If you'd like to allow chessless.com to autoplay sounds, follow the steps below for your browser:</p>
            <div class="grid grid-cols-2 gap-10 text-sm">
              <ol class="list-decimal list-inside">
                <p class="mb-2 text-lg font-medium">Mozilla Firefox:</p>
                <li>Go to chessless.com</li>
                <li>Press Ctrl-i on Linux/Windows or cmd-i on MacOS</li>
                <li>Click the "Permissions" tab</li>
                <li>Allow Audio and Video on chessless.com</li>
              </ol>
              <ol class="list-decimal list-inside">
                <p class="mb-2 text-lg font-medium">Safari:</p>
                <li>Go to chessless.com</li>
                <li>Click "Safari" in the top navigation bar</li>
                <li>Click "Settings for chessless.com ..."</li>
                <li>Change "Auto-Play" to "Allow All Auto-Play"</li>
              </ol>
              <ol class="list-decimal list-inside">
                <p class="mb-2 text-lg font-medium">Google Chrome:</p>
                <li>Go to chessless.com</li>
                <li>Click the lock icon in the top address bar</li>
                <li>Click "Site Settings"</li>
                <li>Allow Sound</li>
              </ol>
              <ol class="list-decimal list-inside">
                <p class="mb-2 text-lg font-medium">Microsoft Edge:</p>
                <li>Click the three dots in the top right corner</li>
                <li>Click Settings</li>
                <li>Click Cookies and Site Permissions</li>
                <li>Scroll down and click Media autoplay</li>
                <li>Add chessless.com to Allow</li>
              </ol>
            </div>
            </p>
          </div>
        </div>
      </div>
  </section>
</div>