<div class="container mx-auto font-sans">
  {{!-- Banner title section --}}
  <div
    class="flex items-center h-[calc(100svh)] bg-spruce bg-[url('/images/king-focus-banner.jpg')] w-full bg-no-repeat bg-cover bg-center lg:bg-left-top px-8">
    <div class="flex flex-col w-3/4 mt-10 lg:w-1/2 text-cream">
      <div class="mb-4"> {{!-- Pre-title --}}
        <span>Mastering The Art Of Chess</span>
        <hr class="mt-1 w-[12.5%] border-[1px]">
      </div>
      <div class="flex flex-col mb-12 font-serif font-bold uppercase gap-y-5 whitespace-nowrap"> {{!-- Title --}}
        <h3 class="text-4xl">The</h3>
        <h2 class="text-5xl">Quintessential</h2>
        <h1 class="text-6xl">Chess Journey</h1>
      </div>
      <div class="mb-10"> {{!-- Description --}}
        <p class="text-xl xl:w-4/5">Learn openings, understand basic tactics, solve daily puzzles and more. Not
          interested in playing? Explore
          the biographies of the top chess players in the world.</p>
      </div>
      <div class="space-x-8 text-spruce"> {{!-- Buttons --}}
        <a href="#" class="button">How To Play</a>
        <a href="#" class="button">Worldwide Top Players</a>
      </div>
    </div>
  </div>
  <div class="w-full h-10 mb-20 bg-spruce"></div>

  <div class="px-8">
    <div class="mb-20"> {{!-- Section title --}}
      <div class="relative space-y-2 font-serif font-bold text-center uppercase text-dark-oak">
        <h3 class="mb-8 text-3xl">Learn About The</h3>
        <div class="flex flex-col items-center justify-center mb-8">
          <hr class="w-full border-2 border-oak">
          <h2 class="px-4 text-4xl -translate-y-1/2 bg-cream">Pieces</h2>
        </div>
      </div>
      <p class="w-3/5 mx-auto font-sans text-xl text-center">
        Begin your path by immersing yourself in the fascinating intricacies of how each piece navigates the chessboard,
        revealing the profound depths of their strategic power.
      </p>
    </div>

    {{!-- Pieces section --}}
    <div class="grid md:grid-cols-2 lg:grid-cols-3 bg-white border-[0.5px] mb-28">
      <div class="px-4 py-6 border-[0.5px]">
        <div class="flex items-center gap-x-4">
          <div>
            <div class="mb-4 font-serif font-bold uppercase">
              <h3 class="text-2xl">The</h3>
              <h4 class="text-3xl">King</h4>
            </div>
            <p class="mb-6">
              The King is the most vital piece on the chessboard, embodying the ultimate objective of the game- Its
              presence commands the battlefield.
            </p>
            <a href="#" class="button">Learn More</a>
          </div>
          <img src="https://placehold.co/100x200.png" alt="The King">
        </div>
      </div>
      <div class="px-4 py-6 border-[0.5px]">
        <div class="flex items-center gap-x-4">
          <div>
            <div class="mb-4 font-serif font-bold uppercase">
              <h3 class="text-2xl">The</h3>
              <h4 class="text-3xl">Queen</h4>
            </div>
            <p class="mb-6">
              The Queen is the most powerful piece, combining the strengths of the rook and bishop, dominating the board
              with unmatched versatility and range.
            </p>
            <a href="#" class="button">Learn More</a>
          </div>
          <img src="https://placehold.co/100x200.png" alt="The Queen">
        </div>
      </div>
      <div class="px-4 py-6 border-[0.5px]">
        <div class="flex items-center gap-x-4">
          <div>
            <div class="mb-4 font-serif font-bold uppercase">
              <h3 class="text-2xl">The</h3>
              <h4 class="text-3xl">Bishop</h4>
            </div>
            <p class="mb-6">
              The Bishop is a long-range piece that excels in open positions, strategically influencing the board
              through its diagonal control.
            </p>
            <a href="#" class="button">Learn More</a>
          </div>
          <img src="https://placehold.co/100x200.png" alt="The Bishop">
        </div>
      </div>
      <div class="px-4 py-6 border-[0.5px]">
        <div class="flex items-center gap-x-4">
          <div>
            <div class="mb-4 font-serif font-bold uppercase">
              <h3 class="text-2xl">The</h3>
              <h4 class="text-3xl">Knight</h4>
            </div>
            <p class="mb-6">
              The Knight is a versatile piece known for its unique movement and ability to jump over others. This
              unpredictable piece makes it a powerful tool.
            </p>
            <a href="#" class="button">Learn More</a>
          </div>
          <img src="https://placehold.co/100x200.png" alt="The Knight">
        </div>
      </div>
      <div class="px-4 py-6 border-[0.5px]">
        <div class="flex items-center gap-x-4">
          <div>
            <div class="mb-4 font-serif font-bold uppercase">
              <h3 class="text-2xl">The</h3>
              <h4 class="text-3xl">Rook</h4>
            </div>
            <p class="mb-6">
              The Rook is a powerful piece that excels in controlling open lines and supporting other pieces. Its
              strength lies in its ability to dominate files and ranks.
            </p>
            <a href="#" class="button">Learn More</a>
          </div>
          <img src="https://placehold.co/100x200.png" alt="The Rook">
        </div>
      </div>
      <div class="px-4 py-6 border-[0.5px]">
        <div class="flex items-center gap-x-4">
          <div>
            <div class="mb-4 font-serif font-bold uppercase">
              <h3 class="text-2xl">The</h3>
              <h4 class="text-3xl">Pawn</h4>
            </div>
            <p class="mb-6">
              The Pawn is the most numerous piece on the chessboard, often seen as the backbone of a player's strategy.
              Their strength is in their numbers.
            </p>
            <a href="#" class="button">Learn More</a>
          </div>
          <img src="https://placehold.co/100x200.png" alt="The Pawn">
        </div>
      </div>
    </div>

    {{!-- Hall of fame section --}}
    <div class="mb-20"> {{!-- Section title --}}
      <div class="relative space-y-2 font-serif font-bold text-center uppercase text-dark-oak">
        <h3 class="mb-8 text-3xl">Wisdom From</h3>
        <div class="flex flex-col items-center justify-center mb-8">
          <hr class="w-full border-2 border-oak">
          <h2 class="px-4 text-4xl -translate-y-1/2 bg-cream">Chess Masters</h2>
        </div>
      </div>
      <p class="w-3/5 mx-auto font-sans text-xl text-center">
        Explore the profound insights and timeless wisdom of some of the world's greatest players. Discover their
        strategic brilliance and personal philosophies that have shaped the world of chess.
      </p>
    </div>
    
    <div class="grid mb-20 md:px-20 lg:px-0 lg:grid-cols-2 gap-x-24 gap-y-20">
      <div>
        <div class="flex items-center gap-x-5">
          <div>
            <div class="mb-2">
              <span>World Chess Champion 2013-2023</span>
              <hr class="border-[1px] border-spruce w-1/5">
            </div>
            <div class="mb-4">
              <h4 class="font-serif text-2xl font-bold uppercase">Magnus <br>Carlsen</h4>
            </div>
            <div>
              <p class="w-11/12 font-sans text-oak">
                “Some people think that if their opponent plays a beautiful game, it's okay to lose. I don't. You have
                to be merciless.”
              </p>
            </div>
          </div>
          <img src="https://placehold.co/200.png" alt="Magnus Carlsen" class="rounded-2xl border-spruce border-[1px]">
        </div>
      </div>
      <div>
        <div class="flex items-center gap-x-5">
          <div>
            <div class="mb-2">
              <span>World Chess Champion 1985-2000</span>
              <hr class="border-[1px] border-spruce w-1/5">
            </div>
            <div class="mb-4">
              <h4 class="font-serif text-2xl font-bold uppercase">Garry <br>Kasparov</h4>
            </div>
            <div>
              <p class="w-11/12 font-sans text-oak">
                “You should have a solid and well-developed position before going on the attack, is applicable to every
                field of battle.”
              </p>
            </div>
          </div>
          <img src="https://placehold.co/200.png" alt="Magnus Carlsen" class="rounded-2xl border-spruce border-[1px]">
        </div>
      </div>
      <div>
        <div class="flex items-center gap-x-5">
          <div>
            <div class="mb-2">
              <span>World Chess Champion 1972-1975</span>
              <hr class="border-[1px] border-spruce w-1/5">
            </div>
            <div class="mb-4">
              <h4 class="font-serif text-2xl font-bold uppercase">Bobby <br>Fischer</h4>
            </div>
            <div>
              <p class="w-11/12 font-sans text-oak">
                “Chess is a matter of delicate judgement, knowing when to punch and how to duck.”
              </p>
            </div>
          </div>
          <img src="https://placehold.co/200.png" alt="Magnus Carlsen" class="rounded-2xl border-spruce border-[1px]">
        </div>
      </div>
      <div>
        <div class="flex items-center gap-x-5">
          <div>
            <div class="mb-2">
              <span>World Chess Champion 2000-2006</span>
              <hr class="border-[1px] border-spruce w-1/5">
            </div>
            <div class="mb-4">
              <h4 class="font-serif text-2xl font-bold uppercase">Vladimir <br>Kramnik</h4>
            </div>
            <div>
              <p class="w-11/12 font-sans text-oak">
                “For me, art and chess are closely related, both are forms in which the self finds beauty and
                expression.”
              </p>
            </div>
          </div>
          <img src="https://placehold.co/200.png" alt="Magnus Carlsen" class="rounded-2xl border-spruce border-[1px]">
        </div>
      </div>
    </div>

    {{!-- Divider section --}}
    <div class="px-8 py-10 mb-20 bg-dark-oak text-cream">
      <div class="relative mb-4 space-y-2 font-serif font-bold text-center uppercase">
        <h3 class="mb-8 text-3xl">Begin Your</h3>
        <div class="flex flex-col items-center justify-center mb-8">
          <hr class="w-full border-2 border-cream">
          <h2 class="px-4 text-4xl -translate-y-1/2 bg-dark-oak">Chess Path</h2>
        </div>
      </div>
      <p class="w-3/5 mx-auto font-sans text-xl text-center">
        Explore the profound insights and timeless wisdom of some of the world's greatest players. Discover their
        strategic brilliance and personal philosophies that have shaped the world of chess.
      </p>
      <div class="mt-10 space-x-8 text-center">
        <a href="#" class="button">How To Play</a>
        <a href="#" class="button">Openings</a>
      </div>
    </div>

    {{!-- Zigzag section --}}
    <div
      class="grid items-center mx-auto mb-40 text-center md:text-left justify-items-center md:justify-items-start md:grid-cols-2 gap-x-10 lg:gap-x-20 xl:gap-x-0 gap-y-20 xl:w-5/6 2xl:w-4/5">
      <div>
        <div class="order-1">
          <div class="mb-8">
            <span>Daily chess challenges</span>
            <hr class="border-[1px] border-spruce w-1/5 mx-auto md:mx-0 mt-1 md:mt-0">
          </div>
          <div class="mb-6 space-y-1">
            <h5 class="font-serif text-2xl font-bold uppercase">Everyday</h5>
            <h4 class="font-serif text-3xl font-bold uppercase">Chess Puzzles</h4>
          </div>
          <div class="mb-6">
            <p class="w-11/12 mx-auto font-sans text-oak md:mx-0">
              Sharpen your skills and challenge your mind with our daily chess puzzles. Each day, you'll encounter a new
              puzzle designed to test your tactical acumen and improve your strategic thinking.
            </p>
          </div>
          <div>
            <a href="#" class="button">Try Today's Puzzle</a>
          </div>
        </div>
      </div>
      <div class="order-2 md:justify-self-end">
        <img src="https://placeholder.co/400.png" alt="Puzzle">
      </div>
      <div class="order-4 md:order-3">
        <img src="https://placeholder.co/400.png" alt="Notation">
      </div>
      <div class="order-3 md:order-4">
        <div>
          <div class="mb-8">
            <span>The global chess language</span>
            <hr class="border-[1px] border-spruce w-1/5 mx-auto md:mx-0 mt-1 md:mt-0">
          </div>
          <div class="mb-6 space-y-1">
            <h5 class="font-serif text-2xl font-bold uppercase">Learn</h5>
            <h4 class="font-serif text-3xl font-bold uppercase">Chess Notation</h4>
          </div>
          <div class="mb-6">
            <p class="w-11/12 mx-auto font-sans text-oak md:mx-0">
              Understanding chess notation is essential for studying games, recording your own matches, and
              communicating with other players. It is a universal language that allows players to replay their games and
              call out moves.
            </p>
          </div>
          <div>
            <a href="#" class="button">Learn Chess Notation</a>
          </div>
        </div>
      </div>
      <div class="order-5">
        <div>
          <div class="mb-8">
            <span>Evolution of chess</span>
            <hr class="border-[1px] border-spruce w-1/5 mx-auto md:mx-0 mt-1 md:mt-0">
          </div>
          <div class="mb-6 space-y-1">
            <h5 class="font-serif text-2xl font-bold uppercase">Chess</h5>
            <h4 class="font-serif text-3xl font-bold uppercase">Timeline</h4>
          </div>
          <div class="mb-6">
            <p class="w-11/12 mx-auto font-sans text-oak md:mx-0">
              Explore the rich history and evolution of chess from its origins in ancient India to the modern era. The
              timeline highlights the key milestones, influential figures, and pivotal moments for the game's evolution.
            </p>
          </div>
          <div>
            <a href="#" class="button">See The Timeline</a>
          </div>
        </div>
      </div>
      <div class="order-6 md:justify-self-end">
        <img src="https://placeholder.co/400.png" alt="Timeline">
      </div>
    </div>

    {{!-- Epilogue section --}}
    <div class="mb-20">
      <div class="relative space-y-2 font-serif font-bold text-center uppercase text-dark-oak">
        <h3 class="mb-8 text-3xl">Start</h3>
        <div class="flex flex-col items-center justify-center mb-8">
          <hr class="w-full border-2 border-oak">
          <h2 class="px-4 text-4xl -translate-y-1/2 bg-cream">Right Now</h2>
        </div>
      </div>
      <p class="w-3/5 mx-auto font-sans text-xl text-center">
        Jump into the fascinating world of chess and begin your journey today. Whether you're a complete beginner or
        looking to brush up on the basics, we provide all the essentials you need to get started.
      </p>
      <div class="mt-10 text-center">
        <a href="#" class="button">Start Learning</a>
      </div>
    </div>
  </div>
</div>
<h1 class="h-10 mt-10 bg-red-200 sm:bg-green-200 md:bg-blue-200 lg:bg-purple-300 xl:bg-lime-300 2xl:bg-yellow-200"></h1>