{{!-- Banner title section --}}
<div
  class="flex items-center h-[calc(100svh-72px)] bg-spruce bg-[url('/images/king-focus-banner.jpg')] w-full bg-no-repeat bg-cover lg:bg-center font-sans">
  <div class="container px-10 mx-auto font-sans">
    <div
      class="flex flex-col text-center md:w-3/4 lg:w-1/2 text-cream md:text-left md:backdrop-blur-0 backdrop-blur-md bg-white/5 rounded-2xl md:rounded-none md:bg-white/0">
      <div class="mb-4"> {{!-- Pre-title --}}
        <span class="2xl:text-xl">Mastering The Art Of Chess</span>
        <hr class="mt-1 w-[12.5%] border-[1px] md:mx-0 mx-auto">
      </div>
      <div class="flex flex-col mb-12 font-serif font-bold uppercase gap-y-5 md:whitespace-nowrap"> {{!-- Title --}}
        <h3 class="text-3xl md:text-4xl 2xl:text-6xl">The</h3>
        <h2 class="text-4xl md:text-5xl 2xl:text-7xl">Quintessential</h2>
        <h1 class="text-5xl md:text-6xl 2xl:text-8xl">Chess Journey</h1>
      </div>
      <div class="mb-10"> {{!-- Description --}}
        <p class="text-lg md:text-xl xl:w-4/5 2xl:w-full 2xl:text-2xl">
          Learn chess, understand basic tactics, solve daily puzzles and more. Not interested in playing? Explore the
          biographies of the top chess players in the world.
        </p>
      </div>
      {{!-- Buttons --}}
      <div class="flex flex-wrap justify-center mx-auto md:justify-start md:mx-0 gap-x-8">
        <a href="/notation" class="button">How To Play</a>
        <a href="/hall-of-fame" class="button">Worldwide Top Players</a>
      </div>
    </div>
  </div>
</div>
<div class="w-full h-10 mb-20 bg-neutral-900"></div>

<div class="container px-10 mx-auto font-sans">
  <section class="mb-28">
    <div class="mb-20">
      <div class="relative space-y-2 font-serif font-bold text-center uppercase text-oak">
        <h3 class="mb-8 text-3xl sm:text-4xl">Wisdom From Chess</h3>
        <div class="flex flex-col items-center justify-center mb-8">
          <hr class="w-full border-2 border-oak">
          <h2 class="px-4 text-4xl -translate-y-1/2 sm:text-5xl bg-spruce">Masters</h2>
        </div>
      </div>
      <p class="paragraph">
        Explore the profound insights and timeless wisdom of some of the world's greatest players. Discover their
        strategic brilliance and personal philosophies that have shaped the world of chess.
      </p>
    </div>

    <div class="space-y-4">
      {{!-- Carousel one --}}
      <div class="carousel-container">
        <ul class="carousel to-left">
          <li>
            <a href="/hall-of-fame/magnus-carlsen" class="flex p-2 rounded-md sm:py-4 sm:px-2 md:p-4 bg-dark-oak">
              <div class="flex items-center justify-center gap-4 lg:justify-start">
                <div class="w-full sm:w-3/4 lg:w-1/2 xl:w-1/3">
                  <img src="/images/player-images/magnus-carlsen.webp" alt="Magnus Carlsen"
                    class="rounded-md border-[1px] border-spruce">
                </div>
                <div class="flex-col hidden w-1/2 lg:flex xl:w-2/3">
                  <h4>World Chess Champion</h4>
                  <hr class="border-[1px] border-birch w-1/3 mt-1">
                  <h3 class="mt-2 font-serif text-xl font-bold uppercase 2xl:text-2xl">Magnus</h3>
                  <h2 class="font-serif text-xl font-bold uppercase 2xl:text-3xl">Carlsen</h2>
                </div>
              </div>
            </a>
          </li>
          <li>
            <a href="/hall-of-fame/garry-kasparov" class="flex p-2 rounded-md sm:py-4 sm:px-2 md:p-4 bg-dark-oak">
              <div class="flex items-center justify-center gap-4 lg:justify-start">
                <div class="w-full sm:w-3/4 lg:w-1/2 xl:w-1/3">
                  <img src="/images/player-images/garry-kasparov.webp" alt="Garry Kasparov"
                    class="rounded-md border-[1px] border-spruce">
                </div>
                <div class="flex-col hidden w-1/2 lg:flex xl:w-2/3">
                  <h4>World Chess Champion</h4>
                  <hr class="border-[1px] border-birch w-1/3 mt-1">
                  <h3 class="mt-2 font-serif text-xl font-bold uppercase 2xl:text-2xl">Garry</h3>
                  <h2 class="font-serif text-xl font-bold uppercase 2xl:text-3xl">Kasparov</h2>
                </div>
              </div>
            </a>
          </li>
          <li>
            <a href="/hall-of-fame/vladimir-kramnik" class="flex p-2 rounded-md sm:py-4 sm:px-2 md:p-4 bg-dark-oak">
              <div class="flex items-center justify-center gap-4 lg:justify-start">
                <div class="w-full sm:w-3/4 lg:w-1/2 xl:w-1/3">
                  <img src="/images/player-images/vladimir-kramnik.webp" alt="Vladimir Kramnik"
                    class="rounded-md border-[1px] border-spruce">
                </div>
                <div class="flex-col hidden w-1/2 lg:flex xl:w-2/3">
                  <h4>World Chess Champion</h4>
                  <hr class="border-[1px] border-birch w-1/3 mt-1">
                  <h3 class="mt-2 font-serif text-xl font-bold uppercase 2xl:text-2xl">Vladimir</h3>
                  <h2 class="font-serif text-xl font-bold uppercase 2xl:text-3xl">Kramnik</h2>
                </div>
              </div>
            </a>
          </li>
        </ul>

        <ul class="carousel to-left">
          <li>
            <a href="/hall-of-fame/magnus-carlsen" class="flex p-2 rounded-md sm:py-4 sm:px-2 md:p-4 bg-dark-oak">
              <div class="flex items-center justify-center gap-4 lg:justify-start">
                <div class="w-full sm:w-3/4 lg:w-1/2 xl:w-1/3">
                  <img src="/images/player-images/magnus-carlsen.webp" alt="Magnus Carlsen"
                    class="rounded-md border-[1px] border-spruce">
                </div>
                <div class="flex-col hidden w-1/2 lg:flex xl:w-2/3">
                  <h4>World Chess Champion</h4>
                  <hr class="border-[1px] border-birch w-1/3 mt-1">
                  <h3 class="mt-2 font-serif text-xl font-bold uppercase 2xl:text-2xl">Magnus</h3>
                  <h2 class="font-serif text-xl font-bold uppercase 2xl:text-3xl">Carlsen</h2>
                </div>
              </div>
            </a>
          </li>
          <li>
            <a href="/hall-of-fame/garry-kasparov" class="flex p-2 rounded-md sm:py-4 sm:px-2 md:p-4 bg-dark-oak">
              <div class="flex items-center justify-center gap-4 lg:justify-start">
                <div class="w-full sm:w-3/4 lg:w-1/2 xl:w-1/3">
                  <img src="/images/player-images/garry-kasparov.webp" alt="Garry Kasparov"
                    class="rounded-md border-[1px] border-spruce">
                </div>
                <div class="flex-col hidden w-1/2 lg:flex xl:w-2/3">
                  <h4>World Chess Champion</h4>
                  <hr class="border-[1px] border-birch w-1/3 mt-1">
                  <h3 class="mt-2 font-serif text-xl font-bold uppercase 2xl:text-2xl">Garry</h3>
                  <h2 class="font-serif text-xl font-bold uppercase 2xl:text-3xl">Kasparov</h2>
                </div>
              </div>
            </a>
          </li>
          <li>
            <a href="/hall-of-fame/vladimir-kramnik" class="flex p-2 rounded-md sm:py-4 sm:px-2 md:p-4 bg-dark-oak">
              <div class="flex items-center justify-center gap-4 lg:justify-start">
                <div class="w-full sm:w-3/4 lg:w-1/2 xl:w-1/3">
                  <img src="/images/player-images/vladimir-kramnik.webp" alt="Vladimir Kramnik"
                    class="rounded-md border-[1px] border-spruce">
                </div>
                <div class="flex-col hidden w-1/2 lg:flex xl:w-2/3">
                  <h4>World Chess Champion</h4>
                  <hr class="border-[1px] border-birch w-1/3 mt-1">
                  <h3 class="mt-2 font-serif text-xl font-bold uppercase 2xl:text-2xl">Vladimir</h3>
                  <h2 class="font-serif text-xl font-bold uppercase 2xl:text-3xl">Kramnik</h2>
                </div>
              </div>
            </a>
          </li>
        </ul>
      </div>

      {{!-- Carousel two --}}
      <div class="carousel-container">
        <ul class="carousel to-right">
          <li>
            <a href="/hall-of-fame/robert-fischer" class="flex p-2 rounded-md sm:py-4 sm:px-2 md:p-4 bg-dark-oak">
              <div class="flex items-center justify-center gap-4 lg:justify-start">
                <div class="w-full sm:w-3/4 lg:w-1/2 xl:w-1/3">
                  <img src="/images/player-images/robert-fischer.webp" alt="Robert Fischer"
                    class="rounded-md border-[1px] border-spruce">
                </div>
                <div class="flex-col hidden w-1/2 lg:flex xl:w-2/3">
                  <h4>World Chess Champion</h4>
                  <hr class="border-[1px] border-birch w-1/3 mt-1">
                  <h3 class="mt-2 font-serif text-xl font-bold uppercase 2xl:text-2xl">Robert</h3>
                  <h2 class="font-serif text-xl font-bold uppercase 2xl:text-3xl">Fischer</h2>
                </div>
              </div>
            </a>
          </li>
          <li>
            <a href="/hall-of-fame/veselin-topalov" class="flex p-2 rounded-md sm:py-4 sm:px-2 md:p-4 bg-dark-oak">
              <div class="flex items-center justify-center gap-4 lg:justify-start">
                <div class="w-full sm:w-3/4 lg:w-1/2 xl:w-1/3">
                  <img src="/images/player-images/veselin-topalov.webp" alt="Veselin Topalov"
                    class="rounded-md border-[1px] border-spruce">
                </div>
                <div class="flex-col hidden w-1/2 lg:flex xl:w-2/3">
                  <h4>World Chess Champion</h4>
                  <hr class="border-[1px] border-birch w-1/3 mt-1">
                  <h3 class="mt-2 font-serif text-xl font-bold uppercase 2xl:text-2xl">Veselin</h3>
                  <h2 class="font-serif text-xl font-bold uppercase 2xl:text-3xl">Topalov</h2>
                </div>
              </div>
            </a>
          </li>
          <li>
            <a href="/hall-of-fame/anatoly-karpov" class="flex p-2 rounded-md sm:py-4 sm:px-2 md:p-4 bg-dark-oak">
              <div class="flex items-center justify-center gap-4 lg:justify-start">
                <div class="w-full sm:w-3/4 lg:w-1/2 xl:w-1/3">
                  <img src="/images/player-images/anatoly-karpov.webp" alt="Anatoly Karpov"
                    class="rounded-md border-[1px] border-spruce">
                </div>
                <div class="flex-col hidden w-1/2 lg:flex xl:w-2/3">
                  <h4>World Chess Champion</h4>
                  <hr class="border-[1px] border-birch w-1/3 mt-1">
                  <h3 class="mt-2 font-serif text-xl font-bold uppercase 2xl:text-2xl">Anatoly</h3>
                  <h2 class="font-serif text-xl font-bold uppercase 2xl:text-3xl">Karpov</h2>
                </div>
              </div>
            </a>
          </li>
        </ul>

        <ul class="carousel to-right">
          <li>
            <a href="/hall-of-fame/robert-fischer" class="flex p-2 rounded-md sm:py-4 sm:px-2 md:p-4 bg-dark-oak">
              <div class="flex items-center justify-center gap-4 lg:justify-start">
                <div class="w-full sm:w-3/4 lg:w-1/2 xl:w-1/3">
                  <img src="/images/player-images/robert-fischer.webp" alt="Robert Fischer"
                    class="rounded-md border-[1px] border-spruce">
                </div>
                <div class="flex-col hidden w-1/2 lg:flex xl:w-2/3">
                  <h4>World Chess Champion</h4>
                  <hr class="border-[1px] border-birch w-1/3 mt-1">
                  <h3 class="mt-2 font-serif text-xl font-bold uppercase 2xl:text-2xl">Robert</h3>
                  <h2 class="font-serif text-xl font-bold uppercase 2xl:text-3xl">Fischer</h2>
                </div>
              </div>
            </a>
          </li>
          <li>
            <a href="/hall-of-fame/veselin-topalov" class="flex p-2 rounded-md sm:py-4 sm:px-2 md:p-4 bg-dark-oak">
              <div class="flex items-center justify-center gap-4 lg:justify-start">
                <div class="w-full sm:w-3/4 lg:w-1/2 xl:w-1/3">
                  <img src="/images/player-images/veselin-topalov.webp" alt="Veselin Topalov"
                    class="rounded-md border-[1px] border-spruce">
                </div>
                <div class="flex-col hidden w-1/2 lg:flex xl:w-2/3">
                  <h4>World Chess Champion</h4>
                  <hr class="border-[1px] border-birch w-1/3 mt-1">
                  <h3 class="mt-2 font-serif text-xl font-bold uppercase 2xl:text-2xl">Veselin</h3>
                  <h2 class="font-serif text-xl font-bold uppercase 2xl:text-3xl">Topalov</h2>
                </div>
              </div>
            </a>
          </li>
          <li>
            <a href="/hall-of-fame/anatoly-karpov" class="flex p-2 rounded-md sm:py-4 sm:px-2 md:p-4 bg-dark-oak">
              <div class="flex items-center justify-center gap-4 lg:justify-start">
                <div class="w-full sm:w-3/4 lg:w-1/2 xl:w-1/3">
                  <img src="/images/player-images/anatoly-karpov.webp" alt="Anatoly Karpov"
                    class="rounded-md border-[1px] border-spruce">
                </div>
                <div class="flex-col hidden w-1/2 lg:flex xl:w-2/3">
                  <h4>World Chess Champion</h4>
                  <hr class="border-[1px] border-birch w-1/3 mt-1">
                  <h3 class="mt-2 font-serif text-xl font-bold uppercase 2xl:text-2xl">Anatoly</h3>
                  <h2 class="font-serif text-xl font-bold uppercase 2xl:text-3xl">Karpov</h2>
                </div>
              </div>
            </a>
          </li>
        </ul>
      </div>

      {{!-- Carousel three --}}
      {{!-- <div class="carousel-container">
        <ul class="carousel to-left">
          <li>
            <a href="/hall-of-fame/ding-liren" class="flex p-2 rounded-md sm:py-4 sm:px-2 md:p-4 bg-dark-oak">
              <div class="flex items-center justify-center gap-4 lg:justify-start">
                <div class="w-full sm:w-3/4 lg:w-1/2 xl:w-1/3">
                  <img src="/images/player-images/ding-liren.webp" alt="Ding Liren"
                    class="rounded-md border-[1px] border-spruce">
                </div>
                <div class="flex-col hidden w-1/2 lg:flex xl:w-2/3">
                  <h4>World Chess Champion</h4>
                  <hr class="border-[1px] border-birch w-1/3 mt-1">
                  <h3 class="mt-2 font-serif text-xl font-bold uppercase 2xl:text-2xl">Ding</h3>
                  <h2 class="font-serif text-xl font-bold uppercase 2xl:text-3xl">Liren</h2>
                </div>
              </div>
            </a>
          </li>
          <li>
            <a href="/hall-of-fame/hou-yifan" class="flex p-2 rounded-md sm:py-4 sm:px-2 md:p-4 bg-dark-oak">
              <div class="flex items-center justify-center gap-4 lg:justify-start">
                <div class="w-full sm:w-3/4 lg:w-1/2 xl:w-1/3">
                  <img src="/images/player-images/hou-yifan.webp" alt="Hou Yifan"
                    class="rounded-md border-[1px] border-spruce">
                </div>
                <div class="flex-col hidden w-1/2 lg:flex xl:w-2/3">
                  <h4>World Chess Champion</h4>
                  <hr class="border-[1px] border-birch w-1/3 mt-1">
                  <h3 class="mt-2 font-serif text-xl font-bold uppercase 2xl:text-2xl">Hou</h3>
                  <h2 class="font-serif text-xl font-bold uppercase 2xl:text-3xl">Yifan</h2>
                </div>
              </div>
            </a>
          </li>
          <li>
            <a href="/hall-of-fame/mikhail-tal" class="flex p-2 rounded-md sm:py-4 sm:px-2 md:p-4 bg-dark-oak">
              <div class="flex items-center justify-center gap-4 lg:justify-start">
                <div class="w-full sm:w-3/4 lg:w-1/2 xl:w-1/3">
                  <img src="/images/player-images/mikhail-tal.webp" alt="Mikhail Tal"
                    class="rounded-md border-[1px] border-spruce">
                </div>
                <div class="flex-col hidden w-1/2 lg:flex xl:w-2/3">
                  <h4>World Chess Champion</h4>
                  <hr class="border-[1px] border-birch w-1/3 mt-1">
                  <h3 class="mt-2 font-serif text-xl font-bold uppercase 2xl:text-2xl">Mikhail</h3>
                  <h2 class="font-serif text-xl font-bold uppercase 2xl:text-3xl">Tal</h2>
                </div>
              </div>
            </a>
          </li>
        </ul>

        <ul class="carousel to-left">
          <li>
            <a href="/hall-of-fame/ding-liren" class="flex p-2 rounded-md sm:py-4 sm:px-2 md:p-4 bg-dark-oak">
              <div class="flex items-center justify-center gap-4 lg:justify-start">
                <div class="w-full sm:w-3/4 lg:w-1/2 xl:w-1/3">
                  <img src="/images/player-images/ding-liren.webp" alt="Ding Liren"
                    class="rounded-md border-[1px] border-spruce">
                </div>
                <div class="flex-col hidden w-1/2 lg:flex xl:w-2/3">
                  <h4>World Chess Champion</h4>
                  <hr class="border-[1px] border-birch w-1/3 mt-1">
                  <h3 class="mt-2 font-serif text-xl font-bold uppercase 2xl:text-2xl">Ding</h3>
                  <h2 class="font-serif text-xl font-bold uppercase 2xl:text-3xl">Liren</h2>
                </div>
              </div>
            </a>
          </li>
          <li>
            <a href="/hall-of-fame/hou-yifan" class="flex p-2 rounded-md sm:py-4 sm:px-2 md:p-4 bg-dark-oak">
              <div class="flex items-center justify-center gap-4 lg:justify-start">
                <div class="w-full sm:w-3/4 lg:w-1/2 xl:w-1/3">
                  <img src="/images/player-images/hou-yifan.webp" alt="Hou Yifan"
                    class="rounded-md border-[1px] border-spruce">
                </div>
                <div class="flex-col hidden w-1/2 lg:flex xl:w-2/3">
                  <h4>World Chess Champion</h4>
                  <hr class="border-[1px] border-birch w-1/3 mt-1">
                  <h3 class="mt-2 font-serif text-xl font-bold uppercase 2xl:text-2xl">Hou</h3>
                  <h2 class="font-serif text-xl font-bold uppercase 2xl:text-3xl">Yifan</h2>
                </div>
              </div>
            </a>
          </li>
          <li>
            <a href="/hall-of-fame/mikhail-tal" class="flex p-2 rounded-md sm:py-4 sm:px-2 md:p-4 bg-dark-oak">
              <div class="flex items-center justify-center gap-4 lg:justify-start">
                <div class="w-full sm:w-3/4 lg:w-1/2 xl:w-1/3">
                  <img src="/images/player-images/mikhail-tal.webp" alt="Mikhail Tal"
                    class="rounded-md border-[1px] border-spruce">
                </div>
                <div class="flex-col hidden w-1/2 lg:flex xl:w-2/3">
                  <h4>World Chess Champion</h4>
                  <hr class="border-[1px] border-birch w-1/3 mt-1">
                  <h3 class="mt-2 font-serif text-xl font-bold uppercase 2xl:text-2xl">Mikhail</h3>
                  <h2 class="font-serif text-xl font-bold uppercase 2xl:text-3xl">Tal</h2>
                </div>
              </div>
            </a>
          </li>
        </ul>
      </div> --}}
    </div>
  </section>

  <section class="mb-28">
    <div class="mb-20"> {{!-- Section title --}}
      <div class="relative space-y-2 font-serif font-bold text-center uppercase text-oak">
        <h3 class="mb-8 text-3xl sm:text-4xl">Learn About The</h3>
        <div class="flex flex-col items-center justify-center mb-8">
          <hr class="w-full border-2 border-oak">
          <h2 class="px-4 text-4xl -translate-y-1/2 sm:text-5xl bg-spruce">Pieces</h2>
        </div>
      </div>
      <p class="paragraph">
        Begin your path by immersing yourself in the fascinating intricacies of how each piece navigates the chessboard,
        revealing the profound depths of their strategic power.
      </p>
    </div>

    {{!-- Pieces section --}}
    <div class="grid overflow-hidden rounded-md md:grid-cols-2 lg:grid-cols-3">
      <div class="px-4 py-6 bg-birch bg-[url('/images/checkered-background.png')] bg-repeat flex order-1">
        <div class="flex items-center gap-x-4">
          <div class="w-[70%] sm:w-3/4 md:w-4/6 xl:w-[67.5%] text-dark-oak">
            <div class="mb-4 font-serif font-bold uppercase">
              <h3 class="text-3xl">The</h3>
              <h4 class="text-4xl">King</h4>
              <hr class="w-1/2 border-[1px] mt-2 border-dark-oak">
            </div>
            <p class="text-lg line-clamp-6">
              The King is the most vital piece on the chessboard, embodying the ultimate objective of the game- Its
              presence commands the battlefield.
            </p>
          </div>
          <div class="w-[30%] sm:w-1/4 md:w-2/6 xl:w-[32.5%]">
            <img src="/images/piece-images/alpha/king.webp" alt="The King">
          </div>
        </div>
      </div>
      <div class="px-4 py-6 bg-oak bg-[url('/images/checkered-background.png')] bg-repeat flex order-2">
        <div class="flex items-center gap-x-4">
          <div class="w-[70%] sm:w-3/4 md:w-4/6 xl:w-[67.5%] text-cream">
            <div class="mb-4 font-serif font-bold uppercase">
              <h3 class="text-3xl">The</h3>
              <h4 class="text-4xl">Queen</h4>
              <hr class="w-1/2 border-[1px] mt-2">
            </div>
            <p class="text-lg line-clamp-6">
              The Queen is the most powerful piece, combining the strengths of the rook and bishop, dominating the board
              with unmatched versatility and range.
            </p>
          </div>
          <div class="w-[30%] sm:w-1/4 md:w-2/6 xl:w-[32.5%]">
            <img src="/images/piece-images/alpha/queen.webp" alt="The Queen">
          </div>
        </div>
      </div>
      <div
        class="px-4 py-6 bg-birch bg-[url('/images/checkered-background.png')] bg-repeat flex order-3 md:order-4 lg:order-3">
        <div class="flex items-center gap-x-4">
          <div class="w-[70%] sm:w-3/4 md:w-4/6 xl:w-[67.5%] text-dark-oak">
            <div class="mb-4 font-serif font-bold uppercase">
              <h3 class="text-3xl">The</h3>
              <h4 class="text-4xl">Bishop</h4>
              <hr class="w-1/2 border-[1px] mt-2 border-dark-oak">
            </div>
            <p class="text-lg line-clamp-6">
              The Bishop is a long-range piece that excels in open positions, strategically influencing the board
              through its extremely powerful diagonal control.
            </p>
          </div>
          <div class="w-[30%] sm:w-1/4 md:w-2/6 xl:w-[32.5%]">
            <img src="/images/piece-images/alpha/bishop.webp" alt="The Bishop">
          </div>
        </div>
      </div>
      <div
        class="px-4 py-6 bg-oak bg-[url('/images/checkered-background.png')] bg-repeat flex order-4 md:order-3 lg:order-4">
        <div class="flex items-center gap-x-4">
          <div class="w-[70%] sm:w-3/4 md:w-4/6 xl:w-[67.5%] text-cream">
            <div class="mb-4 font-serif font-bold uppercase">
              <h3 class="text-3xl">The</h3>
              <h4 class="text-4xl">Knight</h4>
              <hr class="w-1/2 border-[1px] mt-2">
            </div>
            <p class="text-lg line-clamp-6">
              The Knight is a versatile piece known for its unique movement and ability to jump over others. This
              unpredictable piece can prove to be quite dangerous.
            </p>
          </div>
          <div class="w-[30%] sm:w-1/4 md:w-2/6 xl:w-[32.5%]">
            <img src="/images/piece-images/alpha/knight.webp" alt="The Knight">
          </div>
        </div>
      </div>
      <div class="px-4 py-6 bg-birch bg-[url('/images/checkered-background.png')] bg-repeat flex order-5">
        <div class="flex items-center gap-x-4">
          <div class="w-[70%] sm:w-3/4 md:w-4/6 xl:w-[67.5%] text-dark-oak">
            <div class="mb-4 font-serif font-bold uppercase">
              <h3 class="text-3xl">The</h3>
              <h4 class="text-4xl">Rook</h4>
              <hr class="w-1/2 border-[1px] mt-2 border-dark-oak">
            </div>
            <p class="text-lg line-clamp-6">
              The Rook is a powerful piece that excels in controlling open lines and supporting other pieces. Its
              strength lies in its ability to dominate entire files and ranks.
            </p>
          </div>
          <div class="w-[30%] sm:w-1/4 md:w-2/6 xl:w-[32.5%]">
            <img src="/images/piece-images/alpha/rook.webp" alt="The Rook">
          </div>
        </div>
      </div>
      <div class="px-4 py-6 bg-oak bg-[url('/images/checkered-background.png')] bg-repeat flex order-6">
        <div class="flex items-center gap-x-4">
          <div class="w-[70%] sm:w-3/4 md:w-4/6 xl:w-[67.5%] text-cream">
            <div class="mb-4 font-serif font-bold uppercase">
              <h3 class="text-3xl">The</h3>
              <h4 class="text-4xl">Pawn</h4>
              <hr class="w-1/2 border-[1px] mt-2">
            </div>
            <p class="text-lg line-clamp-6">
              The Pawn is the most numerous piece on the chessboard, often seen as the backbone of a player's strategy.
              Their strength is in their numbers.
            </p>
          </div>
          <div class="w-[30%] sm:w-1/4 md:w-2/6 xl:w-[32.5%]">
            <img src="/images/piece-images/alpha/pawn.webp" alt="The Pawn">
          </div>
        </div>
      </div>
    </div>
  </section>

  {{!-- <section>
    <div class="mb-20">
      <div class="relative space-y-2 font-serif font-bold text-center uppercase text-dark-oak">
        <h3 class="mb-8 text-3xl sm:text-4xl">Wisdom From</h3>
        <div class="flex flex-col items-center justify-center mb-8">
          <hr class="w-full border-2 border-oak">
          <h2 class="px-4 text-4xl -translate-y-1/2 sm:text-5xl bg-spruce">Chess Masters</h2>
        </div>
      </div>
      <p class="paragraph">
        Explore the profound insights and timeless wisdom of some of the world's greatest players. Discover their
        strategic brilliance and personal philosophies that have shaped the world of chess.
      </p>
    </div>

    <div class="grid mb-20 md:px-20 lg:px-0 lg:grid-cols-2 gap-x-24 gap-y-20">
      <div>
        <div class="flex items-center gap-x-5">
          <div class="w-2/3 md:w-3/5 lg:w-1/2 xl:w-2/3">
            <div class="mb-2">
              <span>World Chess Champion 2013-2023</span>
              <hr class="border-[1px] border-spruce w-1/5">
            </div>
            <div class="mb-4">
              <h4 class="font-serif text-2xl font-bold uppercase">Magnus <br>Carlsen</h4>
            </div>
            <div>
              <p class="w-11/12 font-sans text-oak">
                “Some people think that if their opponent plays a beautiful game, it's okay to lose. I don't. You have
                to be merciless.”
              </p>
            </div>
          </div>
          <a href="/hall-of-fame/magnus-carlsen" class="w-1/3 md:w-2/5 lg:w-1/2 xl:w-1/3">
            <img src="/images/player-images/magnus-carlsen.webp" alt="Magnus Carlsen"
              class="rounded-2xl border-spruce border-[1px] w-full">
          </a>
        </div>
      </div>
      <div>
        <div class="flex items-center gap-x-5">
          <div class="w-2/3 md:w-3/5 lg:w-1/2 xl:w-2/3">
            <div class="mb-2">
              <span>World Chess Champion 1985-2000</span>
              <hr class="border-[1px] border-spruce w-1/5">
            </div>
            <div class="mb-4">
              <h4 class="font-serif text-2xl font-bold uppercase">Garry <br>Kasparov</h4>
            </div>
            <div>
              <p class="w-11/12 font-sans text-oak">
                “You should have a solid and well-developed position before going on the attack, is applicable to every
                field of battle.”
              </p>
            </div>
          </div>
          <a href="/hall-of-fame/garry-kasparov" class="w-1/3 md:w-2/5 lg:w-1/2 xl:w-1/3">
            <img src="/images/player-images/garry-kasparov.webp" alt="Garry Kasparov"
              class="rounded-2xl border-spruce border-[1px] w-full">
          </a>
        </div>
      </div>
      <div>
        <div class="flex items-center gap-x-5">
          <div class="w-2/3 md:w-3/5 lg:w-1/2 xl:w-2/3">
            <div class="mb-2">
              <span>World Chess Champion 1972-1975</span>
              <hr class="border-[1px] border-spruce w-1/5">
            </div>
            <div class="mb-4">
              <h4 class="font-serif text-2xl font-bold uppercase">Bobby <br>Fischer</h4>
            </div>
            <div>
              <p class="w-11/12 font-sans text-oak">
                “Chess is a matter of delicate judgement, knowing when to punch and how to duck.”
              </p>
            </div>
          </div>
          <a href="/hall-of-fame/robert-fischer" class="w-1/3 md:w-2/5 lg:w-1/2 xl:w-1/3">
            <img src="/images/player-images/robert-fischer.webp" alt="Bobby Fischer"
              class="rounded-2xl border-spruce border-[1px] w-full">
          </a>
        </div>
      </div>
      <div>
        <div class="flex items-center gap-x-5">
          <div class="w-2/3 md:w-3/5 lg:w-1/2 xl:w-2/3">
            <div class="mb-2">
              <span>World Chess Champion 2000-2006</span>
              <hr class="border-[1px] border-spruce w-1/5">
            </div>
            <div class="mb-4">
              <h4 class="font-serif text-2xl font-bold uppercase">Vladimir <br>Kramnik</h4>
            </div>
            <div>
              <p class="w-11/12 font-sans text-oak">
                “For me, art and chess are closely related, both are forms in which the self finds beauty and
                expression.”
              </p>
            </div>
          </div>
          <a href="/hall-of-fame/vladimir-kramnik" class="w-1/3 md:w-2/5 lg:w-1/2 xl:w-1/3">
            <img src="/images/player-images/vladimir-kramnik.webp" alt="Vladimir Kramnik"
              class="rounded-2xl border-spruce border-[1px] w-full">
          </a>
        </div>
      </div>
    </div>
  </section> --}}

  {{!-- Divider section --}}
  <div class="px-8 py-10 mb-20 bg-dark-oak text-cream">
    <div class="relative mb-4 space-y-2 font-serif font-bold text-center uppercase">
      <h3 class="mb-8 text-4xl">Begin Your</h3>
      <div class="flex flex-col items-center justify-center mb-8">
        <hr class="w-full border-2 border-cream">
        <h2 class="px-4 text-5xl -translate-y-1/2 bg-dark-oak">Chess Path</h2>
      </div>
    </div>
    <p class="paragraph">
      Explore the profound insights and timeless wisdom of some of the world's greatest players. Discover their
      strategic brilliance and personal philosophies that have shaped the world of chess.
    </p>
    <div class="mt-10 text-center">
      <a href="/notation" class="button">How To Play</a>
    </div>
  </div>

  <section>
    {{!-- Zigzag section --}}
    <div
      class="grid items-center mx-auto mb-40 text-center lg:text-left justify-items-center lg:justify-items-start lg:grid-cols-2 gap-x-10 lg:gap-x-20 xl:gap-x-0 gap-y-20">
      <div>
        <div class="order-1">
          <div class="mb-8">
            <span>Daily chess challenges</span>
            <hr class="border-[1px] border-spruce w-1/5 mx-auto lg:mx-0 mt-1 lg:mt-0">
          </div>
          <div class="mb-6 space-y-1">
            <h5 class="font-serif text-2xl font-bold uppercase">Everyday</h5>
            <h4 class="font-serif text-3xl font-bold uppercase">Chess Puzzles</h4>
          </div>
          <div class="mb-6">
            <p class="w-11/12 mx-auto font-sans text-oak lg:mx-0">
              Sharpen your skills and challenge your mind with our daily chess puzzles. Each day, you'll encounter a new
              puzzle designed to test your tactical acumen and improve your strategic thinking.
            </p>
          </div>
          <div>
            <a href="/daily-puzzle" class="button">Try Today's Puzzle</a>
          </div>
        </div>
      </div>
      <div class="order-2 w-full lg:justify-self-end">
        <div class="w-11/12 mx-auto aspect-square position-board" data-fen="" data-highlight-squares=""></div>
      </div>
      <div class="order-4 lg:order-3">
        <div class="font-serif text-6xl font-bold !tracking-wider space-y-5 whitespace-nowrap !text-left">
          <h3>1. e4 e5</h3>
          <h3>2. Nf3 nc6</h3>
          <h3>3. Bc4 Bc5</h3>
        </div>
      </div>
      <div class="order-3 lg:order-4">
        <div>
          <div class="mb-8">
            <span>The global chess language</span>
            <hr class="border-[1px] border-spruce w-1/5 mx-auto lg:mx-0 mt-1 lg:mt-0">
          </div>
          <div class="mb-6 space-y-1">
            <h5 class="font-serif text-2xl font-bold uppercase">Learn</h5>
            <h4 class="font-serif text-3xl font-bold uppercase">Chess Notation</h4>
          </div>
          <div class="mb-6">
            <p class="w-11/12 mx-auto font-sans text-oak lg:mx-0">
              Understanding chess notation is essential for studying games, recording your own matches, and
              communicating with other players. It is a universal language that allows players to replay their games and
              call out moves.
            </p>
          </div>
          <div>
            <a href="/notation" class="button">Learn Chess Notation</a>
          </div>
        </div>
      </div>
      <div class="order-5">
        <div>
          <div class="mb-8">
            <span>Evolution of chess</span>
            <hr class="border-[1px] border-spruce w-1/5 mx-auto lg:mx-0 mt-1 lg:mt-0">
          </div>
          <div class="mb-6 space-y-1">
            <h5 class="font-serif text-2xl font-bold uppercase">Chess</h5>
            <h4 class="font-serif text-3xl font-bold uppercase">Timeline</h4>
          </div>
          <div class="mb-6">
            <p class="w-11/12 mx-auto font-sans text-oak lg:mx-0">
              Explore the rich history and evolution of chess from its origins in ancient India to the modern era. The
              timeline highlights the key milestones, influential figures, and pivotal moments for the game's evolution.
            </p>
          </div>
          <div>
            <a href="/timeline" class="button">See The Timeline</a>
          </div>
        </div>
      </div>
      <div class="order-6 w-full lg:justify-self-end">
        <img src="/images/paul-morphy.webp" alt="Timeline" class="w-11/12 mx-auto border-[1px] border-spruce">
      </div>
    </div>

    {{!-- Epilogue section --}}
    <div class="mb-32">
      <div class="relative space-y-2 font-serif font-bold text-center uppercase text-dark-oak">
        <h3 class="mb-8 text-3xl sm:text-4xl">Start</h3>
        <div class="flex flex-col items-center justify-center mb-8">
          <hr class="w-full border-2 border-oak">
          <h2 class="px-4 text-4xl -translate-y-1/2 sm:text-5xl bg-spruce">Right Now</h2>
        </div>
      </div>
      <p class="paragraph">
        Jump into the fascinating world of chess and begin your journey today. Whether you're a complete beginner or
        looking to brush up on the basics, we provide all the essentials you need to get started.
      </p>
      <div class="mt-10 text-center">
        <a href="/notation" class="button">Start Learning</a>
      </div>
    </div>
  </section>
</div>