<div class="container py-20 mx-auto font-sans">

  {{!-- Introduction section --}}
  <section class="section-container">
    <div class="mb-20">
      <div class="relative mb-10 space-y-2 font-serif font-bold text-center uppercase text-dark-oak">
        <h3 class="mb-8 text-3xl">The Language Of</h3>
        <div class="flex flex-col items-center justify-center mb-8">
          <hr class="w-full border-2 border-oak">
          <h2 class="px-4 text-4xl -translate-y-1/2 bg-cream">Chess Notation</h2>
        </div>
      </div>

      <div class="flex gap-10">
        <div class="bg-white p-5 w-1/2 mx-auto rounded-lg border-spruce border-[1px]">
          <h4 class="mb-8 font-serif text-2xl font-bold uppercase">What Notation Is:</h4>
          <div class="mx-auto space-y-5 font-sans text-xl">
            <p>
              Chess notation is a simple geometric system used to record the moves in a chess game.
            </p>
            <p>
              It typically involves using a grid system with letters (a-h) for columns and numbers (1-8) for rows to
              identify specific squares on the board.
            </p>
          </div>
        </div>
        <div class="bg-white p-5 w-1/2 mx-auto rounded-lg border-spruce border-[1px]">
          <h4 class="mb-8 font-serif text-2xl font-bold uppercase">What It's For:</h4>
          <div class="mx-auto space-y-5 font-sans text-xl">
            <p>
              Chess notation is not only used to record chess games, but it's also used to refer to specific squares on
              the chessboard.
            </p>
            <p>
              This provides a medium for different chess players all throughout the world to talk about their games,
              regardless of language limitations!
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>

  {{!-- Empty board section --}}
  <section class="section-container">
    <div class="flex flex-col items-center text-center gap-y-20 lg:flex-row gap-x-10 lg:text-left">
      <div class="lg:w-1/2">
        <div class="mb-8 space-y-0.5">
          <span>How It Works</span>
          <h4 class="font-serif text-lg font-bold uppercase">Empty Board</h4>
          <hr class="lg:mx-0 mx-auto w-1/5 lg:w-2/5 border-[1px] border-oak">
        </div>
        <div class="paragraphs-container !text-dark-oak">
          <p>
            The chess board is divided into rows and columns <span class="font-semibold">(ranks and files
              respectively)</span>. Each square is referred to by combining its file's letter with its rank's number.
          </p>
          <p>
            For example, on the board, the square <span class="font-semibold">g6</span> is on the g-file and 5th rank.
            Putting the file's letter and rank's number together, you get the square g6.
          </p>
        </div>
      </div>
      <div class="w-full md:w-3/4 lg:w-1/2">
        <div class="w-full aspect-square position-board" data-fen="8/8/8/8/8/8/8/8"
          data-highlight-squares="g1,g2,g3,g4,g5,a5,b5,c5,d5,e5,f5"></div>
      </div>
    </div>
  </section>
</div>