<div class="container py-20 mx-auto font-sans">

  {{!-- Introduction section --}}
  <section class="section-container">
    <div class="mb-20">
      <div class="relative mb-10 space-y-2 font-serif font-bold text-center uppercase text-dark-oak">
        <h3 class="mb-8 text-3xl">The Language Of</h3>
        <div class="flex flex-col items-center justify-center mb-8">
          <hr class="w-full border-2 border-oak">
          <h2 class="px-4 text-4xl -translate-y-1/2 bg-cream">Chess Notation</h2>
        </div>
      </div>

      <div class="flex gap-10">
        <div class="bg-white p-5 w-1/2 mx-auto rounded-lg border-spruce border-[1px]">
          <h4 class="mb-8 font-serif text-2xl font-bold uppercase">What Notation Is:</h4>
          <div class="mx-auto space-y-5 font-sans text-xl">
            <p>
              Chess notation is a simple geometric system used to record the moves in a chess game.
            </p>
            <p>
              It typically involves using a grid system with letters (a-h) for columns and numbers (1-8) for rows to
              identify specific squares on the board.
            </p>
          </div>
        </div>
        <div class="bg-white p-5 w-1/2 mx-auto rounded-lg border-spruce border-[1px]">
          <h4 class="mb-8 font-serif text-2xl font-bold uppercase">What It's For:</h4>
          <div class="mx-auto space-y-5 font-sans text-xl">
            <p>
              Chess notation is not only used to record chess games, but it's also used to refer to specific squares on
              the chessboard.
            </p>
            <p>
              This provides a medium for different chess players all throughout the world to talk about their games,
              regardless of language limitations!
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>

  {{!-- Empty board section --}}
  <section class="py-10 section-container">
    <div class="flex flex-col items-center text-center gap-y-20 lg:flex-row gap-x-10 lg:text-left">
      <div class="lg:w-1/2">
        <div class="mb-8 space-y-0.5">
          <span>How It Works</span>
          <h4 class="font-serif text-lg font-bold uppercase">Empty Board</h4>
          <hr class="lg:mx-0 mx-auto w-1/5 lg:w-2/5 border-[1px] border-oak">
        </div>
        <div class="paragraphs-container !text-dark-oak">
          <p>
            The chess board is divided into rows and columns <span class="font-semibold">(ranks and files
              respectively)</span>. Each square is referred to by combining its file's letter with its rank's number.
          </p>
          <p>
            For example, on the board, the square <span class="font-semibold">g6</span> is on the g-file and 5th rank.
            Putting the file's letter and rank's number together, you get the square g6.
          </p>
        </div>
      </div>
      <div class="w-full md:w-3/4 lg:w-1/2">
        <div class="w-full aspect-square position-board" data-fen="8/8/8/8/8/8/8/8"
          data-highlight-squares="g1,g2,g3,g4,g5,a5,b5,c5,d5,e5,f5"></div>
      </div>
    </div>
  </section>

  {{!-- Chess notation with pieces section --}}
  <section class="py-20 section-container">
    <div class="mb-16 space-y-0.5 text-center">
      <span class="text-lg">How To Record Moves</span>
      <h4 class="font-serif text-xl font-bold uppercase">Chess Notation With Pieces</h4>
      <hr class="mx-auto w-1/5 border-[1px] border-oak">
    </div>

    <div class="grid items-center grid-cols-2 gap-x-20 gap-y-32">
      <div class="order-1">
        <div class="mb-8 space-y-0.5">
          <span>Referring To Each Piece</span>
          <h4 class="font-serif text-lg font-bold uppercase">The Pieces</h4>
          <hr class=" w-2/5 border-[1px] border-oak">
        </div>
        <div class="paragraphs-container !text-dark-oak">
          <p>
            With chess notation, each piece has a certain letter representing it. For example the king is <span
              class="font-semibold">"K"</span>, and the queen is <span class="font-semibold">"Q"</span>. Here are the
            letters for each piece:
          </p>
          <p>
          <ul class="list-disc list-inside">
            <li>King: <span class="font-semibold">"K"</span></li>
            <li>Queen: <span class="font-semibold">"Q"</span></li>
            <li>Knight: <span class="font-semibold">"N"</span></li>
            <li>Bishop: <span class="font-semibold">"B"</span></li>
            <li>Rook: <span class="font-semibold">"R"</span></li>
            <li>Pawn: <span class="font-semibold">(pawns do not get letters)</span></li>
          </ul>
          </p>
        </div>
      </div>
      <div class="order-2">
        <div class="position-board" data-highlight-squares=""></div>
      </div>
      <div class="order-4">
        <div class="mb-8 space-y-0.5">
          <span>Referring To A Move</span>
          <h4 class="font-serif text-lg font-bold uppercase">Moving The Pieces</h4>
          <hr class=" w-2/5 border-[1px] border-oak">
        </div>
        <div class="paragraphs-container !text-dark-oak">
          <p>
            How can you tell someone which piece you moved and where to? Well, you use the earlier notation to refer to
            the square and the specific piece letter.
          </p>
          <p>
            Here's an example. Let's say our knight moved from the b1 square to c3. This move would be <b>"Nc3".</b>
            First comes the piece, then the square it has moved to.
          </p>
          <p>
            Take a look at the board, the rook has just moved from d3 to d7. What would this move be? The correct answer
            is <b>Rd7.</b>
          </p>
        </div>
      </div>
      <div class="order-3">
        <div class="position-board" data-fen="1kr5/1ppR2p1/p6p/7P/6P1/1P6/P1P5/1K6" data-highlight-squares="d3,d7">
        </div>
      </div>
      <div class="order-5">
        <div class="mb-8 space-y-0.5">
          <span>Captures, Checks, and Checkmates</span>
          <h4 class="font-serif text-lg font-bold uppercase">Different Move Types</h4>
          <hr class=" w-2/5 border-[1px] border-oak">
        </div>
        <div class="paragraphs-container !text-dark-oak">
          <p>
            What if we capture a piece with our piece, or deliver check or checkmate with our move?
          </p>
          <p>
            If the move we make is a capture, then we need to put an <b>"x"</b> between the piece and square. For
            example: <b>"Bxa6"</b> (bishop takes a6) or <b>"Qxh7"</b> (queen takes h7).
          </p>
          <p>
            If our move is a check, then we need to put a <b>"+"</b> at the end, for example: <b>"Bb5+"</b> or
            <b>"Bxf7+"</b>.
          </p>
          <p>
            If our move is a checkmate, then we need to place a <b>"#"</b> at the end, such as: <b>Qxf7#</b>.
          </p>
        </div>
      </div>
      <div class="order-6">
        <div class="position-board" data-fen="rnbqk2r/1pp1bppp/p2p1n2/4p2Q/2B1P3/2NP4/PPP2PPP/R1B1K1NR"
          data-highlight-squares="c4,b5,a6,h5,g6,f7,d5,e6">
        </div>
      </div>
      <div class="order-8">
        <div class="mb-8 space-y-0.5">
          <span>Special Pawn Notation</span>
          <h4 class="font-serif text-lg font-bold uppercase">Pawn Moves And Captures</h4>
          <hr class=" w-2/5 border-[1px] border-oak">
        </div>
        <div class="paragraphs-container !text-dark-oak">
          <p>
            A lot of people confuse how pawns and their notations work, due to their lack of letters.
          </p>
          <p>
            Pawn moves are very simple: all you need is the square that they move to. For example, if a pawn moves from
            e2 to e4, then the move would be <b>"e4"</b>.
          </p>
          <p>
            Pawn captures are comprised of <b>the file the pawn is on and the square it is capturing</b>. For example, if the
            white pawn on e4 captures the one on d5, the move would be <b>"exd5"</b>.
          </p>
        </div>
      </div>
      <div class="order-7">
        <div class="position-board" data-fen="rnbqkbnr/ppp2ppp/8/3pp3/4P3/8/PPPP1PPP/RNBQKBNR"
          data-highlight-squares="e2,e4">
        </div>
      </div>
    </div>
  </section>


</div>