<div class="container mx-auto font-sans">
  {{!-- Title --}}
  <section class="py-20 section-container">
    <div class="relative space-y-2 font-serif font-bold text-center uppercase text-dark-oak">
      <h3 class="mb-8 text-3xl">Explore Our</h3>
      <div class="flex flex-col items-center justify-center mb-8">
        <hr class="w-full border-2 border-oak">
        <h2 class="px-4 text-4xl -translate-y-1/2 bg-cream">Chess Timeline</h2>
      </div>
      <div class="w-3/5 mx-auto font-sans text-lg normal-case paragraphs-container !text-dark-oak">
        <p class="">
          Discover the rich history of chess through our interactive timeline. From its ancient origins to modern-day
          marvels, explore key moments that shaped the game we love today.
        </p>
        <p>
          Go through each era to learn more about the evolution of chess, legendary matches, and the iconic figures who
          left their mark on this timeless strategy game.
        </p>
      </div>
    </div>
  </section>

  <section class="py-10 section-container">
    <div class="grid grid-cols-2 gap-x-10 gap-y-20">
      <div>

      </div>
    </div>
  </section>

  <section class="pb-20 section-container">
    <ul
      class="flex items-start py-10 overflow-x-scroll bg-white gap-x-8 snap-x snap-mandatory rounded-t-xl horizontal-timeline">
      <li class="shrink-0 max-w-[50%] snap-center p-4">
        <div class="flex items-center flex-1 mb-4 gap-x-10">
          <div class="space-y-0.5">
            <span>(6th Century AD)</span>
            <h4 class="text-2xl font-semibold">The Ancient Era: Birth of Chess in India</h4>
          </div>
          <div>(icon)</div>
        </div>
        <div class="paragraphs-container !text-dark-oak">
          <p>
            Chess originated in India around the 6th century AD with the game Chaturanga. Played on an 8x8 board, it
            reflected military strategies, with pieces representing the four divisions of the Indian army: infantry
            (the pawns), cavalry (the knights), elephants (the bishops), and chariots (the rooks).
          </p>
          <p>
            Chaturanga was not just a game; it was a useful tool for teaching tactics and strategy, deeply rooted in
            Indian military practices and culture. This early version laid the very foundation for chess's global
            evolution, marking the start of its rich history.
          </p>
      </li>
      <li class="shrink-0 max-w-[50%] snap-center p-4">
        <div class="flex items-center flex-1 mb-4 gap-x-10">
          <div class="space-y-0.5">
            <span>(7th - 10th Century AD)</span>
            <h4 class="text-2xl font-semibold">The Persian Era: Chess Meets Persian Culture</h4>
          </div>
          <div>(icon)</div>
        </div>
        <div class="paragraphs-container !text-dark-oak">
          <p>
            As Chaturanga spread from India to Persia, it evolved into the game of Shatranj, retaining its basic
            structure while absorbing Persian cultural elements. The king piece became the Shah, and “Shah Mat,” meaning
            “the king is helpless,” evolved into “checkmate.”
          </p>
          <p>
            Shatranj emphasized strategic depth, introducing key concepts like the opening, middlegame, and endgame.
            This period marked chess's transformation from a war simulation to an intellectual pursuit, becoming a
            cherished pastime in Persian society and setting the stage for further evolution.
          </p>
      </li>
      <li class="shrink-0 max-w-[50%] snap-center p-4">
        <div class="flex items-center flex-1 mb-4 gap-x-10">
          <div class="space-y-0.5">
            <span>(8th - 13th Century AD)</span>
            <h4 class="text-2xl font-semibold">The Islamic Golden Age: Chess as a Scholarly Pursuit</h4>
          </div>
          <div>(icon)</div>
        </div>
        <div class="paragraphs-container !text-dark-oak">
          <p>
            During the Islamic Golden Age, chess thrived as a scholarly pursuit, with Islamic scholars making
            significant contributions to chess theory. They expanded upon earlier knowledge, and the game spread widely
            across the Islamic world, even reaching Europe through Spain and Sicily.
          </p>
          <p>
            Chess's strategic complexity earned it respect as an intellectual activity. As it gained popularity, it was
            deeply studied, leading to a greater understanding of its intricacies. This era laid the groundwork for
            chess's integration into European culture and society.
          </p>
      </li>
      <li class="shrink-0 max-w-[50%] snap-center p-4">
        <div class="flex items-center flex-1 mb-4 gap-x-10">
          <div class="space-y-0.5">
            <span>(15th Century AD)</span>
            <h4 class="text-2xl font-semibold">The Medieval and Renaissance Era: The Rise of Modern Chess</h4>
          </div>
          <div>(icon)</div>
        </div>
        <div class="paragraphs-container !text-dark-oak">
          <p>
            In the 15th century, chess in Europe, particularly in Spain and Italy, underwent significant changes,
            evolving into the modern game we know today. The most notable change was the introduction of the powerful
            queen, replacing the weaker Firzan (counselor).
          </p>
          <p>
            The bishop's movement expanded, and pawns could move two squares on their first move. These innovations made
            chess faster-paced and more dynamic. By the late 15th century, the rules were largely standardized, marking
            the birth of modern chess and its widespread popularity across Europe.
          </p>
      </li>
      <li class="shrink-0 max-w-[50%] snap-center p-4">
        <div class="flex items-center flex-1 mb-4 gap-x-10">
          <div class="space-y-0.5">
            <span>(16th Century - Present)</span>
            <h4 class="text-2xl font-semibold">The Global Era: Chess as a Worldwide Phenomenon</h4>
          </div>
          <div>(icon)</div>
        </div>
        <div class="paragraphs-container !text-dark-oak">
          <p>
            With the rules of modern chess established, the game quickly spread across Europe and beyond, becoming a
            global phenomenon. Chess evolved into a game that transcended cultural boundaries, appealing to players of
            all ages and backgrounds.
          </p>
          <p>
            The game's international appeal led to the formation of official organizations, world championships, and the
            development of chess as both a competitive sport and a popular pastime. Now, there's millions of players
            around the world enjoying the game both online and offline, just like you!
          </p>
      </li>
    </ul>
    <div class="w-full h-2 overflow-hidden bg-gray-200 rounded-b-xl">
      <div class="w-0 h-2 bg-oak scroll-progress-bar"></div>
    </div>
  </section>
</div>