<div class="container mx-auto font-sans">
  {{!-- Title --}}
  <section class="py-20 section-container">
    <div class="relative space-y-2 font-serif font-bold text-center uppercase text-dark-oak">
      <h3 class="mb-8 text-3xl">Explore Our</h3>
      <div class="flex flex-col items-center justify-center mb-8">
        <hr class="w-full border-2 border-oak">
        <h2 class="px-4 text-4xl -translate-y-1/2 bg-cream">Chess Timeline</h2>
      </div>
      <div class="w-3/5 mx-auto font-sans text-lg normal-case paragraphs-container !text-dark-oak">
        <p class="">
          Discover the rich history of chess through our interactive timeline. From its ancient origins to modern-day
          marvels, explore key moments that shaped the game we love today.
        </p>
        <p>
          Click through each era to learn more about the
          evolution of chess, legendary matches, and the iconic figures who left their mark on this timeless strategy
          game.
        </p>
      </div>
    </div>
  </section>
</div>