<section class="container px-10 pt-20 mx-auto font-sans">
  <div class="flex flex-wrap items-end mb-20 lg:flex-nowrap gap-y-10 lg:gap-0">
    <div class="order-2 md:w-full lg:w-1/3 2xl:w-1/4 lg:order-1">
      <img src="/images/piece-images/beta/knight.webp" alt=""
        class="w-1/3 sm:px-2 mx-auto lg:w-3/5 xl:w-5/12 2xl:w-1/2 -scale-x-100">
    </div>
    <div class="order-1 text-center md:w-full lg:w-2/3 2xl:w-3/4 2xl:px-20 lg:order-2 sm:text-left">
      <h2 class="mb-4 font-serif text-2xl font-bold uppercase sm:text-3xl text-oak">Introducing</h2>
      <div class="flex flex-wrap items-center mb-6 gap-x-4 sm:flex-nowrap">
        <h1 class="w-full sm:w-auto mb-4 font-serif text-4xl font-bold uppercase sm:text-5xl text-oak sm:mb-0">
          The Knight
        </h1>
        <hr class="w-4/5 sm:w-auto border-2 sm:flex-1 border-oak mx-auto sm:mx-0">
      </div>
      <div class="space-y-4 text-lg">
        <p>
          The knight moves in an “L” shape, two squares in one direction, then one square sideways. This unusual move
          makes it tricky and unpredictable. It's also the only piece that can jump over others, which allows it to
          strike from unexpected places, making it great for surprising attacks and breaking through defenses.
        </p>
        <p>
          Knights are strongest in the center, where they control more spaces. Mastering the knight helps you set traps
          and win material with clever forks!
        </p>
      </div>
    </div>
  </div>

  <div>
    
  </div>
</section>