@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@400;700&family=Public+Sans:ital,wght@0,100..900;1,100..900&display=swap");
@import url("./fonts.css");
@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  @apply w-full overflow-x-hidden;
}

body {
  @apply w-full overflow-x-hidden bg-spruce text-birch;
}

body *.font-sans {
  @apply font-light tracking-wide;
}

body *.font-serif {
  @apply tracking-widest;
}

#menu-toggle:checked + #menu {
  @apply block;
}

.header-item {
  @apply block w-full p-3 rounded-md lg:inline hover:bg-slate-600 lg:p-0 lg:hover:bg-transparent;
}

.button {
  @apply px-8 py-2 2xl:text-xl rounded-md bg-ash border-[1px] border-cream duration-100 text-cream whitespace-nowrap;
}

/* Carousel section */
@keyframes slide {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(calc(-100% - 1rem));
  }
}

.carousel.to-left {
  animation: 20s slide linear infinite;
}

.carousel.to-right {
  animation: 20s slide reverse infinite linear;
}

.carousel-container {
  will-change: transform;
  transform: translateZ(0);
  user-select: none;
  @apply relative flex items-center gap-x-4 overflow-hidden;
}

.carousel {
  @apply flex w-full gap-x-4 shrink-0;
}

.round-icon-button {
  @apply flex items-center justify-center w-12 h-12 rounded-full text-2xl bg-ash border-[1px] border-transparent hover:border-birch duration-300;
}

.carousel-container:hover .carousel {
  animation-play-state: paused;
}

.details-list {
  @apply [&>*:nth-child(even)]:!font-bold [&>*:nth-child(even)]:!mb-6 text-lg [&>*:nth-child(odd)]:text-oak;
}

.paragraphs-container {
  @apply space-y-6 text-lg text-oak;
}

.paragraphs-container b {
  @apply font-semibold;
}

.searchbar {
  @apply relative mx-auto md:w-3/5 lg:w-2/5;
}

.searchbar > input {
  @apply bg-ash w-full px-4 py-2 rounded-lg border-[1px] border-birch text-birch outline-none;
}

.searchbar > span {
  @apply absolute -translate-y-1/2 right-5 top-1/2;
}

.section-container {
  @apply px-10 md:px-5 lg:px-10 xl:px-28;
}

.slider {
  @apply relative w-full h-5;
}

.slider input {
  @apply absolute w-full xl:w-4/5;
}

/* Make the slider points be on the same level, and both draggable */
.slider input::-webkit-slider-thumb {
  pointer-events: all;
  position: relative;
  z-index: 1;
  outline: 0;
}

.slider input::-moz-range-thumb {
  pointer-events: all;
  position: relative;
  z-index: 10;
  -moz-appearance: none;
  width: 20px;
}

/* Mozilla styles */
.slider input::-moz-range-track {
  position: relative;
  z-index: -1;
  background-color: rgba(0, 0, 0, 1);
  border: 0;
}

.slider input:last-of-type::-moz-range-track {
  -moz-appearance: none;
  background: none transparent;
  border: 0;
}

.fail-panel {
  @apply !text-rose-500 !border-rose-600;
}

.success-panel {
  @apply !text-emerald-500 !border-emerald-600;
}

.success {
  @apply !text-emerald-500;
}

.fail {
  @apply !text-rose-500;
}

.highlighted-white {
  @apply !bg-red-400;
}

.highlighted-black {
  @apply !bg-red-500;
}

.in-check-black {
  background-image: radial-gradient(red 0%, transparent 100%);
}

.in-check-white {
  background-image: radial-gradient(red 0%, transparent 100%);
}

.move-highlight-white {
  background-color: rgb(205, 210, 123) !important;
}

.move-highlight-black {
  background-color: rgb(172, 162, 73) !important;
}

/* To rounded the corner of the chessboards */
.board-b72b1 {
  @apply rounded-md overflow-hidden mx-auto;
}

.link {
  @apply text-blue-600 active:text-blue-800;
}

.move {
  @apply py-[2px] px-2 duration-75 hover:bg-dark-oak hover:text-cream border-spruce;
}

.move.correct {
  @apply bg-emerald-200 hover:bg-emerald-500 text-green-600 hover:text-green-100;
}

.move.incorrect {
  @apply bg-red-200 hover:bg-red-500 text-red-600 hover:text-red-100;
}

.move-number {
  @apply py-0.5 bg-white border-r-[1px];
}

.paragraph {
  @apply mx-auto mb-8 font-sans text-xl md:w-4/5 lg:w-3/5 text-center;
}
