@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@400;700&family=Public+Sans:ital,wght@0,100..900;1,100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-cream text-dark-oak;
}

body *.font-sans {
  @apply font-light tracking-wide;
}

body *.font-serif {
  @apply tracking-widest;
}

#menu-toggle:checked + #menu {
  @apply block;
}

.header-item {
  @apply block w-full p-3 rounded-md lg:inline hover:bg-slate-600 lg:p-0 lg:hover:bg-transparent;
}

.button {
  @apply px-8 py-2 rounded-md bg-birch border-[1px] border-spruce active:bg-cream duration-100 text-spruce whitespace-nowrap;
}

.details-list {
  @apply [&>*:nth-child(even)]:!font-bold [&>*:nth-child(even)]:!mb-6 text-lg [&>*:nth-child(odd)]:text-oak;
}

.paragraphs-container {
  @apply space-y-6 text-lg text-oak;
}

.paragraphs-container b {
  @apply font-semibold;
}

.searchbar {
  @apply relative mx-auto md:w-3/5 lg:w-2/5;
}

.searchbar > input {
  @apply bg-white w-full px-4 py-2 rounded-lg border-[1px] border-spruce outline-none;
}

.searchbar > img {
  @apply absolute -translate-y-1/2 right-5 top-1/2;
}

.section-container {
  @apply px-10 md:px-10 lg:px-20 xl:px-28;
}

.slider {
  @apply relative w-full h-5;
}

.slider input {
  @apply absolute w-4/5;
}

/* Make the slider points be on the same level, and both draggable */
.slider input::-webkit-slider-thumb {
  pointer-events: all;
  position: relative;
  z-index: 1;
  outline: 0;
}

.slider input::-moz-range-thumb {
  pointer-events: all;
  position: relative;
  z-index: 10;
  -moz-appearance: none;
  width: 20px;
}

/* Mozilla styles */
.slider input::-moz-range-track {
  position: relative;
  z-index: -1;
  background-color: rgba(0, 0, 0, 1);
  border: 0;
}

.slider input:last-of-type::-moz-range-track {
  -moz-appearance: none;
  background: none transparent;
  border: 0;
}

.fail-panel {
  @apply !text-rose-500 !border-rose-600;
}

.success-panel {
  @apply !text-emerald-500 !border-emerald-600;
}

.success {
  @apply !text-emerald-500;
}

.fail {
  @apply !text-rose-500;
}

.highlighted-white {
  @apply !bg-red-400;
}

.highlighted-black {
  @apply !bg-red-500;
}

.in-check-black {
  background-image: radial-gradient(red 0%, transparent 100%);
}

.in-check-white {
  background-image: radial-gradient(red 0%, transparent 100%);
}

.move-highlight-white {
  background-color: rgba(155, 199, 0, 0.41) !important;
}

.move-highlight-black {
  background-color: rgba(120, 150, 0, 0.41) !important;
}

.link {
  @apply text-blue-600 active:text-blue-800;
}

.move {
  @apply py-[2px] px-2 duration-75 hover:bg-dark-oak hover:text-cream border-spruce;
}

.move.correct {
  @apply bg-emerald-200 hover:bg-emerald-500 text-green-600 hover:text-green-100;
}

.move.incorrect {
  @apply bg-red-200 hover:bg-red-500 text-red-600 hover:text-red-100;
}

.move-number {
  @apply py-0.5 bg-white border-r-[1px];
}