@font-face {
  font-family: "chessless";
  src: url("/fonts/chessless.ttf?o2v5b7") format("truetype"), url("/fonts/chessless.woff?o2v5b7") format("woff"), url("/fonts/chessless.svg?o2v5b7#chessless") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"],
[class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "chessless" !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-atlas:before {
  content: "\e900";
}
.icon-bishop:before {
  content: "\e901";
}
.icon-bolt:before {
  content: "\e902";
}
.icon-book-skull:before {
  content: "\e903";
}
.icon-brain:before {
  content: "\e904";
}
.icon-bulb:before {
  content: "\e905";
}
.icon-chessboard:before {
  content: "\e906";
}
.icon-cross:before {
  content: "\e907";
}
.icon-crossbones:before {
  content: "\e908";
}
.icon-direction:before {
  content: "\e909";
}
.icon-down-arrow:before {
  content: "\e90a";
}
.icon-filter:before {
  content: "\e90b";
}
.icon-fortress:before {
  content: "\e90c";
}
.icon-king:before {
  content: "\e90d";
}
.icon-knight:before {
  content: "\e90e";
}
.icon-medal:before {
  content: "\e90f";
}
.icon-next-arrow:before {
  content: "\e910";
}
.icon-ninja:before {
  content: "\e911";
}
.icon-path:before {
  content: "\e912";
}
.icon-pawn:before {
  content: "\e913";
}
.icon-pen-nib:before {
  content: "\e914";
}
.icon-people:before {
  content: "\e915";
}
.icon-person:before {
  content: "\e916";
}
.icon-prev-arrow:before {
  content: "\e917";
}
.icon-queen:before {
  content: "\e918";
}
.icon-range:before {
  content: "\e919";
}
.icon-rank:before {
  content: "\e91a";
}
.icon-rook:before {
  content: "\e91b";
}
.icon-search:before {
  content: "\e91c";
}
.icon-shield:before {
  content: "\e91d";
}
.icon-star:before {
  content: "\e91e";
}
.icon-strategic:before {
  content: "\e91f";
}
.icon-suitcase:before {
  content: "\e920";
}
.icon-tactical:before {
  content: "\e921";
}
.icon-trophy:before {
  content: "\e922";
}
.icon-value:before {
  content: "\e923";
}
