<div class="container py-20 mx-auto font-sans">
  <div class="space-y-20">
    <section class="flex items-center section-container"> {{!-- Section title --}}
      <div>
        <img src="https://placeholder.co/200x400" alt="">
      </div>
      <div class="relative flex-1 font-serif font-bold text-center uppercase text-dark-oak">
        <div class="flex flex-col items-center justify-center">
          <hr class="w-3/4 border-2 border-oak">
          <h2 class="px-6 text-5xl -translate-y-1/2 bg-cream">The</h2>
        </div>
        <h3 class="mb-8 text-7xl">{{piece.name}}</h3>
        <hr class="w-4/5 mx-auto border-2 border-oak">
        <h3 class="my-4 text-xl">{{piece.subtitle}}</h3>
        <hr class="w-1/2 mx-auto border-2 border-oak">
      </div>
      <div>
        <img src="https://placeholder.co/200x400" alt="">
      </div>
    </section>
  </div>
</div>

<h1 class="h-10 mt-10 bg-red-200 sm:bg-green-200 md:bg-blue-200 lg:bg-purple-300 xl:bg-lime-300 2xl:bg-yellow-200"></h1>